/* $Id: publiquiz.css 646e9fbbb01c 2015/02/18 07:58:56 Patrick $ */


table {
    clear: left;
    line-height: 2em;
}

input:disabled,
textarea:disabled {
    opacity: 1;
    color: black;
}


/* ======== TOP LEVEL ======= */


/* ~~~~~~~ pquizSubmit ~~~~~~ */

.pquizSubmit {
    margin-top: 1em;
    background-color: #fafafa;
    padding: .5em;
    text-align: right;
}

/* ~~~~~~~ pquizButton ~~~~~~~ */

.pquizButton {
    cursor: pointer;
    padding: .1em .4em .1em .4em;
    border: 1px solid #999999;
    border-radius: 3px;
    color: #004080;
    background: linear-gradient(#fafafa, #bbbbbb);
    text-decoration: none;
    text-shadow: 0 1px 0 #eeeeee;
    font-size: 85%;
    font-weight: normal;
}
a.pquizButton,
a.pquizButton:visited {
    padding: .24em .45em .24em .45em;
    color: #004080;
}
a.pquizButton:hover {
    text-decoration: none;
    background: linear-gradient(#ffffff, #cccccc);
}

a.pquizButton img { vertical-align: middle; }


/* ===== COMPONENT LEVEL ==== */


/* ~~~~ pquizQuizOneFile ~~~~ */

.pquizQuizOneFile {
    border-bottom: 1px dotted black;
    margin-bottom: 2em;
    padding-bottom: 1em;
}


/* ===== SECTION LEVEL ====== */


/* ~~~~~~ pquizElement ~~~~~~ */

.pquizElements {
    margin: .8em 1em 0 1.5em;
}

.pquizElement {
    margin-bottom: 1em;
}

/* ~~~ pquizInstructions ~~~~ */

.pquizInstructions {
    font-weight: bold;
    color: #004080;
    font-family: serif;
}

.pquizInstructions .pdocSection-ex {
    font-weight: normal;
}

/* ~~~~~~~ pquizEngine ~~~~~~ */

.pquizEngine {
    margin-top: .8em;
    font-family: serif;
}

/* ~~~~~~~~ pquizText ~~~~~~~ */

.pquizText {
    line-height: 2em;
}

.pquizText td {
    padding: .3em .5% .3em .5%;
}

/* ~~~~~~~~ pquizHelp ~~~~~~~ */

.pquizHelpButton {
    margin-top: 1em;
}

.pquizHelpText {
    display: none;
    margin-top: 1em;
    padding: .5em;
    border: 1px solid #004080;
    font-family: serif;
}

.pquizHelpText h1 {
    margin: 0 0 .5em 0;
}

.pquizHelpText legend {
    color: #004080;
    font-weight: bold;
    font-family: sans-serif;
}

/* ~~~~~~~ pquizAnswer ~~~~~~ */

.pquizAnswerText {
    display: none;
    margin-top: 1em;
    padding: .5em;
    border: 1px solid #339933;
    font-family: serif;
}

.pquizAnswerText legend {
    color: #339933;
    font-weight: bold;
    font-family: sans-serif;
}

/* ~~~~~~~~ pdocMedia ~~~~~~~ */

.pquizMatching .pdocMedia {
    margin-top: 0;
}


/* ====== BLOCK LEVEL ======= */


/* ~~~~~~ pquizContent ~~~~~~ */

.pquizContent {
    clear: left;
}

/* ~~~~~~ pquizChoices ~~~~~~ */

.pquizChoices {
    margin: .3em 0 .3em 0;
    padding-left: 0;
}
.pquizChoices li {
    list-style: none inside;
    margin-bottom: .2em;
}
.pquizChoices img {
    vertical-align: middle;
}

.pquizChoice.answerOk input {
    box-shadow: 0 2px 0 #54eb5a;
}

.pquizChoice.answerKo input {
    box-shadow: 0 2px 0 #ffa858;
}

/* ~~~~~~~ pquizItems ~~~~~~~ */

.pquizItems,
.pquizCategories,
.pquizCategoriesItems {
    float:left;
    padding: 1em 0 0 1em;
    margin-bottom: 1em;
    background-color: #fafafa;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    box-shadow: 2px 2px 3px #bbbbbb;
    min-height: 2.8em;
    min-width: 8em;
}

.pquizItem,
.pquizCategory,
.pquizCategoryItem {
    float:left;
    padding: .2em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #f0f8ff;
    border-radius: 5px;
    border: 1px solid #7f7f7f;
    white-space: nowrap;
    cursor: pointer;
}

.answer .pquizItem,
.answer .pquizCategory,
.answer .pquizCategoryItem {
    cursor: default;
}

.pquizItem.answerOk {
    color: black;
    border-bottom: 2px solid #54eb5a;
}

.pquizItem.answerKo {
    color: black;
    border-bottom: 2px solid #ffa858;
}

.pquizItemDropped {
    float: none;
    margin-right: 0;
}
.pquizBlockItemImageDropped {
    float: left;
}
.pquizInlineItemImageDropped {
    display: inline-block;
}
.pquizItemImageDropped {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    text-align: center;
}

/* ~~~~~~ pquizMatching ~~~~~ */

.pquizMatching td {
    border: none;
    vertical-align: top;
}

.pquizMatching .pquizItemDropped {
    margin-bottom: 0;
}

/* ~~~~ pquizCategories ~~~~~ */

.pquizCategory {
    padding: .2em 0.2em .2em 1em;
}

.categories .pquizChoices {
    line-height: 2.3em;
}

.categories .pquizChoices .pquizChoice {
    white-space: nowrap;
}

.pquizCategoriesChoices li {
    margin: .8em;
    padding: .3em;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    cursor: pointer;
}

.multiple .pquizCategoriesChoices li {
    display: list-item;
    padding: 0;
    border: none;
}

.pquizCategoriesBasket {
    float:left;
    margin: 1em 1em 1em 0;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #004080;
    box-shadow: 2px 2px 3px #bbbbbb;
}
.pquizCategoriesBasket .legend {
    font-size: 85%;
    text-align: center;
    padding: .5em 1em .5em 1em;
    background-color: #004080;
    color: white;
    border-radius: 5px 5px 0 0;
    white-space: nowrap;
}
.pquizCategoriesBasket .pquizCategoryDrop {
    min-height: 5em;
    min-width: 8em;
    text-align: center;
    padding: .5em .5em .3em .5em;
    border-radius: 0 0 5px 5px;
}

.pquizCategoryItemDropped {
    float: none;
    display: block;
    margin: 0 0 .2em 0;
}

.pquizCategoryColor {
    padding: 0em 1em;
    margin-left: 0.5em;
    margin-right: 0.2em;
    border-radius: 5px;
    border: 1px solid #7f7f7f;
    white-space: nowrap;
    cursor: pointer;
}

.pquizCategory.selected {
    background-color: #004080;
    color: white;
}

.pquizCategoryDrop.answer .pquizCategoryItem.answerOk,
.pquizCategoriesItems.answer .pquizCategoryItem.answerOk {
    color: black;
    border-bottom: 2px solid #54eb5a;
}
.pquizCategoryDrop.answer .pquizCategoryItem.answerKo,
.pquizCategoriesItems.answer .pquizCategoryItem.answerKo {
    color: black;
    border-bottom: 2px solid #ffa858;
}

/* ~ pquizMatchingLinkItems ~ */

.pquizMatchingLinkItems {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.pquizMatchingLinkItem {
    display: block;
    padding: .2em 1em .2em 1em;
    margin-bottom: 1em;
    background-color: #f0f8ff;
    border-radius: 5px;
    border: 1px solid #7f7f7f;
}

/* ~~~~~~~~~ pquizPip ~~~~~~~ */

[data-engine="pip"] .pquizDrop.answerOk {
    border-bottom: 2px solid #54eb5a;
}

[data-engine="pip"] .pquizDrop.answerOk .pquizItem {
    border-bottom: none;
}

[data-engine="pip"] .pquizDrop.answerKo {
    border-bottom: 2px solid #ffa858;
}

[data-engine="pip"] .pquizDrop.answerKo .pquizItem {
    border-bottom: none;
}

/* ~~~~~ pquizProduction ~~~~ */

.pquizProduction {
    margin-top: 1em;
    width: 100%;
    height: 12em;
}

/* ~~~~~~ pquizDropzone ~~~~~ */

.pquizDropzone {
    font-size: 108%;
    text-shadow: 1px 1px 1px #bbbbbb;
}

.pquizDropzone-visible {
    background-color: rgba(125, 125, 125, 0.3);
}

/* ~~~~~~ pquizMessage ~~~~~~ */

.pquizMessage {
    text-align: center;
    font-size: 116%;
    font-weight: bold;
}

/* ~~~~~~~ pquizScore ~~~~~~~ */

.pquizScore:before {
    content: 'Score : ';
}

.pquizScore {
    float: left;
    font-weight: bold;
}


/* ========= INLINES ======== */


/* ~~~~~~~~~~ radio ~~~~~~~~~ */

[data-engine-options="radio"] td.answerOk {
    background-color: #54eb5a;
}

[data-engine-options="radio"] td.answerKo {
    background-color: #ffa858;
}

/* ~~~~~~~~ pquizDrop ~~~~~~~ */

span.pquizDrop {
    display: inline-block;
    line-height: 2em;
}

.pquizDrop.answerOk .pquizItem {
    color: black;
    border-bottom: 2px solid #54eb5a;
}
.pquizDrop.answerKo .pquizItem {
    color: black;
    border-bottom: 2px solid #ffa858;
}

/* ~~~~~~~ pquizChoice ~~~~~~ */

span.pquizChoice {
    padding: .2em 0 .2em 0;
    background-color: #f0f8ff;
    border-radius: 5px;
    cursor: pointer;
}

.categories span.pquizChoice {
    padding: .2em .2em .2em .2em;
    border: 1px solid #7f7f7f;
    background-color: transparent;
}

/* ~~~~~~~ pquizPoint ~~~~~~~ */

.pquizPoint {
    padding: .2em 0 .2em 0;
    background-color: #c7e0f8;
    border-radius: 3px;
    cursor: pointer;
}

.pquizPoint.selected {
    color: #ffffff;
    background-color: #0086cb;
}

.pquizPoint.answerOk {
    border-bottom: 2px solid #54eb5a;
}

.pquizPoint.answerKo {
    border-bottom: 2px solid #ffa858;
}

.pquizPointMedia {
    display: inline-block;
    padding: 2px;
}

/* ~~~~~~~~ pquizColor ~~~~~~ */

.pquizColor1 { color: #00bdff; }
.pquizBgColor1 { background-color: #00bdff; }
.pquizColor2 { color: #fff693; }
.pquizBgColor2 { background-color: #fff693; }
.pquizColor3 { color: #c0ffc0; }
.pquizBgColor3 { background-color: #c0ffc0; }
.pquizColor4 { color: #e2aaff; }
.pquizBgColor4 { background-color: #e2aaff; }
.pquizColor5 { color: #ddddcc; }
.pquizBgColor5 { background-color: #ddddcc; }

/* ~~~~~~~ Miscellanous ~~~~~ */

.pquizItemColor {
    padding: 0em 1em;
    margin-left: 0.5em;
    margin-right: 0.2em;
    border-radius: 5px;
    border: 1px solid #7f7f7f;
    white-space: nowrap;
}
.pquizItemColor.answerOk { border: 1px solid #54eb5a; }
.pquizItemColor.answerKo { border: 1px solid #ffa858; }

input.answerOk, textarea.answerOk {
    border-bottom: 2px solid #54eb5a;
}

input.answerKo, textarea.answerKo {
    border-bottom: 2px solid #ffa858;
}

.dragOver {
    background-color: #98B5C1;
}

.pipDragOver {
    background-color: rgba(152, 181, 193, 0.5);
}
