/* $Id: publidoc_opener.css 301c3ebaab06 2014/12/09 10:21:56 Patrick $ */

body { margin: 0; }

img, video { max-width: 100%; max-height: 100%; }


/* ======== TOP LEVEL ======= */


/* ~~~~~~~ pdocVariable ~~~~~ */

.pdocVariable {
    display: none;
    color: black;
    margin-bottom: .2em;
}


/* ======= HEAD LEVEL ======= */


/* ~~~~~~~~ pdocMeta ~~~~~~~~ */

.pdocMeta {
    width: 100%;
    background-color: #f0f8ff;
    margin: .5em 0 1.5em 0;
    border: 1px solid #999999;
    box-shadow: 2px 2px 3px #bbbbbb;
}

.pdocMeta tr, .pdocMeta td {
    line-height: 1em;
    border: 1px dotted #999999;
    vertical-align: top;
}

.pdocMeta td input[type="text"]  {
    width: 100%;
}

.pdocMetaToolTip {
    width: 20px;
}

.preview .pdocMeta { display: None; }

/* ~~~~~~ pdocSubtitle ~~~~~~ */

.pdocSubtitle,
.pdocSubtitle1, .pdocSubtitle2 {
    color: #7f7f7f;
    margin-top: 0;
    text-shadow: none;
}

/* ~~~~~~~~ pdocCover ~~~~~~~ */

.pdocCover {
    margin-bottom: 1em;
}


/* ===== COMPONENT LEVEL ==== */


/* ~~~~~~ pdocDocument ~~~~~~ */

.pdocDocument {
    margin: 0 3px 0 3px;
}

/* ~~~~~~~ pdocTopic ~~~~~~~~ */

.pdocTopic {
    margin: 0 3px 1em 3px;
}


/* ====== SECTION LEVEL ===== */


/* ~~~~~~~ pdocSection ~~~~~~ */

.pdocSection1, .pdocSection2,
.pdocSection3, .pdocSection4,
.pdocSection5, .pdocBiblio {
    border-left: 2px solid #dcdcdc;
    padding-left: .4em;
}


/* ====== BLOCK LEVEL ======= */


/* ~~~~~~~~ pdocQuote ~~~~~~~ */

div.pdocQuote {
    border-left: 1px solid #5f7ab1;
}

/* ~~~~~~~~ pdocSpeech ~~~~~~ */

.pdocSpeech {
    border-left: 1px solid #339933;
    padding-left: .2em;
}

/* ~~~~~~~ pdocImage ~~~~~~~~ */

#content .pdocHeader .pdocMedia {
    margin-top: 0;
}
#content .pdocFooter .pdocMedia {
    margin-bottom: 0;
}
#content .pdocHeader img,
#content .pdocFooter img {
    max-height: 64px;
}

#content .pdocThumbnail,
#content .pdocThumbnail img,
#content .pdocImage-thumbnail img {
    max-width: 150px;
    max-height: 150px;
}

.pdocIcon {
    max-height: 32px;
}

.pdocCover img {
    max-height: 480px;
    box-shadow: 4px 4px 4px #bbbbbb;
}


/* ====== INLINE LEVEL ====== */


/* ~~~~~~ pdocWarning ~~~~~~~ */

.pdocWarnings {
    border: 1px solid red;
    padding: .2em .3em .4em .3em;
    margin-bottom: 1.5em;
    box-shadow: 2px 2px 3px #bbbbbb;
}

.pdocWarnings label {
    color: red;
    font-weight: bold;
    display: block;
}

.pdocWarnings span {
    color: #7f7f7f;
}

.pdocWarning {
    background-color: red;
}

/* ~~~~~~~~ pdocMath ~~~~~~~~ */

.pdocMath {
    font-family: sans-serif;
    background-color: #fffff0;
}

.pdocMathLatex {
    background-color: #eaffe9;
}