/* $Id: publidoc_schema.css 1a990b17a193 2014/12/28 11:45:35 Patrick $ */


/* ====== HEADER LEVEL ====== */


.e4xElt-title {
    margin: .8em 0 .2em 0;
}

.e4xElt-topic .e4xElt-title {
    border-bottom: none;
}

.e4xElt-subtitle {
    color: #7f7f7f;
    margin: 0 0 .2em 0;
    text-shadow: none;
}

.e4xElt-entry {
    display: none;
}

.e4xElt-contributor {
    margin-bottom: .8em;
    border-left: 2px solid #dcdcdc;
    padding-left: .4em;
    font-family: sans-serif;
}

.e4xElt-contributor * {
    border-left: 1px solid #dcdcdc;
    padding-left: .2em;
    margin: 0 0 .2em 0;
}
.e4xElt-contributor .e4xElt-lastname {
    font-weight: bold;
}

.e4xCast-source_book .e4xElt-title {
    margin: 0;
    border-bottom: none;
    text-shadow: none;
    color: black;
    font-size: 100%;
}

.e4xElt-keyword,
.e4xElt-subject {
    border-left: 1px solid #dcdcdc;
    padding-left: .2em;
    margin: 0 0 .2em 0;
}

.e4xElt-abstract {
    color: #7f7f7f;
    font-family: sans-serif;
    font-size: 85%;
    margin-bottom: .4em;
}


/* ===== DIVISION LEVEL ===== */


.e4xElt-division {
    padding-left: .8em;
    border-left: 8px solid #dcdcdc;
}

.e4xElt-front {
    font-size: 108%;
    margin: 1em 1.5em 1.5em 1.5em;
}


/* ==== COMPONENT LEVEL ===== */


.e4xElt-topic {
    border-bottom: 1px dotted black;
    margin-bottom: 1em;
}

.e4xElt-topic[data-type="dedication"] .e4xElt-section {
    margin-left: 30%;
}

.e4xElt-topic[data-type="inscription"] .e4xElt-section {
    margin-left: 50%;
}


/* ===== SECTION LEVEL ====== */


.e4xElt-header,
.e4xElt-footer {
    text-align: center;
}

.e4xElt-section[data-type="box"] {
    margin: 1em 0 1em 0;
    padding: .5em 1em .5em 1em;
    border: 1px solid #000000;
    background-color: #efefef;
}

.e4xElt-section[data-type="box"] .e4xElt-head {
    text-align: center;
}

.e4xElt-section {
    margin-bottom: .8em;
    border-left: 2px solid #dcdcdc;
    padding-left: .4em;
    font-family: serif;
}

.e4xElt-section .e4xElt-title {
    font-size: 123.1%;
    color: black;
    border-bottom: none;
    text-shadow: none;
}
.e4xElt-section .e4xElt-section .e4xElt-title {
    font-size: 116%;
}
.e4xElt-section .e4xElt-section .e4xElt-section .e4xElt-title {
    font-size: 108%;
    font-style: italic;
}
.e4xElt-section .e4xElt-section .e4xElt-section .e4xElt-section .e4xElt-title {
    font-weight: normal;
}

.e4xElt-section .e4xElt-subtitle {
    font-size: 100%;
}
.e4xElt-section .e4xElt-section .e4xElt-subtitle {
    font-weight: normal;
}


/* ======= BLOCK LEVEL ====== */


/* ~~~~~~~~~~~ p ~~~~~~~~~~~~ */

.e4xElt-p {
    border-left: 1px solid #dcdcdc;
    padding-left: .2em;
    margin: 0 0 .2em 0;
    text-align: justify;
    font-variant: normal;
}

/* ~~~~~~~~~~ list ~~~~~~~~~~ */

.e4xElt-list {
    border-left: 1px solid #993333;
    margin: .4em 0 .4em 0;
    padding-left: 1.8em;
}

.e4xElt-list[data-type="ordered"] li {
    list-style-type: decimal;
}

/* ~~~~~~~ blockquote ~~~~~~~ */

.e4xElt-blockquote {
    border-left: 1px solid #5f7ab1;
    margin: 0 0 .2em 0;
    padding: 0 1.5em 0 1.5em;
}
.e4xElt-blockquote .e4xElt-attribution {
    display: block;
    text-align: right;
    border-right: 1px solid #dcdcdc;
    padding-right: .2em;
}

/* ~~~~~~~~~ speech ~~~~~~~~~ */

.e4xElt-speech {
    border-left: 1px solid #339933;
    padding-left: .2em;
    margin: 0 0 .2em 0;
}
.e4xElt-speaker {
    margin-right: .5em;
}
.e4xElt-stage {
    color: #4f4f4f;
}

/* ~~~~~~~~~~ table ~~~~~~~~~ */

.e4xElt-table {
    margin: .4em 0 .4em 0;
}
.e4xElt-table table {
    width: 100%;
    margin: 0;
}

.e4xElt-th, .e4xElt-td {
    border: 1px solid black;
    min-height: 1.3em;
}
.e4xElt-tr[data-align='left'],
.e4xElt-td[data-align='left'],
.e4xElt-td[data-align='left'] .e4xElt-p { text-align: left; }
.e4xElt-tr[data-align='right'],
.e4xElt-td[data-align='right'],
.e4xElt-td[data-align='right'] .e4xElt-p { text-align: right; }
.e4xElt-tr[data-align='center'],
.e4xElt-td[data-align='center'],
.e4xElt-td[data-align='center'] .e4xElt-p { text-align: center; }
.e4xElt-tr[data-align='justify'],
.e4xElt-td[data-align='justify'],
.e4xElt-td[data-align='justify'] .e4xElt-p { text-align: justify; }
.e4xElt-tr[data-valign='top'],
.e4xElt-td[data-valign='top'],
.e4xElt-td[data-valign='top'] .e4xElt-p { vertical-align: top; }
.e4xElt-tr[data-valign='middle'],
.e4xElt-td[data-valign='middle'],
.e4xElt-td[data-valign='middle'] .e4xElt-p { vertical-align: middle; }
.e4xElt-tr[data-valign='bottom'],
.e4xElt-td[data-valign='bottom'],
.e4xElt-td[data-valign='bottom'] .e4xElt-p { vertical-align: bottom; }

.e4xElt-table .e4xElt-title {
    font-family: sans-serif;
    font-size: 93%;
    font-variant: small-caps;
}

.e4xElt-table .e4xElt-subtitle {
    font-size: 85%;
}

.e4xElt-caption {
    margin: .4em 0 .4em 0;
    border-left: 2px solid #dcdcdc;
    padding-left: .4em;
    color: #4f4f4f;
    font-family: sans-serif;
    font-size: 85%;
}

/* ~~~~~~~~~~ media ~~~~~~~~~ */

.e4xElt-media {
    margin: .3em 0 .3em 0;
    border: 1px dotted black;
}

.e4xElt-copyright {
    color: gray;
    font-size: 75%;
    font-style: italic;
}

.e4xElt-image img {
    max-height: 320px;
}
span.e4xElt-image img {
    max-height: 48px;
}

.e4xElt-hotspot {
    color: #aeaea0;
    font-size: 85%;
}

.e4xElt-video video {
    max-height: 320px;
}

.e4xElt-smil {
    background-color: #ffffee;
}


/* ======= INLINE LEVEL ===== */


.e4xElt-number { font-family: sans-serif; }
.e4xElt-number[data-type="roman"] { font-variant: small-caps; }
.e4xElt-acronym { font-variant: small-caps; }
.e4xElt-highlight { font-style: inherit; }
.e4xElt-emphasis { font-weight: inherit; }
.e4xElt-literal { font-family: monospace; }
.e4xElt-name[data-of="person"] { font-style: normal; font-variant: small-caps; }
.e4xElt-name[data-of="book"] { font-style: normal; text-decoration: underline; }
.e4xElt-foreign { font-family: sans-serif; }
.e4xElt-math { background-color: #fffff0; font-family: sans-serif; }
.e4xElt-latex { background-color: #eaffe9; }
.e4xElt-attribution { font-style: normal; font-family: sans-serif; }
.e4xElt-initial .e4xElt-c { font-weight: bold; font-size: 120%; }
.e4xElt-initial .e4xElt-w { font-variant: small-caps; }
.e4xElt-note { background-color: #f0f8ff; font-family: sans-serif; }
.e4xElt-note .e4xElt-w { color: #993333; font-size: 118%; }
.e4xElt-note .e4xElt-p { display: inline; margin-left: .5em; }
.e4xElt-link { color: #004080; }
.e4xElt-anchor { color: #5f7ab1; }
.e4xElt-smil { background-color: #ffffdd; }
