ul.current-arrow > li label {
  font-size: 100% !important;
  margin-right: 5px;
}
ul.current-arrow > li[current="true"] {
  list-style-type: none;
}
ul.current-arrow > li[current="true"]::before {
  content: "➡";
  margin-left: -1em;
}
.reviews-diffs-links {
  margin-bottom: 10px;
}
#error-container {
  border: 1px solid red;
  background-color: #ffb2b2;
  padding: 15px;
}
#error-container:not([haserror="true"]) {
  display: none;
}
#error-container h1 {
  font-size: 1.3em;
  font-weight: bold;
}
#error-container #error-stack {
  display: none;
}
#error-container #error-stack-toggle {
  display: block;
}
#error-container #error-close {
  display: block;
  margin-top: 1.5em;
}
