[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/plone-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = blog.policy
package-extras = [test]

eggs +=
    Products.PDBDebugMode
    Products.DocFinderTab
    Pillow
    ipdb

extensions +=
    mr.developer

parts +=
    omelette
    test
    robot
    createcoverage

show-picked-versions = true

    
[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[test]
recipe = zc.recipe.testrunner
eggs =
    ${buildout:eggs}
    ${buildout:package-name} ${buildout:package-extras}
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[ride,reload]

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/blog
flake8-ignore = E123,E124,E501,E126,E127,E128
