@charset "utf-8";

/* Copyright 2009-2014 California Institute of Technology. ALL RIGHTS
 * RESERVED. U.S. Government Sponsorship acknowledged.
 */

.certifications {
    float: right;
    padding-right: 1em;
}

.unacceptedBiomarkerAdmonishment {
    border: 1px dashed rgb(190, 195, 195);
    margin: 3em;
    padding: 3em;
    font-size: 90%;
}

.biomarkerName {
}

.tabberlive .tabbertabhide {
    display: none;
}
.tabberlive {
    margin-top: 1em;
}
ul.tabbernav {
    margin: 0;
    margin-bottom:-1px;
    padding: 1px 0 0 0;
    border-bottom:  1px solid rgb(190,195,195);
    border-left: 1px solid rgb(190,195,195);
    font-weight: normal;
    font-size: 120%;
}

ul.tabbernav li {
    list-style: none;
    margin: 0;
    display: inline;
}

ul.tabbernav li a {
    padding: 3px 0.7em;
    margin-left: 0px;
    border-top: 1px solid #778;
    border-right: 1px solid #778;
    border-bottom: none;
    background: rgb(221,221,221);
    text-decoration: none;
}
ul.tabbernav li a:link {
    color: rgb(45,53,52);
}
ul.tabbernav li a:visited {
    color: #667;
}

ul.tabbernav li a:hover {
    background: #f3f3f3;
    border-color: #778;
}

ul.tabbernav li.tabberactive a {
    background-color: #fff;
    border-bottom: none;
    border-bottom:solid 1px #fff;
    font-weight:bold;
}

ul.tabbernav li.tabberactive a:hover {
    color: #000;
    background: white;
    border-bottom: solid 1px #fff;
}
.tabberlive .tabbertab {
    padding: 7px;
    border: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-top: 0;
}
.tabberlive .tabbertab h2 {
    display:none;
}

.bmAttributes, .bodySysAttributes {
    float: right;
}
.organsIntro, .studyIntro {
    font-style: italic;
}
.studyForBodySystem {
    background-color: rgb(221,221,221);
    margin-left: 3em;
    padding: 0.1em 0 0.1em 1em;
}
.studyForBodySystem h4 {
    border-bottom: 1px dashed rgb(39,47,47);
}

.studyBox {
    background: #efefef url(++resource++study-bg.gif) repeat-x top left;
    margin-left: 3em;
}
.studyBoxTop div {
    background: url(++resource++studyTopLeft.gif) no-repeat top left;
}
.studyBoxTop {
    background: transparent url(++resource++studyTopRight.gif) no-repeat top right;
}
.studyBoxBottom div {
    background: url(++resource++studyBottomLeft.gif) no-repeat bottom left;
}
.studyBoxBottom {
    background: transparent url(++resource++studyBottomRight.gif) no-repeat bottom right;
}

.studyBoxTop div, .studyBoxTop, .studyBoxBottom div, .studyBoxBottom {
    width: 100%;
    height: 10px;
    font-size: 1px;
}
.studyBoxContent {
    margin: 0 10px;
}

.studyBoxContent table {
    background-color: #fff;
    font-size: 90%;
    width: 100%;
    border-top: solid 1px #ccc;
}
.studyBoxContent table td {
    padding: 4px;
    margin: 2px;
    border: solid 1px #ccc;
    border-top: 0;
    border-right: 0;
    vertical-align: top;
}
.studyBoxContent table th {
    border-bottom: dotted 1px #ccc;
    border-left: solid 1px #ccc;
    background-color: #f2f2f2;
    padding: 5px;
}
.stat {
    text-align: center;
}




/** ADDED **/
div#content {
	position:relative;
}
div#biomarker-aliases {
	border:1px solid #9c9;
	color:#444;
	margin:5px 5px 15px 0px;
	padding:5px;
}
div#biomarker-aliases h5 {
	background-color:#9c9;
	color:#fff;
	margin:-5px -5px 5px -5px;
	padding:5px;
}
span.hint {
	font-style:italic;
	color:#888;
}
div#biomarker-aliases ul {
	list-style:none;
	margin:5px 0 0 0;
	padding:0px;
	font-size:90%;
}

div#biomarker-aliases ul li {
	display:inline;
	margin-right:5px;
}

.attributebox {
	border:solid 1px #ccc;
	background:0;
	background-color:#eee;
	color:#333;
	width:20%;
	padding-top:5px;
	margin-right:5px;
	overflow:hidden;
}
div.attributebox-content h3 {
	color:#555;
	border-bottom-color:#777;
}

div#colLeftContent {
	position:relative;
	float:left;
	width:76%;
}
div#colLeftContent p {
	text-indent:15px;
}
div#colLeftContent h4 { 
	color:#555;
	font-weight:normal;
	font-size:17px;
	margin-top:20px;
	border-bottom:dotted 1px #bcbcbc;
}