[buildout]
installed_develop_eggs = 
parts = scripts test_all test_diazo_theme_core test_diazo_theme_customer

[scripts]
__buildout_installed__ = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/fullrelease
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/postrelease
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/lasttagdiff
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/prerelease
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/release
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/longtest
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/lasttaglog
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/unit2
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/unit2-2.7
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/nosetests
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/nosetests-2.7
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/coverage2
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/coverage-2.7
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/coverage
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/mrbob
__buildout_signature__ = z3c.recipe.scripts-1.0.1-py2.7.egg setuptools-12.4-py2.7.egg zc.recipe.egg-1.3.2-py2.7.egg zc.buildout-1.7.0-py2.7.egg
_b = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin
_d = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/develop-eggs
_e = /Volumes/Work/Development/buildout/shared-eggs
allowed-eggs-from-site-packages = *
bin-directory = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin
dependent-scripts = true
develop-eggs-directory = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/develop-eggs
eggs = %(__buildout_space_n__)sps.bob [test]
	zest.releaser
eggs-directory = /Volumes/Work/Development/buildout/shared-eggs
exec-sitecustomize = true
executable = /Users/thomas/venvs/plone_4/bin/python
include-site-packages = true
parts-directory = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/parts/scripts
python = buildout
recipe = z3c.recipe.scripts

[test_all]
__buildout_installed__ = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/test_all
__buildout_signature__ = collective.recipe.template-1.11-py2.7.egg zc.buildout-1.7.0-py2.7.egg setuptools-12.4-py2.7.egg
input = inline:
	#!/bin/sh
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/nosetests
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/test_diazo_theme_core
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/test_diazo_theme_customer
mode = 755
output = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/test_all
recipe = collective.recipe.template

[test_diazo_theme_core]
__buildout_installed__ = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/test_diazo_theme_core
__buildout_signature__ = collective.recipe.template-1.11-py2.7.egg zc.buildout-1.7.0-py2.7.egg setuptools-12.4-py2.7.egg
input = inline:
	#!/bin/sh
	set -e
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/mrbob -O buildout_tests ps.bob:diazo_theme --config test_answers/diazo_theme_core.ini
	cd /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/buildout_tests/ps.diazo.mytheme
	python bootstrap.py
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/buildout_tests/ps.diazo.mytheme/bin/buildout
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/buildout_tests/ps.diazo.mytheme/bin/testnorobot
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/buildout_tests/ps.diazo.mytheme/bin/code-analysis
	rm -rf /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/buildout_tests/ps.diazo.mytheme/
mode = 755
output = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/test_diazo_theme_core
recipe = collective.recipe.template

[test_diazo_theme_customer]
__buildout_installed__ = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/test_diazo_theme_customer
__buildout_signature__ = collective.recipe.template-1.11-py2.7.egg zc.buildout-1.7.0-py2.7.egg setuptools-12.4-py2.7.egg
input = inline:
	#!/bin/sh
	set -e
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/mrbob -O buildout_tests ps.bob:diazo_theme --config test_answers/diazo_theme_customer.ini
	cd /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/buildout_tests/customer.diazo.domain
	python bootstrap.py
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/buildout_tests/customer.diazo.domain/bin/buildout
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/buildout_tests/customer.diazo.domain/bin/testnorobot
	/Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/buildout_tests/customer.diazo.domain/bin/code-analysis
	rm -rf /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/buildout_tests/customer.diazo.domain/
mode = 755
output = /Volumes/Work/Propertyshelf/Plone/Packages/ps.bob/bin/test_diazo_theme_customer
recipe = collective.recipe.template

[buildout]
installed_develop_eggs = 

[buildout]
parts = test_all test_diazo_theme_core test_diazo_theme_customer scripts

[buildout]
parts = test_diazo_theme_core test_diazo_theme_customer scripts test_all

[buildout]
parts = test_diazo_theme_customer scripts test_all test_diazo_theme_core

[buildout]
parts = scripts test_all test_diazo_theme_core test_diazo_theme_customer

[buildout]
installed_develop_eggs = 

[buildout]
parts = test_all test_diazo_theme_core test_diazo_theme_customer scripts

[buildout]
parts = test_diazo_theme_core test_diazo_theme_customer scripts test_all

[buildout]
parts = test_diazo_theme_customer scripts test_all test_diazo_theme_core

[buildout]
parts = scripts test_all test_diazo_theme_core test_diazo_theme_customer

[buildout]
installed_develop_eggs = 

[buildout]
parts = test_all test_diazo_theme_core test_diazo_theme_customer scripts

[buildout]
parts = test_diazo_theme_core test_diazo_theme_customer scripts test_all

[buildout]
parts = test_diazo_theme_customer scripts test_all test_diazo_theme_core

[buildout]
parts = scripts test_all test_diazo_theme_core test_diazo_theme_customer
