[buildout]
extensions =
    buildout-versions

versions = versions
parts =
    scripts
    test_all
    test_diazo_theme_core
    test_diazo_theme_customer

develop = .
test_folder = buildout_tests


[scripts]
recipe = z3c.recipe.scripts
dependent-scripts = true
eggs =
    ps.bob [test]
    zest.releaser


[test_all]
recipe = collective.recipe.template
input = inline:
   #!/bin/sh
   ${buildout:directory}/bin/nosetests
   ${buildout:directory}/bin/test_diazo_theme_core
   ${buildout:directory}/bin/test_diazo_theme_customer
output = ${buildout:directory}/bin/test_all
mode = 755


[test_diazo_theme_core]
recipe = collective.recipe.template
input = inline:
   #!/bin/sh
   set -e
   ${buildout:directory}/bin/mrbob -O ${buildout:test_folder} ps.bob:diazo_theme --config test_answers/diazo_theme_core.ini
   cd ${buildout:directory}/${buildout:test_folder}/ps.diazo.mytheme
   python bootstrap.py
   ${buildout:directory}/${buildout:test_folder}/ps.diazo.mytheme/bin/buildout
   ${buildout:directory}/${buildout:test_folder}/ps.diazo.mytheme/bin/testnorobot
   ${buildout:directory}/${buildout:test_folder}/ps.diazo.mytheme/bin/code-analysis
   rm -rf ${buildout:directory}/${buildout:test_folder}/ps.diazo.mytheme/
output = ${buildout:directory}/bin/test_diazo_theme_core
mode = 755


[test_diazo_theme_customer]
recipe = collective.recipe.template
input = inline:
   #!/bin/sh
   set -e
   ${buildout:directory}/bin/mrbob -O ${buildout:test_folder} ps.bob:diazo_theme --config test_answers/diazo_theme_customer.ini
   cd ${buildout:directory}/${buildout:test_folder}/customer.diazo.domain
   python bootstrap.py
   ${buildout:directory}/${buildout:test_folder}/customer.diazo.domain/bin/buildout
   ${buildout:directory}/${buildout:test_folder}/customer.diazo.domain/bin/testnorobot
   ${buildout:directory}/${buildout:test_folder}/customer.diazo.domain/bin/code-analysis
   rm -rf ${buildout:directory}/${buildout:test_folder}/customer.diazo.domain/
output = ${buildout:directory}/bin/test_diazo_theme_customer
mode = 755


[versions]
Jinja2 = 2.6
ScriptTest = 1.2
buildout-versions = 1.7
distribute = 0.6.34
nose-selecttests = 0.3
unittest2 = 0.5.1
z3c.recipe.scripts = 1.0.1
zc.buildout = 1.7.0
zc.recipe.egg = 1.3.2
zest.releaser = 3.46

mr.bob = 0.1.1
nose = 1.2.1
six = 1.2.0
