; vim: set fileencoding=utf-8 :
; Andre Anjos <andre.anjos@idiap.ch>

[buildout]

parts = scripts
eggs =  antispoofing.fusion
		ipdb
		bob.extension
       	bob.blitz
       	bob.core
       	bob.io.base
       	bob.io.video
       	bob.ip.base
       	bob.ip.color
       	bob.ip.draw
       	bob.math
       	bob.measure
       	bob.learn.activation
       	bob.learn.linear
       	bob.learn.libsvm

develop = .

extensions = bob.buildout

; options for bob.buildout extension
;debug = true
verbose = true
;newest = false

[scripts]
recipe = bob.buildout:scripts
