.template-facetednavigation_view #faceted-results {
    padding-left: 1em;
}

.template-facetednavigation_view .contact-title,
.template-facetednavigation_view .organization-title {
    font-size: 110%;
    font-weight: bold;
}

.template-facetednavigation_view .contact-photo {
    float: left;
    margin-right: 14px;
}

.template-facetednavigation_view .organization-logo {
    float: left;
}

.template-facetednavigation_view .organization-title,
.template-facetednavigation_view .contact-title {
    display: block;
    margin-left: 80px;
}

.template-facetednavigation_view .organization-entry,
.template-facetednavigation_view .contact-entry {
    clear: both;
    min-height: 80px;
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

.template-facetednavigation_view .organization-entry .contact-info,
.template-facetednavigation_view .contact-entry .contact-info {
    margin-left: 80px;
}

.template-facetednavigation_view .organization-entry .contact-info > *,
.template-facetednavigation_view .contact-entry .contact-info > * {
    display: block;
}

.template-facetednavigation_view .contact-entry .contact-info .held_position {
    padding-top: 0.3em;
}

.template-facetednavigation_view .contact-selection{
    float: left;
    margin-right: 14px;
    margin-top: 22px;
}

.template-facetednavigation_view #contacts-selection-num{
    margin-left: 14px;
    white-space: nowrap;
}

.template-facetednavigation_view #msg-no-results,
.template-facetednavigation_view #faceted-add-contact,
.template-facetednavigation_view #faceted-add-person{
    margin: 12px 0px;
}
