; vim: set fileencoding=utf-8 :
; Andre Anjos <andre.anjos@idiap.ch>
; Thu 30 Aug 2012 15:36:56 CEST 

[buildout]
parts = scripts
eggs = antispoofing.motion
       bob.extension
       bob.blitz
       bob.core
       bob.io.base
       bob.io.video
       bob.sp
       bob.ip.base
       bob.ip.color
       bob.measure
       bob.learn.mlp
       bob.learn.activation
       bob.learn.linear

develop = .

extensions = bob.buildout

; options for bob.buildout extension
debug = true
verbose = true
newest = false


[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true


;[sources]

