@import url("./lib/jquery.jgrowl.css");

/* Lists */
.commentator-comment,
.commentator-comment-row {
    margin-bottom: 15px;
}

.commentator-new-comments {
    color: green;
}

#commentator-preview-placeholder {
    background: #fff;
    outline: 5px solid #AAA;
    padding: 5px;
    display: none;
    margin: 10px 0;
    overflow: hidden;
}

#comment-form .form-actions {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e3e3e3;
}

#comment-form .form-actions .checkbox {
    display: inline;
}

/* Comments */
.comments {
    position: relative;
    overflow: hidden;
}

.comments-list {
    padding-left: 25px;
}

.commentator-comment {
    list-style-type: none;
    margin-top: 20px;
}

.commentator-avatar {
    display: inline-block;
}

.commentator-comment .commentator-avatar {
    max-width: 24px;
    max-height: 24px;
}

.commentator-comment-author {
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
}

.commentator-comment-createdon {
    display: inline-block;
    font-size: 0.8em;
    color: #555555;
    margin-left: 10px;
}

.commentator-comment-edited {
    display: inline-block;
    font-size: 0.8em;
    color: #555555;
    margin-left: 10px;
    font-style: italic;
}

.commentator-comment-link {
    display: inline-block;
    margin-left: 15px;
}

.commentator-comment-header {
    position: relative;
}

.commentator-comment:hover > .commentator-comment-body > .commentator-comment-header > .commentator-comment-dot-wrapper {
    display: block;
}

.commentator-comment-dot-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
}

.commentator-comment-dot {
    width: 500px;
    height: 5px;
    right: 1px;
    top: 9px;
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAFCAYAAACw/UeDAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUTDRYgxxbUHAAAAFVJREFUGNO1kbENACEMxBwKJCRmICOw/xgZIaxAgZSGb34E4gVOPsNPRFySEAAzu2stxhjMOeX1SImI6+703nF3zjnPjUqtVVSVvTeqSmtNsm5LbfIBwCcf3dkm2FsAAAAASUVORK5CYII=) repeat-x 100% 0;
}

.commentator-comment-text {
    margin-top: 5px;
}

.commentator-reply-link a {
    font-size: 0.8em;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.commentator-comment-down {
    display: none;
}

/* Guest comment */
.commentator-comment-guest .commentator-comment-author {
    color: #AAA;
}

/* Bad comments*/
.commentator-comment .bad .commentator-comment-text {
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.commentator-comment .bad.bad5 .commentator-comment-text {
    opacity: 0.2;
}

.commentator-comment .bad.bad4 .commentator-comment-text {
    opacity: 0.35;
}

.commentator-comment .bad.bad3 .commentator-comment-text {
    opacity: 0.5;
}

.commentator-comment .bad.bad2 .commentator-comment-text {
    opacity: 0.65;
}

.commentator-comment .bad.bad1 .commentator-comment-text {
    opacity: 0.8;
}

.commentator-comment .bad.bad:hover .commentator-comment-text {
    opacity: 1;
}

#comment-editor {
    width: 99%;
    display: inline-block;
}

#comment-preview-placeholder {
    background: #fff;
    border: 5px solid #AAA;
    padding: 5px;
    display: none;
    margin: 10px 0;
    overflow: hidden;
}

/* Messages */
.commentator-message-success {
    background-color: green !important;
}

.commentator-message-error {
    background-color: brown !important;
}

.commentator-message-info {
    background-color: black !important;
}

/* Panel with spinner */
#comments-tpanel {
    width: 32px;
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -16px;
}

#tpanel {
    width: 32px;
    position: fixed;
    top: 50%;
    opacity: 0.5;
    background: #AAA;
}

#tpanel:hover {
    opacity: 1;
}

#tpanel .change {
    color: #666;
    font-size: 12px;
    text-decoration: none;
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: -15px
}

#tpanel .divider {
    border-top: solid 1px #5c5c5c;
    border-bottom: solid 1px #dddddd;
    width: 28px;
    height: 0px;
    margin: 0 auto;
}

#tpanel .refresh {
    display: block;
    background: url("../img/refresh.gif") no-repeat left top;
    width: 28px;
    margin: 2px;
    height: 28px;
    background-size: 32px;
}

#tpanel .refresh.loading {
    background: url("../img/loading.gif") no-repeat left top;
    background-size: 32px;
}

#tpanel .new {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 12px;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 6px;
    width: 34px;
    text-align: center;
}

#tpanel-refresh {
    opacity: .5;
    width: 32px;
    height: 32px;
    background-image: url('../img/refresh.gif');
    background-size: 32px;
    cursor: pointer;
}

#tpanel-refresh:hover {
    opacity: 1;
}

#tpanel-refresh.loading {
    opacity: 1;
    background-image: url('../img/loading.gif');
    cursor: default;
}

#tpanel-new {
    margin-top: 2px;
    border-top: solid 1px #efefef;
    text-align: center;
    color: darkgreen;
    cursor: pointer;
}

/* Unseen comment */
.commentator-comment-new .commentator-comment-header {
    background-color: #f5f5dc;
}
