; vim: set fileencoding=utf-8 :
; Elie Khoury <Elie.Khoury@idiap.ch>
; Wed 21 08 14:29:04 CEST 2013
; This is the configuration file for buildout.

[buildout]
parts = scripts
newest = false
develop = .

eggs = bob>=1.2.0
       gridtk>=0.3.5
       xbob.db.verification.filelist
       bob.spear
       xspear.fast_plda

;prefixes = /idiap/group/torch5spro/releases/bob-1.2.2/install/linux-x86_64-release/

[scripts]
recipe = xbob.buildout:scripts

