div.symbol {
    color : #0099CC;
}

div.sourcefile {
    color : #006666;
}

div.current {
    color: black;
    background-color : #78879b;
}

div.breakpoint {
    color: maroon;
    background-color : black;
}


div.error {
    color: purple
}

body {
    margin: 0;
}

pre {
    margin: 0;
}
