/*---[ dialog box ]----------------------------------------------------------*/
/* zrt-replace: "/@@/j01DialogImages" tal"string:${context/++resource++j01DialogImages}" */

.j01Dialog {
    height: auto;
    display: none;
    position: absolute;
    top: 16px;
    left: 0px;
    z-index: 8888;
    margin: 0px auto;
}

/* borders */
.j01DialogBGTL {
    width: 6px;
    height: 6px;
    background: url(/@@/j01DialogImages/dialogTL.gif);
}
.j01DialogBGTR {
    width: 6px;
    height: 6px;
    background: url(/@@/j01DialogImages/dialogTR.gif);
}
.j01DialogBGL,
.j01DialogBGR {
    width: 6px;
    background: url(/@@/j01DialogImages/dialogBorder.gif);
}
.j01DialogBGT,
.j01DialogBGB {
    height: 6px;
    background: url(/@@/j01DialogImages/dialogBorder.gif);
}
.j01DialogBGBL {
    width: 6px;
    height: 6px;
    background: url(/@@/j01DialogImages/dialogBL.gif);
}
.j01DialogBGBR {
    width: 6px;
    height: 6px;
    background: url(/@@/j01DialogImages/dialogBR.gif);
}

/* content */
.j01DialogBGContent {
    vertical-align: top;
    background: #FFFFFF url(/@@/j01DialogImages/dialogBGContent.gif);
}

.j01DialogContent {
    padding: 0px 12px 12px 12px;
}

.j01Dialog p {
    padding: 0px;
    margin: 0px;
}

.j01Dialog form {
    padding: 0px;
    margin: 0px;
}

/* controls */
.j01DialogControls {
    padding: 12px 12px 6px 12px;
}

.j01Dialog div.j01DialogTitle {
    height: 18px;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    padding-right: 20px;
}

.j01Dialog div.j01DialogClose {
    top: 0px;
    right: 5px;
    float: right;
}

/* overlay */
#j01DialogOverlay {
    position: fixed;
    z-index: 7777;
    top: 0px;
    left: 0px;
    background-color: #000000;
    filter:alpha(opacity=60);
    -moz-opacity: 0.65;
    opacity: 0.6;
    height: 100%;
    width: 100%;
}
