@font-face {
    font-family: 'Palatino Linotype';
    font-weight: normal;
    font-style: normal;
    src: url('../Fonts/tex-regular.ttf');
}

@font-face {
    font-family: 'Palatino Linotype';
    font-weight: bold;
    font-style: normal;
    src: url('../Fonts/tex-bold.ttf');
}

@font-face {
    font-family: 'Palatino Linotype';
    font-weight: normal;
    font-style: italic;
    src: url('../Fonts/tex-italic.ttf');
}

@font-face {
    font-family: 'Palatino Linotype';
    font-weight: bold;
    font-style: italic;
    src: url('../Fonts/tex-bolditalic.ttf');
}
