; vim: set fileencoding=utf-8 :
; Ivana Chingovska <ivana.chingovska@idiap.ch>
; Tue May 20 17:01:13 CEST 2014


[buildout]
parts = scripts
eggs = antispoofing.clientspec
	ipdb
       scikit-learn
	bob.extension
       bob.blitz
       bob.core
       bob.io.base
       bob.ip.base
       bob.ip.color
       bob.ip.draw
       bob.math
       bob.measure
       bob.learn.linear
       bob.learn.libsvm
       bob.learn.em

develop = .

extensions = bob.buildout

; options for bob.buildout extension
debug = true
verbose = true
newest = false

; [sources]

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
