/* Add here your CSS commands */


body{
  background: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  color: #666;
  font-size: 16px;
  background: #d1d1d1; /* Old browsers */
  background: -moz-linear-gradient(top,  #d1d1d1 0%, #efefef 23%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(23%,#efefef), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d1d1d1 0%,#efefef 23%,#efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d1d1d1 0%,#efefef 23%,#efefef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d1d1d1 0%,#efefef 23%,#efefef 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d1d1d1 0%,#efefef 23%,#efefef 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

#portal-logo{
  margin-top: 3em;
  margin-bottom: 1em;
 display: block;
}

#editable-tagline{
  position: absolute;
  left: 230px;
  top: 132px;
  color: #666;
  font-weight: 300;
}

#portal-columns{
 /* background: #e5e5e5;*/
}

header{
   /* background: #fff;*/
}

.tileItem h2, .app h3{
  font-weight: 700;
  font-size: 18px;
  margin-top:0;
}

.app h3{
  font-weight: 700;
  font-size: 18px;
}

.tileItem, .app{
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px;
    display: block;
    padding: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 470px;
    margin-bottom: 2em;
    font-size: 90%;
}

.template-summary_view .tileItem{
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height:auto;
    margin-bottom: 2em;
    font-size: 100%;
    padding: 0;
    margin: 0 0 2em 0;*/
}

#featured-app, .portaltype-formfolder #content{
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height:auto;
    margin-bottom: 2em;
    font-size: 100%;
    padding: 1em;
    margin: 0 0 2em 0;

}

#featured-app{
    border-radius: 0 0 4px 4px;
    border-top: 5px solid #428bca !important;
    margin: 1em 0 2em 0;
}

#featured-app h2{
    margin-top: 0;
    font-weight: 300;
    font-size: 40px;
}

#featured-app img, .portaltype-app #content img{
    border-radius: 10px;
    border: 1px solid #efefef;
    padding: 10px;
    float: right;
}

.portaltype-app #content img{

   box-shadow: 0px 0px 5px rgba(204 204 204, 0.5);
}

#featured-app p.read_more, .faceted-checkbox-more{
    margin:0;
    text-align: right;
    font-size: 90%;
    background: #efefef;
    border-radius: 4px;
    display: inline;
    padding: 3px 10px;
    float: right;
}

.faceted-checkbox-more{

    text-decoration: underline;

}

#content-core{

}

.field{
  margin-bottom: 1.5em;
}

label {

    display: inline-block;
    font-size: 110%;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 180%;
}

.template-summary_view .tileItem h2{
   padding: 1em 0 0 0;
   font-size: 20px;
}

.tileItem .col-md-12{
    position:relative;
}

div.tileImage{

}

.tileItem img, .app img{
 max-width: 100%;
 height: auto;
  margin: 10px auto 20px;
  border-radius: 10px;
}

.navbar-default {
    background-color: #428bca;
    border-color: #e5e5e5;
    border: 0;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     font-size: 120%;
     /*position: fixed;
     top:0;
     z-index: 100000;
     width: 100%;
     left: 0;*/
     border-radius: 0;

}


.btn-info {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}

.navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
    margin-right: 1em;
    color: #fff !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, li.activedropdown a{
    background-color: #fff;
    border-radius: 4px;
    color: #428bca !important;
}

 li.activedropdown a:hover{
    background-color: #b40d0d;
    border-radius: 4px;
    color: #fff !important;
}




/**********************app bat***********/

.portaltype-app #content, .template-newsitem_view #content
/*#faceted-right-column*/{
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1em;
}


#details{
  background: #efefef;
  border-radius: 4px;
  padding: 0.5em 1em;
}


#android{
  background: url(android.png) no-repeat top left;
 padding-left: 60px;
 

}

 #ios{
 border-left: 1px solid #ccc;
background: url(ios.png) no-repeat top left;
padding-left: 80px;

}

.portaltype-app #content .col-md-4{
 /*text-align: right;*/
}

.portaltype-app #content h1, h1{
  margin:0 0 0.2em 0;
  font-size: 42px;
  font-weight: 300;
  color: #666;
}

.documentDescription {
  font-size: 120%;
  color: #666;
  margin-bottom: 1em;
}

#faceted-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend, dl.portlet dt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #666 !important;
    display: block;
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 20px;
    padding: 0;
    width:auto;
    border: 0;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 400 !important;
    text-transform:lowercase;
    padding: 5px 15px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.faceted-widget {
  margin-bottom: 2em;
}

.widget-fieldset li{
  margin: 0;
   font-size: 14px;
}

.widget-fieldset li span{

  font-size: 10px;
}

.widget-fieldset ul li label {
    font-weight: normal;
    padding-left: 0;
    width: 49%;
}

.widget-fieldset ul li label input{
    margin: 8px 8px 0 0;
}

dt, dd {
    /*line-height: 2;*/
}

dt {
    font-weight: 700;
    margin-right: 1em;
    float: left;
}

#android dt, #ios dt{
  float: none;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
    text-indent: -999999px;
}

/**albisteak*********/

dl.portlet dd.portletItem, dl.portlet dd.portletFooter, dl.portletError dd {
    padding: 0;
}

dl.portlet.portletNews dd.portletItem{
  clear:left;
  border-bottom: 1px dotted #fff;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

dl.portlet {
    font-size: 100%;
    line-height: 120% !important;
}

.portletItemDetails {
    margin-left: 0;
}


.portletItemDetails span {
    padding-left: 10px;
}

.newsletter{
  display: block;
  float: left;
  border: 1px solid #ccc;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 10px;
}




footer{
  border-top: 1px solid #ccc;
  font-size: 80%;
  padding: 1em 0;
  margin-top: 1em;
}