/* $Id: custom.css df5755d5e79e 2014/06/12 15:41:10 Patrick $ */
/* Publidoc2XHtml */

body { margin: 10px; }

h1 { font-family: sans-serif; font-variant: small-caps;  }
h2 { font-family: sans-serif; }
h3 { font-family: sans-serif; }
h4 { font-family: sans-serif; }

img { max-width: 100%; max-height: 100%; }


/* ======== TOP LEVEL ======= */


/* ~~~~~~~~~ pdocToc ~~~~~~~~ */

.pdocToc a { color: black; }
.pdocToc li li a { color: #4f4f4f; }

/* ~~~~~~~~ pdocIndex ~~~~~~~ */

.pdocIndex a, .pdocIndex a:visited {
  color: #004080;
}

.pdocIndex a:hover {
  color: #339933;
}

/* ~~~~~~~ pdocNavBar ~~~~~~~ */

.pdocNavBar .col { text-align: center; }
.pdocNavBar .colLast { text-align: right; }
.pdocNavBar hr { clear: both; }
.pdocNavBar a { border: none; }
.pdocNavBar a:hover { background-color: transparent; }
.pdocToc .pdocNavBar, .pdocToc .pdocNavBar div { padding-top: 0; }
.pdocToc .pdocNavBar a { padding: 0; }

.colFirst { margin: 0; padding-right: 1%; float: left; }
.col { margin: 0; padding: 0 1% 0 1%; float: left; }
.colLast { margin: 0; padding-left: 1%; }
.col111 .colFirst, .col111 .col { width: 32%; }


/* ===== DIVISION LEVEL ===== */


/*~~~~~~~~~ pdocFront ~~~~~~~ */

.pdocFront .pdocP {
  font-family: sans-serif;
}

.pdocLead1, .pdocLead2, .pdocLead3 {
  font-family: sans-serif;
}


/* ===== SECTION LEVEL ====== */


/* ~~~~~~~ pdocSection ~~~~~~ */

.pdocSection1, .pdocSection2,
.pdocSection3, .pdocSection4,
.pdocSection5 {
  font-family: serif;
}

.pdocSectionTitle, .pdocSectionSubtitle {
  font-family: sans-serif;
}

.pdocSectionSubtitle {
  color: #7f7f7f;
}

.pquizInstructions .pdocSection1,
.pquizInstructions .pdocSection2,
.pquizInstructions .pdocSection3,
.pquizInstructions .pdocSection4,
.pquizInstructions .pdocSection5  {
  font-family: sans-serif;
}

/* ~~~~~ pdocSection-box ~~~~ */

.pdocSection-box {
  margin: 1em 0 1em 0;
  padding: .5em 1em .5em 1em;
  border: 1px solid #000000;
  background-color: #efefef;
}
.pdocSection-box .pdocSectionTitle,
.pdocSection-box .pdocSectionSubtitle {
  text-align: center;
}
    
/* ~~~~~ pdocSection-xxx ~~~~ */

.pdocSection-sign {
  text-align: right;
  font-weight: bold;
}

.pdocSection-logo {
  text-align: center;
}

.pdocSection-ex {
  font-style: italic;
}


/* ======= BLOCK LEVEL ====== */


/* ~~~~~~~ pdocSpeech ~~~~~~~ */

.pdocSpeechSpeaker,
.pdocSpeechStage {
  font-family: sans-serif;
}

/* ~~~~~~~~ pdocList ~~~~~~~~ */

.pdocListTitle {
  font-family: sans-serif;
}

/* ~~~~~~~~ pdocTable ~~~~~~~ */

.pdocTableTitle {
  font-family: sans-serif;
}

.pdocTableCaption {
  color: #4f4f4f;
}

.pdocCell-step {
  background-color: #fafafa;
}

/* ~~~~~~~ pdocMedia ~~~~~~~~ */

.pdocMedia {
  position: relative;
  font-family: sans-serif;
}

.pdocMediaCopyright {
  color: gray;
}

.pdocMediaCaption {
  color: #4f4f4f;
}

.pdocMediaCaptionAbsolute {
  position: absolute;
  color: #4f4f4f;
}

/* ~~~~~~~ pdocImage ~~~~~~~~ */

.pdocImage {
  max-width: 100%;
  max-height: 100%;
}

.pdocImageHotspot,
.pdocImageDropzone {
  float: left;
  position: relative;
}

/* ~~~~~~ pdocHotspot ~~~~~~~ */

.pdocHotspot, .pdocHotspotSpot,
.pdocDropzone {
  color: white;
  font-family: sans-serif;
}

/* ~~~~~ pdocVideoIcon ~~~~~~ */

.pdocVideoIcon {
  position: absolute;
}


/* ======= HEAD LEVEL ======= */


/* ~~~~~~ pdocKeywords ~~~~~~ */

.pdocKeywords, .pdocSubjects {
  color: #7f7f7f;
}

/* ~~~~~~ pdocAbstract ~~~~~~ */

.pdocAbstract {
  color: #7f7f7f;
  font-family: sans-serif;
}


/* ====== INLINE LEVEL ====== */


/* ~~~~~~~~~ pdocNote ~~~~~~~ */

a.pdocNoteLink, a.pdocNoteCall,
a.pdocNoteLink:visited, a.pdocNoteCall:visited,
.pdocNoteFooter a, .pdocNoteBack a {
  color: #993333;
}

.pdocNote h1 {
  color: white;
  background-color: #999999;
  font-family: sans-serif;
}

.pdocNoteBack {
  font-family: sans-serif;
}

/* ~~~~~~~ pdocInitial ~~~~~~ */

.pdocInitialCap {
  float: left;
  margin: -.15em .1em -.15em 0;
}

/* ~~~~~~~~~ pdocLink ~~~~~~~ */

.pdocLink {
  font-family: serif;
  color: #004080;
}
.pdocLink:visited {
  color: #004080;
}

/* ~~~~~~~ pdocLiteral ~~~~~~ */

.pdocLiteral {
  font-family: monospace;
}
