/* $Id: publidoc.css 3a627ba12869 2015/02/13 14:16:32 Patrick $ */


/* ======== TOP LEVEL ======= */


/* ~~~~~~~~ pdocCover ~~~~~~~ */

body.pdocCover {
    margin: 0;
    padding: 0;
}

body.pdocCover div {
    height: 100%;
    text-align: center;
}

body.pdocCover img {
    height: 100%;
}

.pdocCover {
    text-align: center;
}

/* ~~~~~~~~~ pdocToc ~~~~~~~~ */

.pdocToc h1, .pdocToc h2, .pdocToc h3,
.pdocToc .h1, .pdocToc .h2, .pdocToc .h3 { text-align: center; }
.pdocToc h2, .pdocToc .h2 { margin: 2em 1em 1em 1em; }
.pdocToc h3, .pdocToc .h3 { margin-top: 2em; }
.pdocToc ol, .pdocToc ul {  margin: 0; padding: 0; }
.pdocToc ol ol, .pdocToc ul ul { margin-left: 1.3em; }
.pdocToc li { list-style-type: none; margin-top: 1.5em; }
.pdocToc li li {  margin-top: .4em; }
.pdocToc li span  { display: inline-block; padding-top: .4em; }
.pdocToc div { padding-top: .4em; }
.pdocToc a {
    display: block;
    padding: .4em 0 .4em 0;
    text-decoration: none;
    border-bottom: 1px solid #dcdcdc;
}
.pdocToc a:hover { background-color: #f0f8ff; }

.pdocOneFile.pdocToc {
    border-left: 8px dotted #dcdcdc;
    padding-left: .8em;
    margin-bottom: 2em;
}
.pdocOneFile.pdocToc li    { margin-top: .2em; }
.pdocOneFile.pdocToc li li { margin-top: 0; }

/* ~~~~~~ pdocDocument ~~~~~~ */

.pdocDocument h1,
.pdocDocument .h1 {
    margin: 0 0 1em 0;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    background-color: #fafafa;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 138.5%;
}

.pdocDocument h2,
.pdocDocument .h2 {
    border-bottom: 1px solid black;
}

.pdocDocument h1 .h2,
.pdocDocument .h1 .h2 {
    display: block;
    margin-top: 1em;
    border-bottom: none;
    font-size: 83.5%;
}

/* ~~~~~~~~ pdocIndex ~~~~~~~ */

.pdocIndex ul,
.pdocIndex ul li {
    list-style-type: none;
    margin-left: 0;
}

.pdocIndex ul ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
}

.pdocIndex a,
.pdocIndex a:visited {
    font-size: 116%;
    text-decoration: none;
}


/* ===== DIVISION LEVEL ===== */


/*~~~~~~~ pdocDivision ~~~~~~ */

div.pdocDivision {
    padding-left: .8em;
    border-left: 8px solid #dcdcdc;
}

.pdocDivision h1,
.pdocDivision .h1,
.pdocLead1 .pdocDivisionTitle {
    margin: 0 0 1em 0;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    background-color: #fafafa;
    font-size: 167%;
    font-weight: bold;
    font-variant: small-caps;
}

.pdocDivision h1 .pdocTitle2,
.pdocDivision .h1 .pdocTitle2 {
    font-size: 93%;    
}

.pdocDivision h1 .pdocTitle3,
.pdocDivision .h1 .pdocTitle3 {
    font-size: 85%;    
}

.pdocDivision h1 .pdocTitle4,
.pdocDivision .h1 .pdocTitle4 {
    font-size: 77%;    
}

.pdocLead2 .pdocDivisionTitle {
    font-size: 167%;
    font-weight: bold;
    font-variant: small-caps;
}

.pdocLead3 .pdocDivisionTitle {
    font-size: 167%;
    font-variant: small-caps;
}

.pdocLead1 .pdocDivisionSubtitle,
.pdocLead2 .pdocDivisionSubtitle,
.pdocLead3 .pdocDivisionSubtitle {
    font-size: 131%;
}

.pdocDivision h4 {
    font-size: 108%;
    font-style: italic;
    margin-bottom: .5em;
}

/*~~~~~~~~~ pdocFront ~~~~~~~ */

.pdocFront {
    font-size: 108%;
    margin: 1em 1.5em 1.5em 1.5em;
}


/* ===== COMPONENT LEVEL ==== */


/* ~~~~ pdocTopicOneFile ~~~~ */

.pdocTopicOneFile {
    border-bottom: 1px dotted black;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

/* ~~~~~ pdocTopic-title ~~~~ */

.pdocTopic-title {
    text-align: center;
}
div.pdocTopic-title {
    border: 2px solid #993333;
    padding: 2em;
}

body.pdocTopic-title h1,
body.pdocTopic-title .h1,
div.pdocTopic-title h2,
div.pdocTopic-title .h2 {
    font-size: 180%;
    margin: 1em 0 2em 0;
    text-align: center;
    border: none;
}

body.pdocTopic-title h2,
body.pdocTopic-title .h2,
div.pdocTopic-title h3,
div.pdocTopic-title .h3 {
    margin-bottom: 6em;
    text-align: center;
}

.pdocTopic-title .pdocP {
    text-align: center;
}

/* ~~~ pdocTopic-copyright ~~ */

.pdocTopic-copyright .pdocSection1 {
    margin-bottom: 1em;
}
.pdocTopic-copyright .pdocSection1.first {
    padding-top: 3em;
}

.pdocTopic-copyright .pdocP {
    margin-bottom: 0;
}

/* ~~ pdocTopic-dedication ~~ */

.pdocTopic-dedication .pdocSection1 {
    padding-top: 3em;
    margin-left: 30%;
    text-align: right;
}

/* ~~ pdocTopic-inscription ~ */

.pdocTopic-inscription .pdocSection1 {
    padding-top: 3em;
    margin-left: 50%;
}

/* ~~~~~ pdocTopic-image ~~~~ */

.pdocTopic-image .pdocSection1 {
    margin: 0;
}


/* ===== SECTION LEVEL ====== */


/* ~~~~~~~ pdocHeader ~~~~~~~ */

.pdocHeader {
    text-align: center;
    margin-bottom: 1em;
}

/* ~~~~~~~ pdocSection ~~~~~~ */

.pdocSection1, .pdocSection2,
.pdocSection3, .pdocSection4,
.pdocSection5 {
    text-align: justify;
    margin-bottom: .8em;
    font-variant: normal;
}

.pdocSectionTitle {
    font-weight: bold;
    margin: .6em 0 .4em 0;
}

.pdocSection1 .pdocSectionTitle {
    font-size: 123.1%;
}

.pdocSection2 .pdocSectionTitle {
    font-size: 116%;
    font-style: normal;
}

.pdocSection3 .pdocSectionTitle {
    font-size: 108%;
    font-style: italic;
}

.pdocSection4 .pdocSectionTitle {
    font-weight: normal;
}

.pdocSectionSubtitle {
    font-weight: bold;
    margin: .3em 0 .3em 0;
}

.pdocSection4 .pdocSectionSubtitle {
    font-weight: normal;
}

/* ~~~~~~~ pdocFooter ~~~~~~~ */

.pdocFooter {
    text-align: center;
    margin-top: 1em;
}


/* ======= BLOCK LEVEL ====== */


/* ~~~~~~~~~~ pdocP ~~~~~~~~~ */

.pdocP {
    margin: 0 0 .2em 0;
}

.pdocSection1 .pdocP.initial,
.pdocSection2 .pdocP.initial,
.pdocSection3 .pdocP.initial,
.pdocSection4 .pdocP.initial,
.pdocSection5 .pdocP.initial {
    text-indent: 0;
}

/* ~~~~~~~ pdocSpeech ~~~~~~~ */

.pdocSpeech {
    margin-bottom: .8em;
}

/* ~~~~~~~~ pdocList ~~~~~~~~ */

.pdocList {
    margin-top: .4em;
    margin-bottom: .4em;
}

.pdocListTitle {
    font-weight: bold;
}

.pdocListGlossary {
    margin-left: 0;
    padding: 0;
}

.pdocListGlossary li {
    list-style-type: none;
    margin-bottom: .4em;
}

/* ~~~~~~~~ pdocQuote ~~~~~~~ */

span.pdocQuote {
    font-style: italic;
}

div.pdocQuote {
    margin: 0 0 .2em 0;
    padding: 0 1.5em 0 1.5em;
}

.pdocQuoteAttribution {
    font-style: normal;
    text-align: right;
}

/* ~~~~~~~ pdocTable ~~~~~~~~ */

.pdocTable {
    margin: .8em 0 .8em 0;
}

.pdocTable table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}

.pdocTable tr {
    padding: 0.3em;
}

.pdocTable th,
.pdocTable td {
    vertical-align: text-top;
    padding: 0.3em;
    border: 1px solid #000000;
}

.pdocTable td {
    text-align: left;
}

.pdocTableTitle {
    font-size: 93%;
    font-variant: small-caps;
}

.pdocTableCaption {
    font-size: 85%;
}

/* ~~~~~~~ pdocMedia ~~~~~~~~ */

.pdocMedia {
    margin: .8em 0 .8em 0;
}
.pdocHeader .pdocMedia {
    margin: 0;
}

.pdocMediaTitle {
    font-size: 93%;
    font-variant: small-caps;
}

.pdocMediaCopyright {
    font-style: italic;
    font-size: 75%;
}

.pdocMediaCaption,
.pdocMediaCaptionAbsolute {
    font-size: 85%;
}

/* ~~~~~~ pdocHotspot ~~~~~~~ */

.pdocHotspot,
.pdocHotspotSpot {
    font-size: 108%;
    text-shadow: 1px 1px 1px #bbbbbb;
}

.pdocHotspot-normal,
.pdocHotspot-visible,
.pdocHotspot-pulse {
    cursor: pointer;
}
.pdocHotspot-visible {
    border: 2px dotted gray;
}

.pdocHotspot a {
    display: block;
    text-decoration: none;
}

/* ~~~~~~~ pdocAudio ~~~~~~~~ */

.pdocAudio, .pdocAudio img {
    vertical-align: middle;
}

/* ~~~~~ pdocBiblioEntry ~~~~ */

.pdocBiblioEntry {
    margin: 0 0 .4em 2em;
    text-indent: -2em;
}


/* ======= HEAD LEVEL ======= */


/* ~~~~~~ pdocKeywords ~~~~~~ */

.pdocKeywords,
.pdocSubjects {
    font-size: 77%;
    text-align: right;
}

/* ~~~~~~ pdocAbstract ~~~~~~ */

.pdocAbstract {
    font-weight: normal;
    font-size: 85%;
    margin-bottom: .4em;
}

.pdocToc li .pdocAbstract {
    display: inline;
}


/* ====== INLINE LEVEL ====== */


/* ~~~~~~~~~ pdocMath ~~~~~~~ */

.pdocMathDiv {
    display: block;
}

.pdocMathDisplay {
    display: block;
    text-align: center;
    margin: .3em 4em .3em 4em;
}

.pdocMathBox {
    padding: .5em;
    border: 1px solid black;
    box-shadow: 2px 2px 3px #bbbbbb;
}

.pdocMathNumber {
    display: block;
    float: right;
}

/* ~~~~~~~~ pdocNote ~~~~~~~~ */

.pdocNote {
    margin: 0;
}

.pdocNote h1 {
    margin-top: 0;
    padding: .3em;
    text-align: center;
}

.pdocNoteText {
    margin: 1em;
    text-align: justify;
}

.pdocNoteBack {
    margin-top: 2em;
    padding: .3em;
    text-align: center;
}
.pdocNoteBack a {
    text-decoration: none;
}

a.pdocNoteLink,
a.pdocNoteCall {
    cursor: help;
}

a.pdocNoteCall {
    display: inline;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    border: none;
}

.pdocNoteFooter {
    clear: both;
    text-align: left;
    margin-top: 1em;
    padding-top: .5em;
    font-size: 85%;
    border-top: 1px solid #000000;
}
.pdocNoteFooter div {
    margin-bottom: .6em;
}
.pdocNoteFooter a  {
    text-decoration: none;
    font-weight: bold;
}

/* ~~~~~~~~ pdocName ~~~~~~~~ */

.pdocName {
    font-weight: inherit;
}

.pdocName-person {
    font-style: normal;
    font-variant: small-caps;
    font-weight: inherit;
}

/* ~~~~~~~ pdocInitial ~~~~~~ */

.pdocInitialCap {
    font-size: 250%;
}

.pdocInitialWords {
    font-variant: small-caps;
}

/* ~~~~~~~~~ pdocIcon ~~~~~~~ */

.pdocIcon {
    vertical-align: middle;
}

/* ~~~~~~ Miscellaneous ~~~~~ */

sup, sub {
    font-variant: normal;
}

.pdocNumberRoman {
    /* font-variant: small-caps; */
    font-size: 85%;
    text-transform: uppercase;
}

.pdocAcronym {
    font-variant: small-caps;
    font-size: 93%;
}

.pdocLiteral {
    font-style: normal;
    font-weight: normal;
}

.pdocHighlight {
    font-style: inherit;
}

.pdocEmphasis {
    font-weight: inherit;
}

.pdocMentioned {
    font-style: oblique;
    font-weight: inherit;
}

.pdocForeign {
    font-weight: inherit;
}

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; }
.hidden { display: none; }
