[buildout]
extensions =
    mr.developer
show-picked-version = true
allow-picked-versions = false

extends =
  https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
  https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
  qa.cfg
  sources.cfg
  versions.cfg

package-name = dexterity.localrolesfield
package-extras = [test]
versions = versions

parts +=
  omelette
  robot

auto-checkout =
  dexterity.localroles

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[robot]
recipe = zc.recipe.egg
eggs = ${buildout:package-name} [test]
       plone.app.robotframework
