# package info
PACKAGE = keres
MAJOR = 0
MINOR = 8
MICRO = 5
TAG = 
AUTHOR = James C. Stroud
EMAIL = xtald00d@gmail.com
URL = http://pypi.python.org/pypi/keres
LICENSE = BSD
COPYRIGHT = Copyright (c) 2014, James C. Stroud; All rights reserved.
DESCRIPTION = A Bayes filter and test suite for amyloid fluorimetry data
