.console {
    border: 2px solid lightgray;
    margin: 1em;
    overflow-y: auto;
}

.rounded-corners {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    
}

.message-box {
    height:6em;
}

.message-item {
    white-space: pre-wrap;
    font-family: monospace;
}
.index {
    background: lightgrey;
    vertical-align: top;
    text-align: right;
    font-family: monospace;
    border-bottom: 1px solid grey;
}

.console td{
    padding: 0 .5em;
}

.message-box {
    height: 6em;
}

body, html, .full-height {
    height: 92%;
}
body {
    padding:0 1em;
}
table.full-width, td.full-width  {
    width: 100%
}

.good {
    background: lightgreen;
}

.bad {
    background: pink;
}

.stderr {
    color: red;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}