.ventanaBtn{
	border-color: gray;
	border-style: solid;
	border-width: thin;
	border-radius: 1em;
	text-align: center;
	padding: 1em;
	margin: 1em;
}

.encabezado-folder{
	background-color: rgb(218, 218, 218);
}