.deleteSelecction {
	display: inline;
	
	color: rgb(174, 170, 170);
	text-decoration: none;
}

.deleteSelecction-label{
	margin-right: 2em; 
}

.deleteSelecction:hover {
	color: black;
	cursor:pointer;
	text-decoration: none;
}

