.extra_mobile{
 	position: absolute;
    display:none;
    top: 52px;
    background-color: white;
    width: 100%;
    height: 50%;
    z-index: 1;
    border-color: gray;
    border-width: thin;
    border-bottom-style: solid;
    padding: 1em;
}

.icon-white{
    color: white;
}

.extra_mobile_btn{
    font-size: 2.5em;      
    color: rgb(119, 119, 118);      
    transform: rotate(90deg);
    position: absolute;
    top: 47px;
    right: 14px; 
    cursor: pointer;
    z-index: 1;
}

.yaContado{
    background-color: rgb(20, 122, 11);
    color: white; 
    padding: .2em 1em;
}

.sinContar{
    background-color: rgb(224, 132, 14); 
    color: white; 
    padding: .2em 1em;
}

.articleDetail{
    margin-bottom: .5em;
}

.articleDetail .badge{
    background-color: white;
    color: red;
}

.articuleSubmit{
    margin: .5em;
}

.articleDetailUnits{
    background-color: rgb(255, 0, 0); 
    color: white; 
    padding: .2em 1em;
}


.seriesSinContar{
    color:white; 
    background-color: red;
}

.seriesContadas{
    color:white;
    background-color: green;
}
