[buildout]
find-links = http://pypi.python.org/simple/lovely.buildouthttp
             http://pypi.python.org/simple/zc.buildout
             http://pypi.python.org/simple/setuptools
             http://pypi.python.org/simple/distribute
develop = .
parts = test test_bbb coverage-test coverage-report py
versions = versions


[versions]
setuptools = 7.0
distribute = 0.7.3
#zc.buildout = 2.2.3
zc.buildout = 1.7.0


[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = p01.testbrowser [test]

[test_bbb]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = p01.testbrowser [test,test_bbb]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.testbrowser [test]
defaults = ['--coverage', '${buildout:directory}/coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs =
    z3c.coverage
scripts = coveragereport
arguments = ('${buildout:directory}/coverage',
             '${buildout:directory}/coverage/report')

[py]
recipe = zc.recipe.egg
eggs = p01.testbrowser
interpreter = python

