.searchSection {
    display: none;
}
.comments-link {

}

#content .comments-link a:link {
    text-decoration: None;
    border-bottom: 0em solid #ccc;
}
.comments-link .leave-reply {
    background: url("++resource++blog.post/comments.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 40px;
    width: 40px;
    padding-left: 20px;
    padding-top: 10px;
    color: #ffffff;
}
div#content {
    max-width: 1170px;
    margin: auto;
}

.commentImage {
    float: left;
    height: 9.5em;
}

.blog_picture {
    float: left;
    padding-right: 15px;
}

#content-core article.blog_articles {
    margin-bottom: 50px;
}

.blog_picture img {
    max-width: 300px;
}
