# Versions of packages used by waeup.kofa
[buildout]
# default set of versions we use.
extends= http://grok.zope.org/releaseinfo/grok-1.1.cfg

versions = versions

[versions]
collective.recipe.sphinxbuilder = 0.7.0
collective.recipe.template = 1.10
hurry.workflow = 0.11
# Pinned to circumvent breakage in 0.4.x
hurry.zoperesource = 0.6
# Pinned to prevent buildout svn-error.
lovely.recipe = 1.0.0
megrok.layout = 1.0.2
reportlab = 2.5
transaction = 1.1.0
z3c.testsetup = 0.6.1
zc.buildout = 2.1.0
zc.recipe.egg = 2.0.0a3
zc.recipe.testrunner = 2.0.0
zope.app.testing = 3.8.1
# for support of @provider directive
zope.interface = 3.6.3
# for support of contextual default values
zope.schema = 3.8.0
zope.testing = 3.10.2
zope.xmlpickle = 3.4.0
# Require latest version...
Sphinx = 1.0.7
ZODB3 = 3.10.3
docutils = 0.7
Jinja2 = 2.3
# for support of unicode encoded passwords
zope.password = 3.6.1
# include bugfix for hanging xmlrpcrequests under paster
zope.publisher = 3.12.2
# Pillow >= 2.0 supports Python 2.6, 2.7, 3.x
# Pillow < 1.x supports Python 2.4, 2.5, 2.6, 2.7
Pillow = 2.0.0
mock = 1.0.1

# Added by buildout at 2013-04-29 11:28:31.957221
Beaker = 1.6.4
Twisted = 13.0.0
dolmen.beaker = 0.1
hurry.resource = 0.10
repoze.profile = 2.0
repoze.sphinx.autointerface = 0.7.1
unittest2 = 0.5.1
# z3c.coverage 2.0 is out but does not cope with non-ASCII in sources
z3c.coverage = 1.3.1
zc.async = 1.5.4
zc.dict = 1.2.1
zc.twist = 1.3.1
zc.z3monitor = 0.8.0
zope.bforest = 1.2

# Required by:
# z3c.coverage==2.0.0
coverage = 3.6

# Required by:
# waeup.kofa==0.2dev
hurry.file = 1.2.1

# Required by:
# waeup.kofa==0.2dev
hurry.jquery = 1.4.3.1

# Required by:
# waeup.kofa==0.2dev
hurry.jqueryui = 1.8.5.1

# Required by:
# waeup.kofa==0.2dev
hurry.query = 1.1.1

# Required by:
# grokui.base==0.2
megrok.menu = 0.4

# Required by:
# dolmen.beaker==0.1
pycryptopp = 0.6.0.1206569328141510525648634803928199668821045408958

# Required by:
# repoze.profile==2.0
pyprof2calltree = 1.1.0

# Required by:
# zc.async==1.5.4
rwproperty = 1.0

# Required by:
# zope.testrunner==4.3.3
six = 1.3.0

# Required by:
# waeup.kofa==0.2dev
ulif.loghandlers = 0.1.1

# Required by:
# waeup.kofa==0.2dev
unicodecsv = 0.9.4

# Required by:
# zc.async==1.5.4
uuid = 1.30

# Required by:
# zc.z3monitor==0.8.0
zc.monitor = 0.3.1

# Required by:
# zc.monitor==0.3.1
zc.ngi = 2.0.1

# Required by:
# zc.async==1.5.4
zc.queue = 1.3

# Required by:
# waeup.kofa==0.2dev
zope.errorview = 0.11

# Required by:
# zc.recipe.testrunner==2.0.0
zope.testrunner = 4.3.3

# Added by buildout at 2014-01-13 12:49:22.642212
mr.developer = 1.27
plone.recipe.command = 1.1
z3c.recipe.staticlxml = 0.10

# Required by:
# z3c.recipe.staticlxml==0.10
zc.recipe.cmmi = 1.3.5

# Added by buildout at 2014-02-04 15:17:58.515390
zc.zodbrecipes = 0.6.2

# Added by buildout at 2014-02-13 07:53:24.402989
WebOb = 1.3.1
diazo = 1.0.5
repoze.xmliter = 0.5

# Required by:
# diazo==1.0.5
experimental.cssselect = 0.3

# Required by:
# diazo==1.0.5
# experimental.cssselect==0.3
lxml = 3.3.1

# Added by buildout at 2014-09-19 13:29:39.427594

# Required by:
# waeup.kofa==1.3dev
psutil = 2.1.1
