body {
    background: #ffffff;
    color: #333333;
    font-family: sans-serif;
}

a {
    color: #3686be;
    text-decoration: none;
    border-bottom: 0.1em dotted transparent;
}

a:hover {
    border-bottom-color: currentColor;
}

h1 {
    font-weight: 300;
    margin: 0.7em 0;
}

hr {
    border: none;
    border-top: 0.1em dotted #cccccc;
    margin: 1.5em 0;
}

ul {
    margin: 0.4em 0;
    padding: 0 0 0 1.5em;
}

ul li {
    list-style: square;
    margin: 0.3em 0;
}

pre {
    overflow-x: auto;
}

span.private {
    color: #ff5722;
}

div.wrapper {
    margin: auto;
    width: 60em;
}

div.header:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

div.header h1 {
    float: left;
    margin: 0;
}

div.header div.toolbar {
    float: right;
    margin-top: 0.7em;
}

div.footer {
    margin-top: 2em;
    font-size: 0.7em;
    color: #aaaaaa;
}

div.footer span.separator:after {
    content: "•";
    display: inline-block;
    margin: 0 0.5em;
}

div.footer a {
    color: #aaaaaa;
    border-bottom-color: #cccccc;
}

div.footer a:hover {
    border-bottom-color: #aaaaaa;
}

@media all and (max-width: 60em) {

    div.wrapper {
        width: 100%;
    }

}

@media all and (max-width: 50em) {

    div.header h1 {
        float: none;
        text-align: center;
        margin-top: 0.7em;
    }

    div.header div.toolbar {
        float: none;
        text-align: center;
    }

    ul li small.md5 {
        display: block;
    }

    div.footer {
        text-align: center;
    }

    div.footer span.separator:after {
        display: block;
        height: 0.4em;
        visibility: hidden;
    }

}
