/* QuickUpload
*/
.eea-forms-quick-upload {
    border: 2px dashed #8CACBB;
    background: white url(input_background.gif) repeat-x scroll 0 0;
    padding: 1em;
}

.eea-forms-quick-upload .pannelHeader {
    display: none;
}

.eea-forms-quick-upload #label-upload {
    color: #ccc;
}

.eea-forms-autorelate {
  padding: 2em;
}

.eea-forms-autorelate label {
  float: left;
  padding: 1em;
  display: block;
  border: 1px dashed #8CACBB;
  box-shadow: 0px 2px 5px #ccc;
}

.eea-forms-autorelate input {
  display: none;
}

/* overwrites of quickuploader */
#label-upload {
   padding: 18px 10px;
   font-size: 160%;
}

/* Group Fields */
.eeaforms-group-accordion {
  border: 1px dotted #ccc;
}

.eeaforms-presentation-group {
}

.eeaforms-group-accordion.ui-accordion .eeaforms-presentation-group.ui-state-default {
  background: whitesmoke;
  border-bottom: 1px dotted #ccc;
  border-radius: 0;
}

.eeaforms-group-accordion.ui-accordion .eeaforms-presentation-group.ui-state-active {
  background: white;
  border-bottom: 1px dotted #ccc;
  border-radius: 0;
}

.ui-accordion-icons .ui-accordion-header a.eeaforms-group-help,
a.eeaforms-group-help {
  position: absolute;
  right: 0;
  background: url(++resource++eea.forms.images/help.png) no-repeat 1em center;
  padding:1em 1em 1em 4em;
}


a.eeaforms-group-help,
#content .ui-state-default a.eeaforms-group-help,
#content .ui-state-default a.eeaforms-group-help:link,
#content .ui-state-default a.eeaforms-group-help:visited {
  color: #2C8DA2 !important ;
  visibility: hidden;
}

a.eeaforms-group-help,
#content .ui-state-active a.eeaforms-group-help,
#content .ui-state-active a.eeaforms-group-help:link,
#content .ui-state-active a.eeaforms-group-help:visited {
  color: #2C8DA2 !important ;
  visibility: visible;
  cursor: pointer;
}


#content .eeaforms-group-accordion textarea {
  width: 98%;
  height: 14em;
  border: 1px solid #8CACBB;
  background: white url(input_background.gif) repeat-x scroll 0 0;
}
.eeaforms-group-accordion .formHelp {
  border: 1px dotted #ccc;
  padding: 0.5em;
  padding-left: 2.2em;
  font-size:140% !important;
  color: #999;
}

.eeaforms-group-accordion a {
  font-size:100%;
  color:#000000;
  text-decoration: underline;
}

a.eeaforms-ajax,
#content .ui-state-default a.eeaforms-ajax,
#content .ui-state-default a.eeaforms-ajax:link,
#content .ui-state-default a.eeaforms-ajax:visited {
  color: #999 !important;
  text-shadow: none;
  font-size: 15px;
  margin-right: 10px;
}

a.eeaforms-ajax,
#content .ui-state-active a.eeaforms-ajax,
#content .ui-state-active a.eeaforms-ajax:link,
#content .ui-state-active a.eeaforms-ajax:visited {
  color: #555 !important;
  text-shadow: none;
  font-size: 15px;
  margin-right: 10px;
  font-weight: bold;
}

h3.eeaforms-presentation-group.eeaforms-error {
  background: #fdc;
  border: 1px solid red;
}

/* Wizard */
.eea-forms-wizard {
  position: relative;
}

.wizard-left,
.wizard-right {
  background: white;
  cursor: pointer;
  z-index: 99;
  min-width: 3.5em;
  text-align: center;
  position: absolute;
  top: 3em;
}

.wizard-right {
  right: 0;
  box-shadow: 4px 0px 10px #eee;
  border-radius: 0 10px 10px 0;
}

.wizard-right:hover {
  box-shadow: 2px 0px 10px #eee;
   background-color: #efefef;
}

.wizard-right:active {
  box-shadow: none;
}

.wizard-left {
  left: 0;
  box-shadow: -4px 0px 10px #eee;
  border-radius: 10px 0 0 10px;
}

.wizard-left:hover {
  box-shadow: -2px 0px 10px #eee;
  background-color: #efefef;
}

.wizard-left:active {
  box-shadow: none;
}

.wizard-left span,
.wizard-right span {
  font-size: 30px;
  color: #777C1F;
  font-weight: bold;
  position: absolute;
  top: 50%;
}
