.cotizacionArticulo-precio {
	text-align: right;
}

.nav-tabs a{
	background-color: rgb(255, 230, 230);
	color: rgb(119, 119, 119);
}

.formComplete{
	background-color: rgb(212, 235, 202) !important;
}

.formComplete.active{
	background-color: red;
}

.cotizacionResumen{
	padding-left: 4em;
}

.tab-content {
	border-bottom: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-left: rgb(221, 221, 221);
	border-left-style: solid;
	border-right: rgb(221, 221, 221);
	border-right-style: solid;
	border-width: thin;
	padding: 2em 0;
}

.selectedArticle{
	margin: 0 1em;
}

tr td{
	cursor: pointer;
}


.cotizacionResumen{
	background-color: rgb(247, 247, 247);
}

.cotizacionDetalle-precio{
	text-align: right;
}
