/* $Id: publiset_opener.css 09c9d6e10ee3 2014/12/01 08:32:53 Patrick $ */


/* ~~~~~~~~ pdocMeta ~~~~~~~~ */

.pdocTransformAttributes {
    margin: .5em 0 .5em 0;
    color: #7f7f7f;
    font-size: 92%;
    border-left: 2px solid #dcdcdc;
}

.pdocTransformAttributes tr,
.pdocTransformAttributes td {
    border-style: none;
    vertical-align: top;
    padding: 0 .3em 0 .3em;
}

.pdocTransformAttributes input[type='text'] {
    width: 20em;
}

.pdocMeta {
    margin: 0 0 .5em 0;
}

.preview .pdocMeta { display: table; }

/* ~~~~~ pdocComposition ~~~~ */
/* ~~~~~~ pdocSelection ~~~~~ */

.pdocComposition, .pdocSelection {
    border-bottom: 1px dotted black;
    margin: 0 5px 1em 0;
    padding-bottom: 1em;
}

.pdocComposition .h1, .pdocSelection .h1 {
    margin: 0 0 1em 0;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    background-color: #fafafa;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 138.5%;
}

.pdocComposition ul, .pdocSelection ul {
    margin: 0;
    padding: 0;
}

.pdocComposition li, .pdocSelection li {
    list-style-type: none;
}

/* ~~~~~~~~ pdocCover ~~~~~~~ */

.pdocCover {
    margin: 2em 0 2em 0;
}

/* ~~~~~~ pdocDivision ~~~~~~ */

.pdocComposition .pdocDivision,
.pdocSelection .pdocDivision {
    margin-top: 2.5em;
    padding-left: .4em;
    border-left: 4px solid #dcdcdc;
}

.pdocComposition .pdocDivisionTitle,
.pdocSelection .pdocDivisionTitle {
    display: block;
    font-weight: bold;
    margin: 1.5em 0 .4em 0;
    padding: .4em 0 .4em 0;
    border-bottom: 1px solid #dcdcdc;
}
.pdocComposition li li .pdocDivision,
.pdocSelection li li .pdocDivision {
    color: #4f4f4f;
    margin-top: .4em;
}

.pdocDivision span .pdocSelection span {
    display: inline;
    color: #7f7f7f;
    font-size: 92%;
    font-family: sans-serif;
}

/* ~~~~~~~~ pdocFile ~~~~~~~~ */

.pdocFile {
    display: block;
    color: #004080;
    margin-bottom: .2em;
    font-family: serif;
    font-size: 108%;
}

.pdocFile strong {
    color: #dcdcdc;
}

.pdocFile span {
    display: inline;
    color: #7f7f7f;
    font-size: 92%;
    font-family: sans-serif;
}