@charset "utf-8";

/* Copyright 2010 California Institute of Technology. ALL RIGHTS
 * RESERVED. U.S. Government Sponsorship acknowledged.
 */

.specimenAvailable {
    color: rgb(3, 106, 7);
}
.femPPT {
    color: rgb(215, 168, 168);
    font-weight: bold;
}
.malePPT {
    color: rgb(60, 76, 114);
    font-weight: bold;
}
.specimenStat {
    font-weight: bold;
}
.summaryData {
    font-size: 12px;
    background: #fff;
    margin: 0 3em 0 3em;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
}
.summaryData th {
    font-size: 14px;
    font-weight: bold;
    color: #930;
    padding: 10px 8px;
    border-bottom: 2px solid #b17866;
}
.summaryData td {
    border-bottom: 1px solid #ccc;
    color: #966;
    padding: 6px 8px;
}
.caseControlSubset {
    float: left;
    width: 23em;
}
.PRoBE {
    float: right;
    background-color: #eee;
    padding: 1em;
    border: 1px solid #999;
}
.PRoBE span {
    padding-top: 0.2em;
    display: inline;
    color: #767;
    margin: 0;
    font-weight: bold;
    font-size: 120%;
}
.numericCell {
    text-align: right;
}