.serif-content {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.serif-content, .title-image-wrapper {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.serif-content, .title-image-wrapper, .margined-content-inner .form-group, .col-sm-12 > form > .form-group {
  position: relative;
}

.serif-content p, .serif-content ul, .serif-content ol, .serif-content dl, .serif-content address {
  font-size: 17.5px;
}

.serif-content p {
  margin: 1em 0;
}

.editable-wrapper, .margined-content-inner {
  margin-left: 40px;
  margin-right: 40px;
}

.mediumInsert .mediumInsert-images.small img {
  margin-top: 1.3em;
}

.edit-icon-wrapper {
  position: absolute;
  top: 0.25em;
  left: -1em;
  color: #999;
}

.edit-icon-wrapper > .glyphicon {
  padding: 6px 12px;
}

.serif-content .edit-icon-wrapper {
  top: 1.5em;
}

.col-sm-12 > form > .form-group > .edit-icon-wrapper {
  top: 1.75em;
}

.edit-icon-wrapper a {
  display: inline-block;
  padding: 5px 12px;
}

.title-image-wrapper .editable-wrapper input[type=text], .medium-editable {
  border: 1px solid #fff;
}

.title-image-wrapper .editable-wrapper input[type=text].active, .medium-editable.active {
  border: 1px dotted #999;
}
