

* {
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 19px;
   color: #707070;
}

.container > section {
    background: #fff;
}

section {
   padding: 0px 100px;
}

section h2 span {
    font-size: 42px;
    font-weight: bold;
}

.row {
    margin: 0px !important;
}

.container {
    width:1400px !important;
    padding: 0px !important;
    position: relative;
}

.tislenko-green {
    color: #00ffa2;
}

.padding100 {
    padding: 0px 100px;
}

.no-padding {
    padding: 0px;
}

.btn {

}

.btn span {
    font-size: 13px;
    color: #ffffff;
    padding: 10px 6px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 13px;
    background: #00ffa2;
    border-color: #00ffa2;
}


#header {
    height: 120px;
}

#header-logo {
height: 106px;
display: block;
vertical-align: middle;
padding-top: 25px;
}

#header-logo > img {
    display: inline-block;
    vertical-align: middle;
    display: table-column;
}

#header-contacts {
    font-weight: bold;
    height: 82px;
    /* display: table-cell; */
    vertical-align: middle;
    float: right;
    display: inline-block;
    margin-top: 30px;
}

#header-contacts button {
    margin-left: 15px;
}

#front-block {
    height: 618px;
    /*background-image: url('../imgs/big-girl-bg.png');*/
    background-repeat: no-repeat;
    background-position: center center;
    background-color:  #f0f0f0;
    position: relative;
}

#main-menu {
    margin-top: 30px;
    float: right;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
}

#fixed-menu {
    z-index: 100;
    width: 100%;
    background: #fff;
    height: 65px;
    opacity: 0.95;
}

#fixed-menu ul {
height: 100%;
}

#fixed-menu li {
    padding: 0px 20px;
    height: 100%;
    padding-top: 20px;
}

#fixed-menu li a  {
text-transform: uppercase;
vertical-align: middle;
font-size: 14px;
color: #707070;
}

#fixed-menu li a:hover {
    color: #ffffff;
}

#fixed-menu li:hover {
    background-color: #00ffa2;
    color: #ffffff;
}

#fixed-menu li:hover a {
    color: #fff;
}

#fixed-menu li a:hover {
    text-decoration: none ;
}


#main-menu li {
    margin-left: 40px;
}

#main-menu ul a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

#main-menu ul a:hover {
    text-decoration: none;
    font-weight: bold;
}

#hero {
    margin-top: 35px;
}

#hero h2 {
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
    /* font-weight: lighter; */
}

#hero h2 span {
    color: #fff;
    font-size: 45px;
    text-transform: lowercase;
}

#hero h2 span.small-font {
    font-weight: 100;
}

#hero h2 span.acid-green {
    font-size: 55px;
    color: #00ff62;
    font-weight: bold;
    text-transform: uppercase;
}

/*disable timer scripts*/
.flip-clock-label {
    display: none;
}

.flip-clock-wrapper ul {
    position: relative;
    float: left;
    margin: 2px;
    width: 40px;
    height: 70px;
    font-size: 70px;
    font-weight: bold;
    line-height: 70px;
    border-radius: 6px;
    background: #000;
}

.flip-clock-wrapper ul li a div div.inn {
position: absolute;
left: 0px;
z-index: 1;
width: 100%;
height: 200%;
color: #ccc;
text-shadow: -1 1px 2px #000;
text-align: center;
background-color: #333;
border-radius: 6px;
font-size: 60px;
vertical-align: top;
/* display: inline-block; */
}

.flip-clock-wrapper {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0px;
}

.flip-clock-wrapper ul li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 75px;
    text-decoration: none !important;
}

#timer-block {
    width: 505px;
    border: #ccc solid 1px;
    border-radius: 3px;
    padding: 20px 45px;
}

#timer-wrapper h4 {
    margin-bottom: 40px;
}

.big-white-bold-font {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#timer-block p {
    color: #fff;
    font-weight: lighter;
    font-size: 20px;
}

#make-appointment {
    margin-top: 25px;
    padding: 16px;
    text-transform: uppercase;
    font-size: 18px;
    width: 100%;
}

#advantages {
    height: 880px;
    background-color: #f0f0f0;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 0px;
  border-bottom: 1px solid white;
  border-top: 1px solid #707070;
  top: 13px;
  width: 360px;
}
.fancy span:before {
  right: 100%;
  margin-right: 25px;
}
.fancy span:after {
  left: 100%;
  margin-left: 25px;
}

#advantages {
    padding-top: 85px;
    position: relative;
    z-index: 2;
}

#advantages h2 span {
    font-size: 42px;
    font-weight: bold;
}

#advantages h3 {
    font-weight: lighter;
}

.reason-icon {
    width: 115px;
    height: 115px;
    /* background: #00ffa2; */
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 57px;
    border: solid #00ffa2 15px;
    box-shadow: 0px -1px 1px #ccc;
}

.vhelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.reason > div {
    display: inline-block;
    text-align: center;
}

#reasons {
    padding-top: 50px;
}

.grey_and_bold {
   font-weight: bold;
   color: #707070
}

.grey_and_slim {
    font-weight: lighter;
    color:#707070;
}

.reason-header {
    margin-top: 20px;
    font-size: 17px;
    text-transform: uppercase;
}

.reason-lead {
    font-size: 17px;
}

#tislenko {
    height: 495px;
    /* overflow: hidden; */
    position: relative;
    z-index: 6;
}

#tislenko h3 {
    margin-top: 120px;
    font-size: 42px;
}

#tislenko p {
    margin-top: 60px;
    font-size: 19px;
}

#tislenko img {
    position: absolute;
    top: -70px;
}

#doctors{
    height: 650px;
    background: #f0f0f0;
    position: relative;
    z-index: 8;
    padding-top: 90px;
}

#doctors-car-wrapper {
    display: block;
    width: 850px;
    margin: 40px auto;
}

.doctor {
    width: 180px;
    display: inline-block;
    margin: 10px;
}

.doctor * {
    font-size: 14px;
}

.doctor-name {
    margin-top: 25px;
    margin-bottom: 20px;
    vertical-align: middle;
    height: 30px;
}

.round-border-helper {
    height: 162px;
    width: 162px;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-top: 5px;
    opacity: 0.85;
    margin-left: 9px;
}

#order-form {
    height: 350px;
    background-image: url('../imgs/leaves-bg.png');
    background-repeat: repeat-x, repeat-y;
}

#order-form h4 {
    color: white;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 125px;
}

#order-form .appointment-form {
    width: 495px;
    float: right;
    margin-top: 70px;
}

#order-form .appointment-form > * {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
}

#order-form .appointment-form input {
    height: 46px;
}

#order-form .appointment-form button {
     height: 60px;
     background-color: #eb213e;
     font-size: 19px;
}

#allergens h2 {
    margin-top: 60px;
}

#allergens .fancy span:before {
    margin-right: 110px;
}

#allergens .fancy span:after {
    margin-left: 110px;
}

#allergens h5 {
    margin-top: 35px;
    font-size: 24px;
    color: #a2a2a2;
}

.allergen-pic {
    height: 170px;
    max-height: 170px;
    width: 170px;
}


#allergens .round-border-helper {
    height: 162px;
    width: 160px;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.85;
}

.allergen-name {
    font-family: 'Open sans';
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.allergen-latin {
    font-family: 'Open sans';
    font-size: 12px;
    font-style: italic;
}

.red-button, .red-button:focus, .red-button:hover, .red-button:active  {
    height: 60px;
    background: #eb213e;
    font-size: 19px;
    border: none;
}


#diseases {
    padding-top: 70px !important;
    min-height: 635px;
    background-color: #f0f0f0;
}

#diseases .red-button {
    width:300px;
    font-weight: 100;
    font-size: 18px;
}

#desease-block-wrapper {
      width: 900px;
  margin: 20px auto;
}

.desease-name {
    font-size: 30px;
    margin-bottom: 2px;
}

.desease-name-sub {
    font-size: 19px;
    font-weight: 100;
}

#diagnosis {
    padding-top: 70px !important;
    padding-bottom: 90px !important;
}

#diagnosis h2 {
    margin-bottom: 70px;
}

.diagnos-block {
    width: 19%;
    display: inline-block;
}

.diagnos-name {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

#order-form2 {
    margin-top: 50px;
    padding: 20px;
    background: #dfdfdf;
}

#order-form2 input {
    width: 350px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    border: none;
    height: 40px;
    margin: 5px;
}

#order-form2 .red-button {
    height: 38px;
    border: none;
    border-radius: 1px;
    font-size: 15px;
    font-weight: 100;
    padding: 0px 102px;
}

#cure {
    height: 685px;
    /*background-image: url('../imgs/gril-bg-2.png'); */
}

#cure-content:after {
    background-image: url('../imgs/leaves-transparent.png');
    height: 100%;
    opacity: 0.8;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 592px; */
    z-index: -1;
    background-repeat: repeat-y;
}

#cure-content {
    height: 685px;
    overflow: hidden;
    padding: 70px 70px 20px 70px !important;
    opacity: 1;
    position: relative;
    z-index: 4;
}

#cure-content  h4 {
    font-size: 42px;
    color: #636363;
}

#cure-content button {
    width: 100%;
    text-align: center;
    font-size: 15px;
}

#cure-content > * {
    color: #636363;
}

.cure-name {
    margin-top: 45px;
    font-size: 24px;
}

.cure-desc {
    margin-top: 30px;
    max-height: 300px;
}

.cure-desc p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 30px;
}

#diploma {
    padding-top: 70px !important;
    background: #f0f0f0;
}

#diploma .fancy span:before, #diploma .fancy span:after {
    width: 160px;
}

.doc {
/*    height: 300px;*/
    text-align: center;
    padding: 10px;
}

#diploma h2 {
    margin-bottom: 60px;
}

.doc p {
    font-size: 14px;
}

.doc-name {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}

.doc-name-sub {
    font-weight: 100;
}

#reviews {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url('../imgs/leaves-bg-big.png');
    background-repeat: repeat;
    min-height: 400px;
}

#reviews h2 {
    margin-bottom: 80px;

}

.review {
    padding: 90px 60px 30px 40px;
    background: #fff;
    box-shadow: 5px 5px 10px #ccc;
    margin-bottom: 35px;
}

.review-photo {
    height: 240px;
    width: 240px;
}

.review-name {
    margin-bottom: 30px;
    font-size: 20px;
}

.review-text {
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: italic;
    position: relative;
}

.review-content {
    padding: 0px 80px;
}


.review-text:before {
    content: "";
    position: absolute;
    right: 100%;
    top: -27px;
    width: 57px;
    height: 51px;
    left: -60px;
    background-image: url('../imgs/q_start.png');
    z-index: 0;
}

.review-text:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 51px;
    background-image: url('../imgs/q_end.png');
    z-index: 0;
    background-position: 55px 0px;
    bottom: -47px;
    right: -50px;
}

#reviews .round-border-helper {
  width: 190px;
  height: 191px;
  margin-left: 5px;
}

#social-buttons h2 {
    margin-top: 70px;
}

#social-buttons {
    padding-bottom: 90px;
}

#social-buttons-content {
    margin-top: 55px;
    width: 780px;
    display: block;
    margin: 0px auto;
}

.social-button {
    width: 16%;
    text-align: center;
    display: inline-block;
}

#social-buttons .reason-icon {
    width: 77px;

    height: 77px;
    border: 10px solid #00ffa2;
}

#social-buttons a:hover {
    text-decoration: none;
}

#social-buttons-content {
    margin-top: 50px;
}

section#contacts {
    padding: 0px;
    height: 490px;
    position: relative;
}

#contacts-tip {
    width: 80px;
    height: 82px;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 64px solid white;
    position: absolute;
    bottom: 0px;
    left: 45.4%;
    z-index: 0;
}

#contacts-content {
    height: 490px;
    background-image: url('../imgs/girl-bg-dark.png');
}

#contacts-content-inside {
    padding: 70px 105px;
}

#contacts-content-inside * {
    color: white;

}

#contacts-content-inside h4 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 45px;
}

#contacts-content-inside ul {
    font-weight: 100;
    font-size: 42px;
}

#contacts-content-inside ul li {
    margin-bottom: 25px;
}

#contacts-content-inside span {
    margin-right: 20px;
    display: inline-block;
    padding-left: 1px;
    /* height: 30px; */
}

#footer {
    padding-top: 25px;
}

#clinics-phone {
    color: #636363;
    font-size: 20px;
}

#clinics-copyright {
    font-size: 14px;
    color: #636363;
    font-weight: bold;
}

#developed {

}

#developed p {
    width: 214px;
    text-align: right;
    display: inline-block;
    font-size: 12px;
}

#developed * {
    color: #636363;
}

#developed p span {
    font-size: 12px;
}

#developed img {
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
display: block;
width: 12px;
height: 12px;
margin: 5px 7px;
filter: Alpha(Opacity=50);
opacity: 0.5;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background: transparent;
border: solid 2px #869791;
}

.owl-theme .owl-controls .owl-page.active span {
    background: #869791;
}

.clear {
    display: block;
    clear: both;
}

.doc-pic img {
    margin: 0px auto;
}

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: transparent;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
    position: absolute;

  /* font-size: 60px; */
  /* font-weight: bold; */
}

.owl-theme .owl-controls .owl-buttons div i {
    font-weight: 900;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

.owl-prev {
    left: -70px;
}


.owl-next {
    right: -70px;
}


#doctors .owl-theme .owl-controls .owl-buttons div {
    top: 130px;
}

#allergens {
    height: 740px;
    overflow: hidden;
    position: relative;
      padding-bottom: 35px;
}

#show-all-allergens {
position: absolute;
  bottom: 10px;
  text-transform: uppercase;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #c0c0c0;
  font-size: 16px;
  cursor: pointer;
  width: 140px;
  text-align: center;
}

#desease-block-wrapper .owl-controls {
    position: absolute;
      top: 95px;
      width: 900px;
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
    font-size: 19px;
    font-weight: 900;
}

#cure-content .owl-theme .owl-controls .owl-page.active span {
    background: #00ffa2;
    border: solid 1px #869791;
    border-radius: 5px;
    color: #fff !important;
      padding-top: 3px;
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
    border: none;
    color: #707070;
    padding-top: 5px;
}

#photo {
    padding-bottom: 45px;
}

#photo h2 {
    margin-bottom: 45px;
}

#photo-wrap {
    width: 900px;
    margin: 0px auto;
}

.a_photo img {
    -webkit-box-shadow: 6px 6px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 12px -5px rgba(0,0,0,0.75);
}

#photo .owl-wrapper-outer {
    padding-bottom: 30px;
}

#partners .owl-controls , #photo .owl-controls {
    position: absolute;
    top: 60px;
    width: 900px;
}

#partners-wrap {
    width: 900px;
    margin: 0px auto;
}

#partners h2 {
    margin-bottom: 45px;
}

#partners {
    padding-bottom: 45px;
}

#video-wrap {
    width: 900px;
    margin: 0px auto;
}

#video h2 {
    margin-bottom: 45px;
}

#video {
    padding-bottom: 45px;
    padding-top: 45px;
}

.a_video {
    padding: 10px;
}

#video .owl-controls , #photo .owl-controls {
    position: absolute;
    top: 70px;
    width: 900px;

}

.a_video p {
    font-size: 12px;
    margin-top: 10px;
}

.player_badge {
    height: 70px;
    width: 100px;
    margin: 0px auto;
    background-image: url('../imgs/youplay.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: inherit;
    left: 0;
    right: 0;
    top: 75px;
    opacity: 0.5;
}

.a_video {
    position: relative;
}


.modal-dialog {
    width: 500px;
    margin-top: 10%;
}

.modal h2{
    color:white;
    font-size: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.modal-content{
    background: url('../imgs/modal-bg.jpg');
}
.modal .btn.btn-lg.btn-custom{
    width: 100%;
    height: 60px;
    background: #eb213e;
    color: white;
}

.modal .btn.btn-lg.btn-custom:hover{
    background:#ee425b;
}
button.close {
    background: url('../imgs/btn_close.png');
    position: absolute;
    right: 0px;
    top: -55px;
    width: 55px;
    height: 55px;
    opacity: 1;
}
button.close:hover{ opacity: 1;}


.modal-header {
    min-height: 16.43px;
      /* padding: 15px; */
      border-bottom: 1px solid #fff;
      text-align: center;
      color: #fff;
      padding: 10px 10px !important;
}
.modal-body {
  position: relative;
  padding: 0px 40px;
}

.modal .modal-footer {
  border: none;
  padding: 0px 40px 40px 40px;
}
.modal input{
    text-align: center;
    font-size: 18px;
    height: 50px;
}

label.error {
  color: black;
  font-weight: 300;
  font-size: 16px;
}

#modal-feedback h2{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}

#modal-feedback p{
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}

label.error {
  line-height: 0px;
}

#order-form2 label.error {
  position: absolute;
  margin-left: -352px;
  margin-top: 56px;
}


#photo {
      padding-top: 70px !important;
}

#diploma {
    padding-bottom: 45px;
}

#allergens .clear {
    margin-top: 40px;
}

#allergens a:hover {
    text-decoration: none;
}

#disclaimer p {
    font-size: 14px;
}

.a_parnter {
    height: 130px;
    text-align: center;
    padding: 5px;
}

.a_parnter img{
    display: inline-block;
    max-height: 100%;
    width: auto;
}

.modal-dialog {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}