.announcement .label {
    float: right;
}

/* announcements */
.announcementupdate {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.announcementupdate header {
    background-color: #eeeeee;
}

.announcementupdate .update-options {
    padding: 0 10px;
}

.announcementupdate header .controls {
    float: right;
}

.announcementupdate input[name$=DELETE], 
.announcementupdate label[for$=DELETE] {
    display: none !important;
}

#announcementlist {
    list-style: none;
}