
[group compiler]
packages = gmp, mpfr, mpc, isl, cloog, gcc
features = tarball, autoconf, makemake, modulesfile, upsprod
unpacked_target = configure
build_target = bin/{package}
install_target = bin/{package}

[package gmp]
version = 6.0.0
source_url = ftp://ftp.gmplib.org/pub/{package}/{source_archive_file}
source_archive_file = {package}-{version}a.tar.bz2
source_unpacked = {package}-{version}
prepare_cmd_options = --prefix={install_dir} --enable-cxx 
build_target = libgmp.la
install_target = lib/libgmp.la
buildenv_CPPFLAGS = -fexceptions
export_LD_LIBRARY_PATH = prepend:{install_dir}/lib

[package mpfr]
version = 3.1.2
source_url = http://www.mpfr.org/mpfr-current/{source_archive_file}
source_archive_ext = tar.bz2
prepare_cmd_options = --prefix={install_dir} --with-gmp={gmp_install_dir}
depends = prepare:gmp_install
build_target = src/libmpfr.la
install_target = lib/libmpfr.la
export_LD_LIBRARY_PATH = prepend:{install_dir}/lib

[package mpc]
version = 1.0.2
source_url = ftp://ftp.gnu.org/gnu/mpc/{source_archive_file}
prepare_cmd_options = --prefix={install_dir} --with-gmp={gmp_install_dir} --with-mpfr={mpfr_install_dir}
depends = prepare:gmp_install, prepare:mpfr_install
build_target = src/libmpc.la
install_target = lib/libmpc.la
export_LD_LIBRARY_PATH = prepend:{install_dir}/lib

[package isl]
version = 0.12.2
source_url = ftp://gcc.gnu.org/pub/gcc/infrastructure/{source_archive_file}
source_archive_ext = tar.bz2
prepare_cmd_options = --prefix={install_dir} --with-gmp-prefix={gmp_install_dir} 
depends = prepare:gmp_install
build_target = libisl.la
install_target = lib/libisl.la
export_LD_LIBRARY_PATH = prepend:{install_dir}/lib

[package cloog]
version = 0.18.1
source_url = ftp://gcc.gnu.org/pub/gcc/infrastructure/{source_archive_file}
prepare_cmd_options = --prefix={install_dir} --with-gmp-prefix={gmp_install_dir} --with-isl-prefix={isl_install_dir}
depends = prepare:gmp_install, prepare:isl_install
build_target = cloog
install_target = bin/cloog
export_PATH = prepend:{install_dir}/bin
export_LD_LIBRARY_PATH = prepend:{install_dir}/lib

[package gcc]
version = {gcc_version}
features = tarball, autoconf, makemake, modulesfile, upsprod
source_url = http://www.netgull.com/gcc/releases/{source_unpacked}/{source_archive_file}
source_archive_ext = tar.bz2
prepare_cmd_options = --prefix={install_dir} --with-gmp={gmp_install_dir} --with-mpc={mpc_install_dir} --with-mpfr={mpfr_install_dir} --with-cloog={cloog_install_dir} --with-isl-prefix={isl_install_dir} --enable-cloog-backend=isl --with-gnu-as --with-gnu-ld --disable-libgcj --enable-threads=posix --enable-languages=c,c++,objc,fortran --disable-multilib
depends = prepare:gmp_install, prepare:mpc_install, prepare:mpfr_install, prepare:isl_install, prepare:cloog_install
build_cmd = env && make
build_cmd_options = -j{NCPUS} bootstrap
build_target = gcc/xgcc
buildenv_CXXFLAGS = set:-fPIC
buildenv_CFLAGS = set:-fPIC
buildenv_LD_LIBRARY_PATH = prepend:{install_dir}/lib
# gcc_multiarch gets defined to "" on non-Deb-like platforms
buildenv_LIBRARY_PATH=/usr/lib/{gcc_multiarch}
buildenv_C_INCLUDE_PATH=/usr/include/{gcc_multiarch}
buildenv_CPLUS_INCLUDE_PATH=/usr/include/{gcc_multiarch}
export_PATH = prepend:{install_dir}/bin
# allow both lib/libgmp.so and lib64/libstc++.so to be picked up
export_LD_LIBRARY_PATH = prepend:{install_dir}/lib:{install_dir}/lib64
