[group fnalgroup]
packages = fnalcore, fnalart
build_cmd = make VERBOSE=1 -j 4
ups_qualifiers = {ups_compiler_taint}
buildenv_CXXFLAGS=-O3 -g -gdwarf-2 -DNDEBUG -fno-omit-frame-pointer -std=c++1y

[package fnalcore]
version = {fnalcore_version}
environment = group:buildtools, group:compiler, group:externals
features = vcs, cmake, makemake, upsprod
depends = unpack:cmake_install,build:boost_install,build:sqlite_install
source_url = https://github.com/LBNE/FNALCore.git
vcs_tag = 1.13.01
vcs_flavor = git
unpacked_target = README.md
prepare_cmd_options = -DBOOST_ROOT={boost_install_dir} -DCMAKE_C_COMPILER={gcc_install_dir}/bin/gcc -DCMAKE_CXX_COMPILER:STRING={gcc_install_dir}/bin/g++ -DCMAKE_INSTALL_LIBDIR=lib -DFNALCore_ENABLE_TESTING=ON -DSQLite3_INCLUDE_DIR={sqlite_install_dir}/include -DSQLite3_LIBRARY={sqlite_install_dir}/lib/libsqlite3.{soext} 
build_target = BuildProducts/lib/libFNALCore.{soext}
install_target = lib/libFNALCore.{soext}
# don't run 'make test' as this requires the use of fhicl file pre-installed in the install path 

[package fnalart]
version = {fnalart_version}
environment = group:buildtools, group:compiler, group:externals, package:fnalcore
depends = prepare:fnalcore_install
features = vcs, cmake, makemake, upsprod, modulesfile
source_url = https://github.com/LBNE/fnal-art.git
vcs_tag = alt-cmake-1.13.01
vcs_flavor = git
unpacked_target = README.md
prepare_cmd_options = -DALT_CMAKE=yes -DCMAKE_C_COMPILER={gcc_install_dir}/bin/gcc -DCMAKE_CXX_COMPILER:STRING={gcc_install_dir}/bin/g++ -DCMAKE_INSTALL_LIBDIR=lib -DSQLite3_INCLUDE_DIR={sqlite_install_dir}/include -DSQLite3_LIBRARY={sqlite_install_dir}/lib/libsqlite3.{soext} 
build_target = BuildProducts/lib/libart_Version.{soext}
install_target = lib/libart_Version.{soext}
buildenv_CMAKE_PREFIX_PATH = prepend:{clhep_install_dir}:{root_install_dir}:{tbb_install_dir}:{boost_install_dir}:{fnalcore_install_dir}
buildenv_TBB_ROOT = {tbb_install_dir}

