; vim: set fileencoding=utf-8 :
; Andre Anjos <andre.anjos@idiap.ch>
; Mon 16 Apr 08:29:18 2012 CEST

[buildout]
parts = scripts
eggs = bob.blitz==2.0.3
       bob.core==2.0.2
       bob.sp==2.0.2
       bob.math==2.0.1
       bob.io.base==2.0.3
       bob.io.image==2.0.1
       bob.ip.base==2.0.3
       bob.ip.color==2.0.2
       bob.ip.draw==2.0.1
       bob.ip.gabor==2.0.2
       bob.learn.activation==2.0.2
       bob.learn.linear==2.0.3
       bob.learn.em==2.0.1
       bob.learn.boosting==2.0.1
       bob.db.base==2.0.1
       bob.db.verification.utils==2.0.1
       bob.db.multipie==2.0.1       
       bob.measure==2.0.1
       facereclib==2.1.0
       xfacereclib.paper.IET2015
       gridtk

newest = false
verbose = true
debug = false

extensions = bob.buildout
develop = .

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
