/*#id_file {*/
    /*background: -moz-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);*/
    /*background: -webkit-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);*/
    /*background: -ms-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);*/
    /*background: linear-gradient(to bottom, #dddddd 0%, #bbbbbb 100%);*/
    /*border-radius: 10px;*/
    /*width: 800px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*margin-top: 2em;*/
    /*padding: 1em;*/
/*}*/

#id_file {
    height: 100px;
    width: 100%;
    padding: 8% 10% 18% 10%;
    font-size: 22px;
}
