[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg


package-name = collective.atomrss
package-extras = [test]

parts += 
    robot
    omelette
    translation
#    plonesite
#    code-analysis

[instance]
eggs += 
    Pillow

zcml +=
    collective.atomrss:testing.zcml

[plonesite]
recipe = collective.recipe.plonesite
site-replace = True
site-id = Plone
profiles = collective.atomrss:testing

[translation]
recipe = infrae.i18nextract
packages  = collective.atomrss
output = ${buildout:directory}/src/collective/atomrss/locales
output-package = collective.atomrss
domain = collective.atomrss

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[reload, debug]

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src

[omelette]
recipe = collective.recipe.omelette
eggs = 
    ${test:eggs}
    ${instance:eggs}

[versions]
plone.app.robotframework = 
selenium = 
robotframework =
robotsuite =
