# -*- coding: utf-8 -*-
#:Progetto:  metapensiero.extjs.desktop -- ExtJS buildout configuration snippet
#:Creato:    mar 31 lug 2012 18:11:36 CEST
#:Autore:    Lele Gaifax <lele@metapensiero.it>
#:Licenza:   GNU General Public License version 3 or later
#

[extjs]
recipe = hexagonit.recipe.download
top-directory = ext-4.2.1.883
url = http://cdn.sencha.com/ext/gpl/ext-${versions:ExtJS}${versions:ExtJS-tag}.zip
destination = ${pathnames:extjs-directory}
strip-top-level-dir = True
excludes =
  ${:top-directory}/*-rtl*.js
  ${:top-directory}/build.xml
  ${:top-directory}/build/*
  ${:top-directory}/builds/*
  ${:top-directory}/cmd/*
  ${:top-directory}/docs/*
  ${:top-directory}/examples/*
  ${:top-directory}/ext-ent*.js
  ${:top-directory}/ext-neptune*.js
  ${:top-directory}/index.html
  ${:top-directory}/locale/*
  ${:top-directory}/packages/*
  ${:top-directory}/plugins/*
  ${:top-directory}/release-notes.html
  ${:top-directory}/welcome/*

[versions]
ExtJS = 4.2.1
ExtJS-tag = -gpl
