#calendarevents_add_calendar, #calendarevents_add_event{
    text-decoration: none;
}

#calendarevents_add_calendar:hover, #calendarevents_add_event:hover {
    text-decoration: underline;
}

#calendarevents_calendars {
    margin-top: 32px;
}

.calendarevents_calendars_entry {
    font-size: 18px;
    text-transform: capitalize;
    height: 64px;
    background-image: url('/_pluggable/calendarevents/images/calendar.png');
    background-repeat: no-repeat;
    padding-left: 72px;
}

.calendarevents_calendars_name {
    line-height: 64px;
}

#calendarevents_calendar {
    margin-top: 16px;
}

#calendarevents_calendar_title {
    text-transform: capitalize;
}

#calendarevents_events {
    margin-top: 32px;
}

.calendarevents_event {
    max-width: 320px;
    margin-bottom: 48px;
    font-size: 13px;
}

.calendarevents_event .calendarevents_event_name {
    font-weight: bold;
    font-size: 16px;
}

.calendarevents_event .calendarevents_event_datetime {
    font-size: 11px;
    line-height: 12px;
}

.calendarevents_event .calendarevents_event_location {
    font-size: 11px;
    line-height: 12px;
}

.calendarevents_event .calendarevents_event_summary {
    margin-top: 4px;
}

.calendarevents_event .calendarevents_event_weather {
    float: right;
}

.calendarevents_event .calendarevents_event_summary {
    clear: both;
}
.calendarevents_remove_event .calendarevents_modify_event{
    float: left;
    margin-right: 5px;
}
