.delete_confirmation_popup h1{
    font-size:1.2em;
}
.delete_confirmation_popup h2{
    font-size:1em;
}

.delete_confirmation_popup ul.mainContent {
    margin-bottom:1em;
    margin-top:0.5em;
    font-weight:bold;
}

.delete_confirmation_popup .subContents li a {
    color:red !important;
}

.simplelayout-content.ui-sortable.ui-sortable-disabled.ui-state-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
