[buildout]
develop = .
parts = chameleon test checker coverage coveragereport py
versions = versions


[versions]
setuptools = 7.0
distribute = 0.7.3
#zc.buildout = 2.2.3
zc.buildout = 1.7.0


[chameleon]
recipe = z3c.recipe.dev:mkdir
path = parts/chameleon


[textenv]
CHAMELEON_CACHE = ${buildout:directory}/parts/chameleon


[test]
recipe = zc.recipe.testrunner
eggs = j01.dialog [test]
environment = textenv


[checker]
recipe = lovely.recipe:importchecker
path = src/j01/dialog


[coverage]
recipe = zc.recipe.testrunner
eggs = j01.dialog [test]
defaults = ['--all', '--coverage', '../../coverage']
environment = textenv


[coveragereport]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/coverage', 'parts/coverage/report')


[py]
recipe = zc.recipe.egg
eggs = j01.dialog
interpreter = python
