// variables

// colors
@orange:                #D3311F;
@black:                 #000;
@gray:                  #CCC;
@white:                 #FFF;


// form
@error:                 red;


@textarea-height:       auto;
@textarea-min-height:   100px;


// input group addons
@input-group-addon-before-bg:  @gray-lighter;
@input-group-addon-after-bg:   @white;


// btns
@btns-padding:              5px 0px 5px 0px;

@btn-padding:               0;
@btn-margin:                0px 5px 0px 0px;
@btn-input-margin:          0;
@btn-input-padding:         0px 10px 0px 10px;

@btn-height:                25px;
@btn-line-height:           @btn-height;
@btn-font-size:             @font-size-base;

@btn-color:                 @white;
@btn-hover-color:           @btn-color;
@btn-bg:                    @orange;
@btn-hover-bg:              @btn-bg;

@btn-secondary-color:       @black;
@btn-secondary-hover-color: @btn-secondary-color;
@btn-secondary-bg:          @gray;
@btn-secondary-hover-bg:    @btn-secondary-bg;
@btn-secondary-padding:     0 0 0 25px;

@btn-link-color:            @orange;
@btn-link-hover-color:      @btn-link-color;
@btn-link-bg:               @white;
@btn-link-hover-bg:         @btn-link-bg;


// radio, checkbox picker
@picker-margin:                    5px 0;
@picker-checked-color:             @brand-primary; //#999;

@picker-width:                     20px;
@picker-height:                    20px;
@picker-checkbox-handle-border:    1px solid #ccc;
@picker-checkbox-handle-radius:    2px;
@picker-checkbox-handle-margin:    0 5px 0 0;

@picker-radio-flag-bg:             #fff;
@picker-radio-flag-width:          18px; //16px;
@picker-radio-flag-height:         18px; //16px;
@picker-radio-flag-radius:         18px; //8px;
@picker-radio-flag-border:         1px solid #ccc;
@picker-radio-flag-checked-border: 1px solid @picker-checked-color;
@picker-radio-flag-margin:         0; //3px;
@picker-radio-handle-radius:       0; //18px;
@picker-radio-handle-border:       0; //1px solid #ccc;
@picker-radio-handle-margin:       0 5px 0 0;

@picker-icon:                      '../img/picker.png';