[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = customer.lascatalinascr_com
package-extras = [test]
eggs += Products.PrintingMailHost

parts +=
    node
    zptlint


[code-analysis]
directory = ${buildout:directory}/src/customer/lascatalinascr_com
pre-commit-hook = False
flake8-ignore = E501
flake8-max-complexity = 12
csslint = True
csslint-bin = bin/csslint
jshint = True
jshint-bin = bin/jshint
debug-statements = True
prefer-single-quotes = True
find-untranslated = True
i18ndude-bin = bin/i18ndude
zptlint = True
zptlint-bin = bin/zptlint
