body {
    font-family: arial;
}

#container {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border: black 1px solid;
    overflow-y: scroll;
}

#inputs {
    width: 325px;
    margin: 10px auto;
}

.green {
    height: 30px;
    width: 30px;
    background-color: green;
}

.red {
    height: 30px;
    width: 30px;
    background-color: red;
}