@charset "utf-8";

#pubAuthors {
    list-style: none !important;
    margin-left: 0 !important;
    line-height: 0.9em !important;
}

.publicationsTable tbody tr {
    margin-bottom: 1em !important;
}
.publicationsTable tbody tr td {
    margin: 0 0.5em 1em 0.5em;
}

div#content div label {
    background-color: transparent !important;
    font-weight: bold !important;
    border-bottom: none !important;
    padding: 0 !important;
}