; vim: set fileencoding=utf-8 :
; Andre Anjos <andre.anjos@idiap.ch>
; Thu 30 Aug 2012 15:36:56 CEST

[buildout]
parts = scripts
develop = .
eggs = antispoofing.optflow
       gridtk
;prefixes = /idiap/group/torch5spro/releases/bob-1.x

[scripts]
recipe = xbob.buildout:scripts
dependent-scripts = true
