/* Add here your CSS commands */
body {
	font-family: "Arial", sans-serif;
	background-image: url(bg.png);
	background-repeat: repeat-x;
	margin: 0 auto;
	color:#4C4C4C;
}
body.section-index,
body.section-bise{
	/**background-image: url("Bise-back-main.jpg");*/
}
#content p, #content table, #content dl, dl.portlet p, dl.portlet {
  margin-bottom: 0.5em;
}
a:hover{
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #168130;
}
h1 {
	font-size: 23px;
}
.externalLink {
	background: url("external-link.png") no-repeat scroll right center transparent;
	padding-right: 15px;
}
#visual-portal-wrapper{
	width: 960px;
	margin: 0 auto;
}
#portal-top,
#portal-columns,
#portal-footer-wrapper{
	width: 960px;
	margin: 0 auto;
}
#portal-columns{
	/**background: #FFF url(main-mid.png) 0 0 repeat-y;;*/
	border-top: 1px solid #D4D9CC;
	border-left: 1px solid #D4D9CC;
	border-right: 1px solid #D4D9CC;
	-moz-box-shadow: 0 0 6px 7px #DFE5D7;
	-webkit-box-shadow: 0 6px 7px #DFE5D7;
	box-shadow: 0 0 6px 7px #DFE5D7;
	background-color: white;
	margin-left: 9px;
	width: 943px;
}
body.section-index #portal-columns {
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;	
	background-color: transparent;
}
#portal-footer-wrapper{
	/**background: url(footer-bg.png) 0 0 no-repeat;*/
	border-bottom: 1px solid #D4D9CC;
	border-left: 1px solid #D4D9CC;
	border-right: 1px solid #D4D9CC;
	/**-moz-box-shadow: 0 0 0px 2px #ccc;
	-webkit-box-shadow: 0 6px 3px #DFE5D7;
	box-shadow: 0 0 6px 3px #DFE5D7;*/
	box-shadow: 0px 6px 3px #dfe5d7, -6px 6px 3px #dfe5d7, 6px 6px 3px #dfe5d7;
	background-color: white;
	margin-left: 9px;
	width: 943px;	
}
body.section-index #portal-footer-wrapper{
	margin-top: -26px;
	margin-left: 10px;
}
#portal-footer-wrapper > div{
	margin-left: -99.875%;
}
#portal-header li{
	display: inline-block;
}
#portal-logo {
	margin-top: 2px;
}
#wrap_logoBiseShadow {
	position: absolute;
	width: 133px;
	height: 44px;
	top: 0;
	z-index: -100;
	-webkit-box-shadow: 3px 0 15px #CCC, -3px 0 15px #CCC;
	-moz-box-shadow: 3px 0 15px #CCC, -3px 0 15px #CCC;
	box-shadow: 3px 0 15px #CCC, -3px 0 15px #CCC;
}
#portal-personaltools-wrapper a{
	color: #0a7223;
}
#personalbar-options{
	float:right;
	margin-top: 20px;
	font-size: 12px;
}
#personalbar-options li{
	padding: 0.3em;
}
#portal-personaltools {
	background-color: transparent;
	padding: 0px;
	font-size: 100%;
	margin-top: 24px;
	font-size: 12px;
}
#searchbar-options{
	float:right;

}
#searchForm{
	width: 180px !important;
	margin-top: 10px;
}
#portal-personaltools dd {
	background-color: white;
}
#portal-globalnav {
	height: 5em;
}
#portal-globalnav{
	width: 960px;
	margin-top: -20px;
	background: none;
}
#portal-globalnav li{
	width: 16.4%;
}
#portal-globalnav li div{
	height: 33px;
	width: 99%;
	font-size: 18px;
	padding-top: 15px;
	/**border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;*/
	border: 1px solid #168130;
	/**border-left: 2px solid white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;	*/
	/**-moz-box-shadow: 0 0 0px 2px #ccc;
	-webkit-box-shadow: 0 0 0px 2px #ccc;
	box-shadow: 0 0 0px 2px #ccc;	*/
}
#portal-globalnav li a,
#portal-globalnav li a:hover
{
	padding: 0px;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 18px;
	background: none;
	border-right: 0px;
	text-decoration: none;
}
#portal-globalnav li div#portaltab-topics {
	background-image: url(BISE-Tabs-01.png);
	

	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#portal-globalnav li div#portaltab-policy {
	background-image: url(BISE-Tabs-02.png);
}
#portal-globalnav li div#portaltab-data {
	background-image: url(BISE-Tabs-03.png);
}
#portal-globalnav li div#portaltab-research {
	background-image: url(BISE-Tabs-04.png);
}
#portal-globalnav li div#portaltab-countries {
	background-image: url(BISE-Tabs-05.png);
}
#portal-globalnav li div#portaltab-networks {
	background-image: url(BISE-Tabs-06.png);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;	
}

.portalsubtabs{
	background-color: #fff !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px 5px #cfcfcf;
	-webkit-box-shadow: 1px 1px 5px #cfcfcf;
	box-shadow: 1px 1px 5px #cfcfcf;
	z-index: 9999;
	padding: 10px;
	color: #000;
	font-size: 12px;
	display: none;
	border: 2px solid #d4d9cc;
}

.portalsubtabs .column {
	float: left;
	width: 289px;
	padding: 5px;
}
.portalsubtabs .first-level {
	list-style-image: url('bise-submenu-first-level.gif');
}
.portalsubtabs .list-title {
	padding: 5px;
	font-weight: bold;
	list-style-position: inside;
}
.portalsubtabs .list-title{
	background-image: url(Topics-bg.png);
	background-repeat: repeat-x;
	background: #84bf02;
	background: -moz-linear-gradient(top,  #84bf02 0%, #366617 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84bf02), color-stop(100%,#366617));
	background: -webkit-linear-gradient(top,  #84bf02 0%,#366617 100%);
	background: -o-linear-gradient(top,  #84bf02 0%,#366617 100%);
	background: -ms-linear-gradient(top,  #84bf02 0%,#366617 100%);
	background: linear-gradient(to bottom,  #84bf02 0%,#366617 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84bf02', endColorstr='#366617',GradientType=0 );

}

.portalsubtabs .second-level {
	list-style-image: url('bise-submenu-second-level.gif');
	padding-left: 25px;
}
.portalsubtabs li {
	padding-top: 2px;
	padding-bottom: 2px;
	display: list-item !important;
}
.portalsubtabs .third-level {
	padding-left: 25px;
}
.portalsubtabs a,
.portalsubtabs a:link,
.portalsubtabs a:hover,
.portalsubtabs a:visited {
	color:#000;
}
.portalsubtabs .description {
	display: block;
	font-style: italic;
	color: gray;
	font-size: 12px;
}
#portal-breadcrumbs {
	/**background-image: url(main-top.png);*/
	padding-top:  0px;
	padding-left: 0px;
	/**background-repeat: no-repeat;*/
}
#portal-breadcrumbs a,
#portal-breadcrumbs a:link{
	color: #286d4e;
	text-decoration: none;
}
#portal-breadcrumbs a:visited{
	color: #693;
	text-decoration: none;
}
#portal-breadcrumbs a:hover{
	color: #00527c;
	text-decoration: none;
}
#content h1.documentFirstHeading{
	/*margin-top: -20px;*/
	color: #168130;
	border-bottom: 1px solid #168130;
}

body.section-bap .bap-action-holder h1 {
	color: #168130;
	border-bottom: 1px solid #168130 !important;
	margin-bottom: 5px;
}
body.section-bap h1 {
	color: #168130;
	border-bottom: 1px solid #168130 !important;
	margin-bottom: 5px;
}

#viewlet-social-like {
	text-align: right;
}
#viewlet-social-like iframe{
	width:74px;
}
.mainparagraph {
	background-color: #F0F0F0;
	border: 1px dotted #BED492;
	padding: 0.5em 0.7em;
}
#content-core h3{
	border-bottom: 1px solid #e9efcd;
}
#content a,
#content a:link{
	color: #286d4e;
}
#content a:visited{
	color: #693;
}
#content a:hover{
	color: #00527c;
	text-decoration: none;
}
#content ul{
	list-style-image: url(bullet-col.png);
	margin-left: 2em;
	padding-left: 1em;
}

#portal-column-one{
	margin-top: 28px;
	border-right: 1px solid #BAE2FF;
	padding-right: 5px;	}
dl.portlet dt{
	background-color: transparent;
}
dl.portlet dt a:link,
dl.portlet dt a:hover,
dl.portlet dt a:visited {
	color: #168130;
	/**border-bottom: 1px solid #BAE2FF;*/
}
#editable-footer{
	background-color: transparent;
	background-image: url(Bise-back-footer.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	height: 100px;
	width: 942px;
	text-align: center;
	padding-top: 9em;
}
#editable-footer a {
	padding-right: 3em;
}
.portletGalleryPortlet .portletItem{
	background-image: url(bise-back-gallery.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}
.portletGalleryPortlet .portletItem div:first-child{
	border: 10px solid white;
}
#content #collage{
	margin-top: -14px;
}
.section-chm-network #content #collage{
	margin-top: -20px;
}
.section-chm-network .portletItem.odd{
	padding: 0px !important;
}
.section-chm-network .collage-row{
	padding-top: 0px !important;
}
.collage-row {
	border-top: 1px solid #D4D9CC;
	border-left: 1px solid #D4D9CC;
	border-right: 1px solid #D4D9CC;
	-moz-box-shadow: 0 0 6px 7px #DFE5D7;
	-webkit-box-shadow: 0 0 6px 7px #DFE5D7;
	box-shadow: 0 0 6px 7px #DFE5D7;
	background-color: white;
	margin-left: -13px !important;
	width: 102% !important;
	margin-top: 20px;
	padding-left: 10px;
}
.collage-row .block_2 h1{
	color: #15802e;
	font-size: 35px;
	text-align: left;
	font-family: 'Asap', sans-serif;
	font-weight: bold;
	font-style: italic;
	margin-left: 0px;
}
.collage-row .block_2 h1:nth-child(2){
	font-size: 30px;
}
.collage-row .block_2 h2{
	color: #000;
	text-align: left;
	font-family: 'Asap', sans-serif;
	font-size: 18px;
	margin-left: 0px;
}
.collage-row .portletHeader span{
	color: #158140;
	font-family: 'Asap', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 22px;
}
.portlet-collection-news-europe .portletHeader span,
.portlet-collection-news-world .portletHeader span{
	margin-left: 16px;
}
.collage-row {
	padding-top: 10px;
}
.collage-row .portletItem ul{
	font-size: 14px;
	list-style-image: url(Bise-bullet.png) !important;
	margin-left: 0px !important;
	padding-left: 0px !important;
}
.collage-row .portletItem{
	font-size: 14px;
}
.collage-row dl.portletCollection{
	background-image: url(Bise-bak-news.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 0px;
}
.collage-row dl.portletCollection dd.portletItem{
	border-bottom: 1px dotted #c5cd85;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: 13px;
	padding-left: 0px;
	margin-left: 30px;
	padding-right: 0px;
	margin-right: 25px;
}
.collage-row dl.portletCollection dd.portletItem span:first-child{
	background: url(Bise-bullet.png)  no-repeat scroll left center transparent;
	padding-left: 15px;
}
.collage-row dl.portletCollection dd.portletItem a{
	padding-left: 15px;
	display: block;
}
.collage-row .block_2 .portletStaticText,
.collage-row .block_3 .portletStaticText {
	text-align: right;
	font-weight: bold;
	font-size: 14px;
}
.section-chm-network .collage-row {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.section-chm-network .portletStaticText {
	font-size: 13px;
}
.section-chm-network .collage-row dl.portletCollection{
	background-image: none;
	padding-bottom: 0px;
}
#portal-column-one .portletNavigationTree .portletHeader,
#portal-column-one .portletStaticText .portletHeader {
	border-bottom: 1px solid #BAE2FF !important;
	padding-left: 0px;
}
#portal-column-one .portletNavigationTree .portletHeader a,
#portal-column-one .portletStaticText .portletHeader span{
	font-size: 17px;
	color: #168130;
}
#portal-column-one .portletNavigationTree .portletItem img{
	display: none;
}
#portal-column-one .portletNavigationTree .portletItem .navTreeItem{
	padding: 0 !important;
	line-height: 16px !important;
}
#portal-column-one .portletStaticText .portletItem {
	padding: 0px !important;
}
#portal-column-one .portletNavigationTree .portletItem a,
#portal-column-one .portletNavigationTree .portletItem a:link,
#portal-column-one .portletNavigationTree .portletItem a:hover,
#portal-column-one .portletNavigationTree .portletItem a:visited{
	color: #286d4e !important;
	background-color: transparent !important;
	border-left: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
#portal-column-one .portletStaticText .portletItem li{
	border-bottom: 1px dotted #c5cd85;
}
#portal-column-one .portletStaticText .portletItem a,
#portal-column-one .portletStaticText .portletItem a:link,
#portal-column-one .portletStaticText .portletItem a:hover,
#portal-column-one .portletStaticText .portletItem a:visited{
	color: #286d4e !important;
}
/**
 * BAP
 */
.section-bap .cleaner {
	clear:both;
}
.section-bap .clear {
	clear: both;
}
.section-bap .field {
	clear: none;
}
.section-bap .field label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
}
/**INFOBOX MAP NETWORKS**/
#infobox{
  border:2px solid black;
  position:absolute;
  display:none;
  background-color:white;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 5px #888888;
  -webkit-box-shadow: 1px 1px 5px #888888;
  box-shadow: 1px 1px 5px #888888;
  min-height: 120px;
  min-width: 310px;
  max-width: 450px;
  font-size:12px;
  z-index: 10;
}
#infobox-table{
	padding: 5px;
	border-collapse: separate !important;
}
#infobox-table th{
  vertical-align: top;
  text-align: left;
  font-weight: bold;
}
#infobox-arrow-border {
  border-color: transparent #000  transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top:32px;
  left:-22px;
}
#infobox-arrow {
  border-color: transparent white  transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  /**bottom:-19px;*/
  top:32px;
  /**left:30px;*/
  left:-19px;
}
#infobox-close{
	cursor: pointer;
	padding-right: 5px;
	padding-top: 5px;
}
@-moz-document url-prefix() {
    .infobox-arrow-border {
        left:-22px;
    }
    .infobox-arrow {
          left:-20px;
    }
}
.hover {
	cursor: pointer;
}
/**END INFOBOX MAP NETWORKS**/
/** COUNTRY SHEETS */
.portaltype-biodiversityfactsheet #accordion-header{
	width: 326px;
}
.portaltype-biodiversityfactsheet h2.collapsible {
	border-bottom: 1px solid #e9efcd;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	cursor: pointer;
	background: #333333;
	padding: 5px;
	margin-top: 5px;
	height: 19px;
}
.portaltype-biodiversityfactsheet .section-content .description{
	margin-top: -6px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	padding-left: 4px;
}
.portaltype-biodiversityfactsheet h2.collapsible .collapse-icon{
	display: block;
	float: right;
	padding: 10px;
}
.portaltype-biodiversityfactsheet h2.collapsible.collapse-open .collapse-icon{
	background: url("country-profile/circle_minus_white.png") center center no-repeat;
}
.portaltype-biodiversityfactsheet h2.collapsible.collapse-close .collapse-icon{
	background: url("country-profile/circle_plus_white.png") center center no-repeat;
}
.portaltype-biodiversityfactsheet .main-section-content{
	border-left: 1px solid #AE9FCD;
	border-bottom: 1px solid #AE9FCD;
	border-right: 1px solid #AE9FCD;
	margin-bottom: 10px;
	margin-top: -6px;
	font-size: 16px;
	font-weight: bold;
}
.portaltype-biodiversityfactsheet h3.collapsible {
	color: black;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}
.portaltype-biodiversityfactsheet .collapsible span.icon{
	display: block;
	float: right;
	padding: 10px;
}
.portaltype-biodiversityfactsheet .collapsible.collapse-open .graph{
	background: url("country-profile/charts-hide.png") center center no-repeat;
}
.portaltype-biodiversityfactsheet .collapsible.collapse-close .graph{
	background: url("country-profile/charts.png") center center no-repeat;
}
.portaltype-biodiversityfactsheet .collapsible.collapse-open .link{
	background: url("country-profile/link-hide.png") center center no-repeat;
	height: 4px;
}
.portaltype-biodiversityfactsheet .collapsible.collapse-close .link{
	background: url("country-profile/link.png") center center no-repeat;
	height: 4px;
}
.portaltype-biodiversityfactsheet .collapsible.collapse-open .map{
	background: url("country-profile/map_icon_white.png") center center no-repeat;
	height: 4px;
}
.portaltype-biodiversityfactsheet .collapsible.collapse-close .map{
	background: url("country-profile/map_icon.png") center center no-repeat;
	height: 4px;
}
.portaltype-biodiversityfactsheet .collapsible.collapse-open .pdf{
	background: url("country-profile/pdf-icon.png") center center no-repeat;
}
.portaltype-biodiversityfactsheet .collapsible.collapse-close .pdf{
	background: url("country-profile/pdf-icon.png") center center no-repeat;
}
.portaltype-biodiversityfactsheet .fact-contents .data-source{
	text-align: right;

}
.portaltype-biodiversityfactsheet .fact-contents .data-source .data-source-title{
	font-weight: bold;
}
.portaltype-biodiversityfactsheet .fact-contents .legendContainer{
	left: 748px;
	overflow: auto;
}
.esriBasemapIcon {
  background-image: url("Basemap16.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 4px 0 4px 4px;
}
.dijitMenuItemIcon {
	width: 40px;
}
.portaltype-biodiversityfactsheet .fact-contents table.basic-facts{
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid lightgray;
	margin-top: 5px;
}

.portaltype-biodiversityfactsheet .fact-contents table.basic-facts tr:nth-child(even){

}
.portaltype-biodiversityfactsheet .fact-contents table.basic-facts tr:nth-child(odd){
	background: #eee;
}
.portaltype-biodiversityfactsheet .fact-contents table.basic-facts tr td{
	padding: 5px;
}
/**.portaltype-biodiversityfactsheet .fact-contents .shadow {
	-webkit-box-shadow: 4px 4px 8px #adadad;
	-moz-box-shadow: 4px 4px 8px #adadad;
	-o-box-shadow: 4px 4px 8px #adadad;
	box-shadow: 4px 4px 8px #adadad;
}
.portaltype-biodiversityfactsheet .fact-contents .roundedCorners {
	border: solid 2px #B8B8B8;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}*/
/** END COUNTRY SHEETS */
.compare-form-holder{
	background-color: #DDD2F4 !important;
}
.ui-tabs-anchor{
	color:#693 !important;
}
table.targetDesc td {
    padding: 5px;
}
body.section-policy #content table.targetDesc {
    border-collapse:collapse;
}
body.section-policy #content table.targetDesc,
body.section-policy #content table.targetDesc th, 
body.section-policy #content table.targetDesc td {
    border: 1px solid #303030;
}
#socialmedia-viewlet li {
	list-style: none;
}
.action-items li{
	display: inline !important;
}
#slideshow9270{
	height: 280px;
}
input.search-button {
    border: 1px solid #999999;
    background-color: #7FBA46;
    font-family: inherit;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	padding: 0 8px;
	height: 24px;
	min-width: 54px;
}
input.search-input{
	outline: none;
	font-family: inherit;
	border: 1px solid #D3BCA1;
	padding: 3px 6px;
	width: 89px;
	font-size: 13px;
	border-color: #7FBA46;
}
#searchbar-options{
	margin-top: 18px;
}
.portaltype-folderishpage #content-core a img{
  padding: 10px !important;
}
#portal-globalnav {
  height: 50px !important;
  overflow: hidden;
}

.chosen-container ul{
	margin-left: 0px !important;
	padding-left: 0px !important;
}
.chosen-container-multi .chosen-choices li.search-choice{
	line-height: 13px !important;
}
body:not(.userrole-manager) #plone-contentmenu-workflow,
body:not(.userrole-manager) #contentview-upload,
body:not(.userrole-manager) #contentview-redirection,
body:not(.userrole-manager) #plone-contentmenu-display,
body:not(.userrole-manager) #plone-contentmenu-actions-faceted.search.enable,
body:not(.userrole-manager) #contentview-contentrules,
body:not(.userrole-manager) #contentview-local_roles{
	display: none !important;
}
#counter {
	display: none;
	background-color: #67924d;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: white;
	padding: -2px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#daysLeft{
	float: left;
	font-family: 'Asap', sans-serif;
	font-weight: bold;
	font-size: 34px;
	padding: 12px 15px;
}
#counterText{
	font-size: 13px;
}
.portaltype-folderishpage #content-core a img{
  	padding: 10px !important;
}
#portal-globalnav {
  	height: 50px !important;
  	overflow: hidden;
}
#mapSelector>div{
  	padding-right:2px !important;
}
#targetFilter {
	display: none;
}
#targetFilter .targetLabel{
	width:13%;
	float:left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}
.targetSmallLabel{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
	padding: 2px;
	margin: 5px;
	font-weight: normal;
	font-size: 10px;	
}
.target1Label{
	background-color: #e8917b;
	border: 1px solid #d4775d;
}
.target2Label{
	background-color: #e3b068;
	border: 1px solid #c9924b;
}
.target3Label{
	background-color: #e3e2c3;
	border: 1px solid #b8b588;
}
.target4Label{
	background-color: #a9dbd4;
	border: 1px solid #79b3aa;
}
.target5Label{
	background-color: #b88ca1;
	border: 1px solid #9c6e85;
}
.target6Label{
	background-color: #adc4db;
	border: 1px solid #86a2bf;
}
