abbr, acronym{
  border-bottom: .1em dotted;
  cursor: help;
}
#cifChart{
  width: 760px;
  border-collapse: separate !important;
  border-spacing: 5px 0px !important;
  margin: 0 auto;
  table-layout: fixed;
}
.horizontal-line{
  background-image: url('dot.gif');
  background-repeat: repeat-x;
  background-position: 0% 50%;
}
.vertical-line{
  background-image: url('dot.gif');
  background-repeat: repeat-y;
  background-position: 50% 0%;
}
.vertical-line5{
  background-image: url('dots.PNG');
  background-repeat: repeat-y;
  background-position: 50% 0%;
}
.up-arrow{
  width: 0;
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; 
  border-bottom: 10px solid black;
  left: 50%;
  position: relative;
}
.down-arrow{
  width: 0;
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; 
  border-top: 10px solid black;
  left: 50%;position: relative;
}
.horizontal-line{
  width:80%;
  text-align: center;
  margin-left: 12px;
  margin-bottom:0px;
}
#corner-div{
  position: relative;
  top: -69px;
  left: 197px;
}
#corner-div-short{
  position: relative;
  top: -69px;
  left: 153px;
}
#vl1{
  height: 29px;
}
.hLine{
margin-right:-5px;
}
.hLine-short{
margin-right:-7px;
}
@-moz-document url-prefix() {
    #corner-div {
      left: 195px;
      top: -70px;
    }
#corner-div-short{
  position: relative;
  top: -69px;
  left: 153px;
}
.hLine{
margin-right:-4px;
}
.hLine-short{
margin-right:-6px;
}
    #vl1{
      height: 49px;
    }
}

.directors{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  background-color:#9e6d52;
  border:0px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.coordinationGroup {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 0px;
  background-color: #aa7659;
  height:2em;
}
.relevant{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border:0px;
  background-color:#E8E8E8;
}
.target{
  border-bottom:0;
  width:155px;
  text-align:center;
  padding:2px;
  font-weight:bold;
  border-radius: 10px 10px 0px 0px;
  background-color: #cc8e6c;
  color:white;
}
.relevantFora{
  border-left:0px;
  padding:4px;
  padding-bottom:0px;
  font-size:90%;
  background-color:#f7eee9;
}
.relevantFora2{
  border-radius: 0px 0px 10px 10px;
  border:0px;
  padding:4px;
  padding-top:0px;
  background-color:#E6E6E6;
}
.coreGroup{
  border:0px;
  padding:4px;
  background-color:#f0ddd3;
  font-size:12px;
}
.coreGroup-down-arrow{
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 16px solid #f0ddd3;
  left: 0px;
}
.target-down-arrow{
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 15px solid #cc8e6c;
  left: 0px;
}
#monitoring{
  text-align: center;
  border: 1px solid #cc8e6c;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #cc8e6c;
  color: black;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 70px;
  font-weight: bold;
}
.empty-row{
  height:12px;
}