body {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}
@font-face {
  font-family: 'Asap';
  src: url('./fonts/asap_regular/Asap-Regular-webfont.eot');
  src: url('./fonts/asap_regular/Asap-Regular-webfont.eot?#iefix') format('eot'),
  url('./fonts/asap_regular/Asap-Regular-webfont.woff') format('woff'),
  url('./fonts/asap_regular/Asap-Regular-webfont.ttf') format('truetype'),
  url('./fonts/asap_regular/Asap-Regular-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Asap';
    src: url('./fonts/asap_regular/Asap-Regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
  }
}

@font-face {
  font-family: 'Asap';
  src: url('./fonts/asap_bold/Asap-Bold-webfont.eot');
  src: url('./fonts/asap_bold/Asap-Bold-webfont.eot?#iefix') format('eot'),
  url('./fonts/asap_bold/Asap-Bold-webfont.woff') format('woff'),
  url('./fonts/asap_bold/Asap-Bold-webfont.ttf') format('truetype'),
  url('./fonts/asap_bold/Asap-Bold-webfont.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Asap';
    src: url('./fonts/asap_bold/Asap-Bold-webfont.svg') format('svg');
    font-weight: 700;
    font-style: normal;
  }
}

@font-face {
  font-family: 'Asap';
  src: url('./fonts/asap_italic/Asap-Italic-webfont.eot');
  src: url('./fonts/asap_italic/Asap-Italic-webfont.eot?#iefix') format('eot'),
  url('./fonts/asap_italic/Asap-Italic-webfont.woff') format('woff'),
  url('./fonts/asap_italic/Asap-Italic-webfont.ttf') format('truetype'),
  url('./fonts/asap_italic/Asap-Italic-webfont.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Asap';
    src: url('./fonts/asap_italic/Asap-Italic-webfont.svg') format('svg');
    font-weight: 400;
    font-style: italic;
  }
}

@font-face {
  font-family: 'Asap';
  src: url('./fonts/asap_bolditalic/Asap-BoldItalic-webfont.eot');
  src: url('./fonts/asap_bolditalic/Asap-BoldItalic-webfont.eot?#iefix') format('eot'),
  url('./fonts/asap_bolditalic/Asap-BoldItalic-webfont.woff') format('woff'),
  url('./fonts/asap_bolditalic/Asap-BoldItalic-webfont.ttf') format('truetype'),
  url('./fonts/asap_bolditalic/Asap-BoldItalic-webfont.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Asap';
    src: url('./fonts/asap_bolditalic/Asap-BoldItalic-webfont.svg') format('svg');
    font-weight: 700;
    font-style: italic;
  }
}
