#confirm-box {
    width: 600px;
    border: 2px solid #CCCCFF;
    background-color: #DDDDFF;
    padding: 5px;
    border-radius: 1em;
    -moz-border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

#confirm-products {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    background-color: #EEEEFF;
    border: 2px solid #CCCCFF;
}

#confirm-products td {
    background-color: #DADAFF;
    text-align: center;
}

#confirm-user-data h3 {
    margin-bottom: 3px;
}

#confirm-user-data p {
    margin: 0;
}

#confirm-total {
    text-align: right;
    font-weight: bold;
    color: black;
    margin-right: 30px;
}

form {
    float: right;
    margin-right: 40px;
}

#stroller .stroller_btn_addremove {
    font-size: 14px;
    font-weight: bold;
    background-color: #19558d;
    border: 1px solid;
    border-color: #071a29;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, rgb(79,138,228)),color-stop(0, rgb(66,120,203)));
    background-image: -moz-linear-gradient(center bottom,rgb(16,54,87) 0%,rgb(31,94,145) 100%);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: white;
    min-width: 14px;
    min-height: 14px;
    display: inline-block;
    cursor: pointer;
}

.stroller_cart_count * {
    vertical-align: middle;
}

.stroller_cart_count_value {
    margin-right: 8px;
    font-size: 20px;
}

.stroller_cart_total_price {
    font-size: 16px;
}

.stroller_cart_product_name {
    font-size: 14px;
}