[buildout]
develop = .
parts = test
        zodb data app example-app
        runners example

[test]
recipe = zc.recipe.testrunner
eggs = gocept.runner[test]

# Example runner below

[app]
recipe = zc.zope3recipes>=0.5.3:application
eggs = gocept.runner
site.zcml = <include package="zope.app.zcmlfiles" />
            <include package="zope.app.twisted" />

[data]
recipe = zc.recipe.filestorage

[example-app]
recipe = zc.zope3recipes:instance
application = app
zope.conf = ${data:zconfig}


[zodb]
recipe = zc.recipe.egg:scripts
eggs = ZODB3

[runners]
recipe = zc.recipe.egg:scripts
eggs = gocept.runner
arguments = appname=None, configfile='${buildout:parts-directory}/example-app/zope.conf'
interpreter = py

[example]
recipe = zc.zdaemonrecipe
program = ${example-app:bin-directory}/runexample
