/**
 * CSS styles for redturtle.custommenu
 */

.labelContainer {
	float:left;
	display:inline;
	width: 25%;
}

.menuDataRow {
	line-height: 2em;
	clear:both;
}

.listMenuElements ul {
	list-style-type: none;
	list-style-image: none;
}

.listMenuElements li {
	margin-bottom: 0.5em;
	padding: 1em;
	border: 1px solid #8CACBB;
}

#content #listMenuElements ul {
	list-style-type: none;
} 