[buildout]
extends = https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
package-name = collective.editskinswitcher
package-extras = [test]
parts += omelette

#[instance]
#event-log-level = debug
#zcml += collective.editskinswitcher-testing

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[versions]
zc.buildout = 2.3.1
setuptools = 14.3.1
