[buildout]
find-links = http://pypi.python.org/simple/lovely.buildouthttp
             http://pypi.python.org/simple/zc.buildout
             http://pypi.python.org/simple/setuptools
             http://pypi.python.org/simple/distribute
develop = .

parts = test checker coverage-test coverage-report py
versions = versions


[versions]
setuptools = 7.0
distribute = 0.7.3
#zc.buildout = 2.2.3
zc.buildout = 1.7.0


[test]
recipe = zc.recipe.testrunner
eggs = j01.form [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/j01/form


[coverage-test]
recipe = zc.recipe.testrunner
eggs = j01.form [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[py]
recipe = zc.recipe.egg
eggs = p01.testbrowser
interpreter = python
