svg {
  overflow: hidden;
}
rect {
  pointer-events: all;
  cursor: pointer;
  stroke: #EEEEEE;
}
.chart {
  display: block;
  margin: auto;
}
.parent .label {
  color: #FFFFFF;
}
.labelbody {
  background: transparent;
}
.label {
  margin: 2px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
.child .label {
  white-space: pre-wrap;
  text-align: center;
  text-overflow: ellipsis;
}
.cell {
  border: solid 1px white;
  font: 12px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
