/* -*- coding: utf-8 -*-
 *:Progetto:  metapensiero.extjs.desktop --
 *:Creato:    lun 14 gen 2013 17:51:21 CET
 *:Autore:    Lele Gaifax <lele@metapensiero.it>
 *:Licenza:   GNU General Public License version 3 or later
 */

.mp-form-fieldhint {
    font-size: 9px;
    color: #888888;
}

.mp-form-mandatory-field {
    font-weight: bold;
    text-decoration: underline;
}
