/* -*- coding: utf-8 -*-
 *:Progetto:  metapensiero.extjs.desktop --
 *:Creato:    mer 05 dic 2012 15:49:14 CET
 *:Autore:    Lele Gaifax <lele@metapensiero.it>
 *:Licenza:   GNU General Public License version 3 or later
 */

.mp-dirty-record .x-grid-cell {
    background-color: #ffffa8;
}

.mp-new-record .x-grid-cell {
    background-color: #c8ffc8;
}

.mp-deleted-record .x-grid-cell {
    text-decoration: line-through;
    background-color: red;
}
