/* -*- coding: utf-8 -*-
 * :Progetto:  SoL -- Alarm clock styles
 * :Creato:    lun 16 mar 2009 14:04:53 CET
 * :Autore:    Lele Gaifax <lele@metapensiero.it>
 * :Licenza:   GNU General Public License version 3 or later
 */

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align: center;
}
.hint {
    font:normal 11px arial,tahoma,helvetica,sans-serif;
}
.timeleft {
    vertical-align: middle;
    font:normal 180px arial,tahoma,helvetica,sans-serif;
}
