
/******************************
 * Form Wrapper
 ******************************/

div.form-wrapper {
    overflow: auto;
}


/******************************
 * Context Menu
 ******************************/

div.form-wrapper ul.context-menu {
    float: right;
    list-style-type: none;
    margin: 0px;
    text-align: right;
}

div.form-wrapper ul.context-menu li {
    line-height: 2em;
}


/******************************
 * Forms
 ******************************/

div.form,
div.fieldset-form,
div.fieldset {
    float: left;
    margin-top: 10px;
}


/******************************
 * Fieldsets
 ******************************/

div.field-wrapper {
    clear: both;
    min-height: 30px;
    overflow: auto;
    padding: 5px;
}

div.field-wrapper.error {
    background-color: #ddcccc;
    border: 2px solid #dd6666;
}

div.field-wrapper label {
    color: #000000;
    display: block;
    float: left;
    width: 160px;
    font-weight: bold;
    margin-top: 2px;
    white-space: nowrap;
}

div.field-wrapper div.field-error {
    color: #dd6666;
    font-weight: bold;
}

div.field-wrapper div.field {
    display: block;
    float: left;
    margin-bottom: 5px;
    line-height: 25px;
}

div.field-wrapper div.field input[type=text],
div.field-wrapper div.field input[type=password],
div.field-wrapper div.field select,
div.field-wrapper div.field textarea {
    width: 320px;
}

label input[type="checkbox"],
label input[type="radio"] {
    margin-right: 0.5em;
}

div.field ul {
    margin: 0px;
    padding-left: 15px;
}


/******************************
 * Buttons
 ******************************/

div.buttons {
    clear: both;
    margin: 10px 0px;
}


/******************************
 * Employee Login Form
 ******************************/

#employee-login-dialog label {
    width: 120px;
}

#employee-login-dialog input[type="text"],
#employee-login-dialog input[type="password"] {
    width: 80px;
}

#employee-login-dialog div.buttons {
    margin: 10px 0px 0px 0px;
    text-align: center;
}
