.flag {
    width: 16px;
    height: 11px;
    background: url(../images/flags_sprite.png) no-repeat;
    display: block;
}
.en {
    background-position: 0 0;
}
.no {
    background-position: -16px 0;
}
.nn {
    background-position: -16px 0;
}
.se {
    background-position: -32px 0;
}
.da {
    background-position: 0 -11px;
}
.de {
    background-position: -16px -11px;
}
.sv {
    background-position: -32px -11px;
}
.fi {
    background-position: 0 -22px;
}
.es {
    background-position: -16px -22px;
}
.fr {
    background-position: -32px -22px;
}
.it {
    background-position: 0 -33px;
}
.nl {
    background-position: -16px -33px;
}
.lb {
    background-position: -32px -33px;
}
.cs {
    background-position: 0 -44px;
}
.sl {
    background-position: -16px -44px;
}
.lt {
    background-position: -32px -44px;
}
.hr {
    background-position: 0 -55px;
}
.hu {
    background-position: -16px -55px;
}
.pl {
    background-position: -32px -55px;
}
.pt {
    background-position: 0 -66px;
}
.pt-BR {
    background-position: -16px -66px;
}
.tr {
    background-position: -32px -66px;
}
.el {
    background-position: 0 -77px;
}
.ja {
    background-position: -16px -77px;
}
