input.legalInput {
    margin-top: -24px !important;
}

label.legalLabel,
label[for=id_tou] {
    margin-left: 2em;
    line-height: 1em;
    padding: 0;
}

textarea.legalTerms {
    width: 318px !important;
    height: 150px !important;
}
