; vim: set fileencoding=utf-8 :
; Pedro Tome <pedro.tome@idiap.ch>
; Tue 25 Mar 15:29:18 2015 CEST

; This is the configuration file for buildout.

[buildout]
parts = scripts

eggs =  antispoofing.fvcompetition_icb2015
        ipdb

extensions = bob.buildout
		         mr.developer
auto-checkout = *

develop = src/bob.extension
          src/bob.blitz
          src/bob.core
          src/bob.io.base
          src/bob.io.image
          src/bob.ip.base
          src/bob.sp
          src/bob.measure
          .
       
debug = true
verbose = true
newest = false

[sources]
bob.extension = git https://github.com/bioidiap/bob.extension
bob.blitz = git https://github.com/bioidiap/bob.blitz
bob.core = git https://github.com/bioidiap/bob.core
bob.io.base = git https://github.com/bioidiap/bob.io.base
bob.io.image = git https://github.com/bioidiap/bob.io.image
bob.ip.base = git https://github.com/bioidiap/bob.ip.base
bob.sp = git https://github.com/bioidiap/bob.sp
bob.measure = git https://github.com/bioidiap/bob.measure
                  


[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
