#stroller ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#stroller li {
    margin: 0;
    padding: 0;
}

#stroller a {
    text-decoration: none;
    color: #002B91;
}

#stroller a:hover {
    font-weight: bold;
}

#stroller a img {
    border: none;
}

#stroller .spacer {
    height: 15px;
}

.stroller_cmd {
    font-size: 9px;
    color: gray;
    font-style: italic;
}

#stroller #breadcrumbs {
    background-color: #DDDDFF;
    border-right: 3px solid #CCCCFF;
    border-top: 3px solid #CCCCFF;
    font-weight: bold;
    height: 24px;
    padding: 2px;
}

#stroller #breadcrumbs li {
    display: inline-block;
}

#stroller #breadcrumbs ul {
    margin-left: 1px;
    list-style-type: none;
}


#stroller-search {
    float: right;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-right: 10px;
}

#stroller-search input {
    border: 1px solid #CCCCFF;
    background-color: white;
}

#stroller-search .submitbutton {
    font-weight: bold;
}

#shopping-cart {
    margin-top: 3px;
}

#shopping-cart #cart-box {
    vertical-align: middle;
}

#shopping-cart #checkout-box {
    margin-left: 10px;
}

#shopping-cart #checkout-link {
    vertical-align: middle;
    font-weight: bold;
    font-size: smaller;
}

#shopping-cart #cart-edit img {
    height: 10px;
}

#stroller #shopping-cart {
    float: right;
    width: 280px;
    text-align: right;
    height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    font-size: 12px;
}

#shopping-cart #cart-amt {
    font-weight: bold;
}

#shopping-cart #cart-qty {
    font-weight: bold;
}

#shopping-cart #checkout-icon img {
    vertical-align: middle;
}

#stroller #subcategories {
    width: 200px;
    border-right: 3px solid #CCCCFF;
    height: 520px;
    background-color: #DDDDFF;
    padding-top: 6px;
    float: right;
}

#stroller .categories_header {
    font-weight: bold;
    color: white;
    font-size: 14px;
    padding: 2px;
    width: 180px;
    background-color: orange;
    border: 1px solid #CCCCCC;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}

#stroller #subcategories li {
    padding 2px;
    background-color: #FFFFFF;
    padding-left: 4px;
    color: black;
    font-weight: bold;
    width: 190px;
    
    border-top: 1px solid #CCCCFF;
    border-bottom: 1px solid #CCCCFF;
    border-right: 1px solid #CCCCFF;
}

#stroller #products {
    margin-right: 200px;
   
}

#stroller .stroller_product {
    display: inline-block;
    zoom: 1;
    width: 150px;
    text-align: center;
    vertical-align: top;
}

#stroller .stroller_product img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#stroller .price {
    color: #900;
    font-size: 12px;
}

#stroller .stock {
    font-size: 12px;
    margin-top: 4px;
    color: #AAAAAA;
}

#stroller .shiptime {
    font-size: 12px;
    color: #AAAAAA;
}

#stroller #category-title {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #CCCCCC;
    color: #E47911;
    font-size: 135%;
}

#stroller #product-preview {
    float: left;
}

#stroller #product-big-preview {
    min-height: 260px;
}

#stroller #product-big-preview img {
    width: 300px;
}

#stroller #product-preview-thumbs {
    width: 300px;
}

#stroller #product-preview-thumbs > div {
    margin-top: 10px;
    margin-right: 5px;
    width: 64px;
    display: inline-block;
}

#stroller #product-preview-thumbs img {
    width: 64px;
}

#stroller #product-buy {
    float: right;
    height: auto;
    width: 180px;
    border: 2px solid #CCCCFF;
    background-color: #DDDDFF;
    padding: 5px;
    border-radius: 1em;
    -moz-border-radius: 1em;
    text-align: center;
}

#stroller #product-buy img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#stroller #product-info {
    margin-left: 310px;
    margin-right: 200px;
}

#stroller #product-info h1 {
    margin: 0;
    font-size: 24px;
}

#stroller #product-sku {
    font-size: 12px;
    color: #AAAAAA;
    font-style: italic;
}

#stroller .big {
    font-size: 16px;
    font-weight: bold;
}

#stroller .small {
    color: #666666;
    font-size: 14px;
}

#frontbox {
    margin-right: 220px;
}

.stroller_product_commands {
    margin-bottom: 2px;
}

.stroller_product_commands a img {
    margin-right: 5px;
    display: inline !important;
}

.stroller_product_count {
    color: orange;
    font-size: 16px;
    font-weight: bold;
}

#front_categories {
    text-align: center;
}

.stroller_front_category {
    text-align: center;
    width: 164px;
    display: inline-block;
    margin-left: 10px !important;;
    margin-right: 10px !important;;
}

.stroller_front_category img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#stroller_delete_category_btn {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}

.stroller_order_recap {
    margin-top: 10px;
}

#stroller_order_recap_title {
    margin-bottom: 0px;
}

#stroller_order_recap_help {
    font-style: italic;
}

.stroller_order_recap h2 {
    margin-bottom: 0px;
    cursor: pointer;
}

.even {
    background-color: transparent !important;
}

.fieldlabel {
    color: #002B91
}

#create_number_form_genre_other {
	 width: 70px;
}

