[buildout]
extends = versions.cfg
package-name = eea.downloads
develop = ../../
also-develop =

media-downloads-path = ${buildout:directory}/var/downloads
media-downloads-name = downloads

parts +=
    media-downloads

[media-downloads]
recipe = ore.recipe.fs:mkdir
path = ${buildout:media-downloads-path}
createpath = true
mode = 0700

[instance]
environment-vars +=
    EEADOWNLOADS_NAME ${buildout:media-downloads-name}
    EEADOWNLOADS_PATH ${buildout:media-downloads-path}
