// j01.datepicker variables

@gray-darker:             lighten(#000, 13.5%); // #222
@gray-dark:               lighten(#000, 20%);   // #333
@gray:                    lighten(#000, 33.5%); // #555
@gray-light:              lighten(#000, 60%);   // #999
@gray-lighter:            lighten(#000, 93.5%); // #eee

@brand-primary:           #428bca;

@line-height-base:        1.428571429; // 20/14

@input-border:            #ccc;
@input-group-addon-bg:    @gray-lighter;
@input-group-addon-border-color: @input-border;

@btn-primary-color:       #fff;
@btn-primary-bg:          @brand-primary;
@btn-primary-border:      darken(@btn-primary-bg, 5%);
@btn-link-disabled-color: @gray-light;

@today-bg:                lighten(orange, 30%);
@today-bg:                mix(orange, @gray-lighter, 50%);
