.listing-summary figure .status_box.sale.Sold,
.listing-summary figure .status_box.rent.Sold,
.pp_content_container .pp_content .status_box.Sold{
   background-color:#ef4034;
}

dl.portlet dt, 
div.portletAssignments div.portletHeader {
    background: none repeat scroll 0 0 transparent;
    line-height: normal;
    padding: 0.42em 1em;
}

.option.class_750k label{
  width:100%;
}

.portletWrapper .portletFilterSearch .portletHeader,
body dl.portlet dt, 
body div.portletAssignments div.portletHeader{
    background-color: transparent;
    color: #828282;
    font-family: Georgia,serif;
    font-size: 30px;
    font-weight: normal;
    padding-left: 0;
    padding-right:0;
    padding-top: 0;
}

.portletWrapper .portletFilterSearch .portletItem {
  background-color: #ebebeb;
  padding:15px 20px;
}

.portletFilterSearch .collapsible{
  margin-bottom:12px;
}

.portletFilterSearch .formControls #form-buttons-search {
    display:none;
    background-color: #00a15f;
    border: 1px solid #7cc8a9;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    padding: 0 24px;
    text-transform: uppercase;
    width: auto;
    border-radius: 0;
}

.portletFilterSearch .portletItem form{
  padding:0;
}

body input[type="radio"]{
  margin:3px;
  margin-right:5px;
}
 
body input[type="checkbox"]{
  margin:0 5px 5px 3px;
}

.portletFilterSearch .portletItem label,
.portletFilterSearch .portletItem .label{
  font-size:16px;
  color:#828282;
  font-weight:normal;
}

.portletFilterSearch .portletItem label.horizontal{
  font-size:18px;
}

.portletFilterSearch label[for=form-widgets-listing_type-2]{
  margin-top:15px;
}

#form-widgets-listing_type-2{
  margin-top:-2px;
}

.field input[type="text"],
.field input[type="text"]:focus {
  max-width: 99%;
  background-color:#fff;
}

/* Related Listings */
.portlet.relatedProperties{}

.portlet.relatedProperties dt.portletHeader{
  background-color: transparent;
  color: #828282;
  font-family: Georgia,serif;
  font-size: 30px;
  font-weight: normal;
  padding-left: 0;
}

.portlet.relatedProperties .listing_image img{
  padding:0;
  margin:0;
  border: 0 none transparent;
  float:left;
}

.relatedProperties .status_box {
    bottom: 0;
    right:0;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    width: 80px;
}

.relatedProperties .status_box.rent {
    background-color: #00a15f;
}
.relatedProperties .status_box.sale {
    background-color: #5987c5;
}
.relatedProperties .status_box.sold {
    background-color: #ef4034;
}

.relatedProperties .listing_image{
    float: left;
    margin-bottom: 10px;
    margin-right: 3%;
    max-width: 46%;
    min-height: 115px;
    position: relative;
}

.relatedProperties .listings {
  position:relative;
}

.relatedProperties .listings > a.listing_link{
  display:none;
}
.listing-summary .tileItem {
    min-height: 420px;
}

/* customer css */
/* hide carousel in ListingDetails*/
.template-listing-detail #fullscreen-slider .carousel{
  display:none;
}

#fullscreen-slider img.sliderbackgroundimage{
  display:none;
}

.template-listing-detail #fullscreen-slider img.sliderbackgroundimage{
  display:block;
}

.portletFilterSearch .ajax_reset{
  position:absolute;
  bottom:-15px;
  right:0;
  cursor:pointer;
  letter-spacing: 0.1px;
}

.portletFilterSearch .portletItem form{
  position:relative;
}

.float_left{
  float:left;
}
.short_info{
  float:none;
  clear:both;
  overflow:auto;
  width:100%;
  min-height: 1em;
}
.back2results,
a.back2results,
a.back2results:hover{
  background: #ffffff url("backarrow.png") no-repeat 0 5px;
  padding-left:35px;
  letter-spacing: -1.6px;
  color:#828282 !important;
}

/* hide in listingDetails*/
.template-listing-detail .condo .lot_size{
  display:none !important;
}

.template-listing-detail .condo .floor_unit{
  display: table-row !important;
}

.template-listing-detail .below_description{
  position:relative;
}
.template-listing-detail .status_box {
    position:absolute;
    right: 0;
    bottom:0;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    width: 90px;
    height:35px;
}
.template-listing-detail .status_box span
{
  position: relative;
  top: 8px;
  letter-spacing: 0.5px;
}

.template-listing-detail .status_box.rent {
    background-color: #00a15f;
}
.template-listing-detail .status_box.sale {
    background-color: #5987c5;
}
.template-listing-detail .status_box.sold {
    background-color: #ef4034;
}
.template-listing-detail .status_box.PendingSale{
  background-color: #ffa500 !important;
}

