@charset "utf-8";
.thTop {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	color: #336;
	background-color: #F90;
	text-align: center;
	vertical-align: middle;
}

.thSide {
	font-weight: normal;
	font-variant: normal;
	color: #336;
	background-color: #FC6;
	text-align: center;
	vertical-align: middle;
}

.entity {
	font-weight: normal;
	font-variant: normal;
	color: #336;
	background-color: #FC9;
	text-align: center;
	vertical-align: middle;
}

.even {
	background-color: #FFC;
	text-align: center;
	vertical-align: middle;

}

.odd {
	text-align: center;
	vertical-align: middle;

}

.error {
	color: #F00;
	text-decoration: blink;
	text-align: center;
	vertical-align: middle;
}

.ok {
	color: #360;
	text-align: center;
	vertical-align: middle;
}

.other {
	color: #963;
	text-align: center;
	vertical-align: middle;
}