@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700|Alegreya:400italic,700italic,400,700);


/*-----------------------------------------*/
/* General styles                          */
/*-----------------------------------------*/
::selection {
	background: #BFC8FF;
}

body {
	height:80%;
	background-color: #ddd;
	background: #d5d5e0; /* Old browsers */
	background: -moz-linear-gradient(top, #d5d5e0 0%, #f5f4ef 10%, #f5f4ef 96%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d5e0), color-stop(10%,#f5f4ef), color-stop(96%,#f5f4ef), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d5d5e0 0%,#f5f4ef 10%,#f5f4ef 96%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d5d5e0 0%,#f5f4ef 10%,#f5f4ef 96%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d5d5e0 0%,#f5f4ef 10%,#f5f4ef 96%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d5d5e0 0%,#f5f4ef 10%,#f5f4ef 96%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5e0', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background-repeat:no-repeat;
	background-attachment:fixed;

	font-family: 'Alegreya', serif;
}

@media all and (max-width: 600px), all and (max-device-width: 800px) {
	body {
		height:100%;
		background-size: 250%;
		background-attachment:fixed;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  	body { /*adjust font for retina displays*/
  		font-size: 250%;
  	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
    line-height: 1.1;
    margin-bottom: .8em;
    font-family: 'Open Sans', sans-serif;
}

hr {
	border-top: 0.1em solid #aaa;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

li {
	margin-bottom: 0.4em;
}

a {
	color: #111;
}

a:hover {
	color: #236;
}

td {
	padding-right: 10px;
}

table {
	margin-left:auto;
	margin-right:auto;
}

/*-----------------------------------------*/
/* Source code formatting                  */
/*-----------------------------------------*/

pre {
	background-color: #FFd;
	padding: 5px 5px 5px 15px;
	border-left: 0.4em solid #ccc;
	overflow: auto;
	width: 95%;
	white-space: pre-wrap;
}

pre code {
	line-height: 1.6em;
	color: #000;
	background-color: none;
	border: none;
}

code {
	color: #0F167E;
	font-size:1.05em;
}

/*-----------------------------------------*/
/* Menu/Navigation styles                  */
/*-----------------------------------------*/

@media all and (max-width: 600px), all and (max-device-width: 800px){
	nav a {
		font-size: 150%;
	}
}

nav ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}

nav ul li {
	line-height: 3em;
	display:inline;
	padding: 0.9em 12px;
	transition: all 1s ease;
}

nav ul li a {
	font-weight: 300;
	font-size: 1.4em;
	color: #111;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

nav ul li:hover {
	background-color: #fff;
	-webkit-box-shadow: 0em -0.15em 0.4em -0.2em #dadada;
	-moz-box-shadow: 0em -0.15em 0.4em -0.2em #dadada;
	box-shadow: 0em -0.15em 0.4em -0.2em #dadada;
}

/*-----------------------------------------*/
/* Box styles                              */
/*-----------------------------------------*/

.box, #bottom {
	background-color: #fff;
	margin-bottom: 2em;
	clear:both;

	-webkit-box-shadow: 0em -0.2em 1.5em -0.4em #aaa;
	-moz-box-shadow: 0em -0.2em 1.5em -0.4em #aaa;
	box-shadow: 0em -0.2em 1.5em -0.4em #aaa;
}

#main, #main * {
	transition: opacity 1s ease;
}

.invalid *{
	opacity: 0;
}

/*-----------------------------------------*/
/* Header/footer styles                    */
/*-----------------------------------------*/

#top{
	width:auto;
}

#logo{
	height: 4em;
	padding-top:10px;
	padding-bottom:20px;
}

#bottom {
	margin-right: 55%;
	font-size:0.8em;
	padding: 20px;
}

@media all and (max-width: 600px), all and (max-device-width: 800px){
	#bottom {
		margin-right: 0;
	}
}

/*-----------------------------------------*/
/* Content styles                          */
/*-----------------------------------------*/

#page{
	max-width:660px;
	clear: both; 
	margin: 0 auto;
}

@media all and (max-width: 600px), all and (max-device-width: 800px){
	#page{
		max-width: none;
		overflow: scroll;
	}
}

.breadcrumb {
	margin-bottom: 1em;
	padding: 1em;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

.breadcrumb a {
	color: #777;
}

.cover {
	background-size:cover;
	background-position: center;
	position: relative;
	min-height: 5em;
	transition: all 1s ease !important;
}

.cover h1 {
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	margin-right:0;
	margin-bottom: 0;
	background: rgba(256, 256, 256, 0.8);
	padding: 20px;
}

.body {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.image img {
	width: 100%;
}

.info {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	color: #777;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;

}

.description {
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 4px;
	font-family: 'Open Sans', sans-serif;
}
