
/******************************
 * Grid Header
 ******************************/

table.grid-header {
    padding-bottom: 5px;
    width: 100%;
}


/******************************
 * Form (Filters etc.)
 ******************************/

table.grid-header td.form {
    vertical-align: bottom;
}


/******************************
 * Context Menu
 ******************************/

table.grid-header td.context-menu {
    vertical-align: top;
}

table.grid-header td.context-menu ul {
    list-style-type: none;
    margin: 0px;
    text-align: right;
}

table.grid-header td.context-menu ul li {
    line-height: 2em;
}

/******************************
 * Tools
 ******************************/

table.grid-header td.tools {
    padding-bottom: 10px;
    text-align: right;
    vertical-align: bottom;
}

table.grid-header td.tools div.buttons button {
    margin-left: 5px;
}


/******************************
 * Grid
 ******************************/

div.grid {
    clear: both;
}

div.grid table {
    background-color: White;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-collapse: collapse;
    font-size: 9pt;
    line-height: normal;
    white-space: nowrap;
}

div.grid.full table {
    width: 100%;
}

div.grid.no-border table {
    border-left: none;
    border-top: none;
}

div.grid table th,
div.grid table td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2px 3px;
}

div.grid table th.sortable a {
    display: block;
    padding-right: 18px;
}

div.grid table th.sorted {
    background-position: right center;
    background-repeat: no-repeat;
}

div.grid table th.sorted.asc {
    background-image: url(../img/sort_arrow_up.png);
}

div.grid table th.sorted.desc {
    background-image: url(../img/sort_arrow_down.png);
}

div.grid table tbody td {
    text-align: left;
}

div.grid table tbody td.center {
    text-align: center;
}

div.grid table tbody td.right {
    float: none;
    text-align: right;
}

div.grid table tr.odd {
    background-color: #e0e0e0;
}

div.grid table tbody tr.hovering {
    background-color: #bbbbbb;
}

div.grid table tbody tr td.checkbox {
    text-align: center;
}

div.grid table tbody tr td.view,
div.grid table tbody tr td.edit,
div.grid table tbody tr td.save,
div.grid table tbody tr td.delete {
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    min-width: 18px;
    text-align: center;
    width: 18px;
}

div.grid table tbody tr td.view {
    background-image: url(../img/view.png);
}

div.grid table tbody tr td.edit {
    background-image: url(../img/edit.png);
}

div.grid table tbody tr td.save {
    background-image: url(../img/save.png);
}

div.grid table tbody tr td.delete {
    background-image: url(../img/delete.png);
}

div.pager {
    margin-bottom: 20px;
    margin-top: 5px;
}

div.pager p {
    font-size: 10pt;
    margin: 0px;
}

div.pager p.showing {
    float: left;
}

div.pager #grid-page-count {
    font-size: 8pt;
}

div.pager p.page-links {
    float: right;
}
