/* CSS */
.eea-epub-overlay {
  min-width: 700px;
  max-width: 720px;
}

.eea-epub-overlay .pb-ajax > div {
  width: auto;
}

.field.eea-epub-email {
  margin-bottom: 0;
}

.eea-epub-email input[type=email] {
  min-width: 300px;
  max-width: 85%;
  height: 30px;
}

.eea-epub-email ::-webkit-input-placeholder {
  padding-right: 3px;
  text-align: right;
}
.eea-epub-email  :-moz-placeholder {
  padding-right: 3px;
  text-align: right;
}

.eea-epub-email ::-moz-placeholder {
  padding-right: 3px;
  text-align: right;
}

.eea-epub-email :-ms-input-placeholder {
  padding-right: 3px;
  text-align: right;
}

.eea-epub-email .formHelp {
  font-size: 90%;
  color: #808285;
  margin-top: 1em;
}

.eea-epub-email textarea[name=body] {
  visibility: hidden;
  position: absolute;
}

.eea-epub-email .context {
  min-height: 30px;
  padding: 7px 11px;
}
