# This file defines the default settings for all workflows.
# These settings can be overridden in the workflow-specific
# configuration file.

[Execution]
# Wait two seconds before checking outputs.
job_finished_timeout = 20
# The AIRC cluster is limited to 200 jobs.
max_jobs = 200

[SGE]
# The Sun Grid Engine parameters.
plugin_args = {'qsub_args': '-l h_rt=00:30:00,mf=1G'}
