body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 1.6875em;
}
h2 {
  font-size: 1.4375em;
}
h3 {
  font-size: 1.125em;
}
h4, h5, h6 {
  font-size: 1em;
}

p {
  font-family: 'Droid Serif', serif;
}

a {
  color: #ce3817;
}

label {
  display: inline;
}

.label {
  white-space: normal;
}

select {
  width: inherit;
}

hr {
  height: 1px;
  border: 0;
  color: #eaeef1;
  background-color: #eaeef1;
  margin-top: 0.25em;
}

hr.noline {
  color: #fff;
  background-color: #fff;
  margin: 0.5em;
}

/* ------------------- */
/* Header & Navigation */
/* ------------------- */
#logo {
  padding: 1.1em 0;
  text-align: right;
}
#logo img {
  height: 4em;
}

#navigation .selected a {
    color: #ce3817;
  }

#navigation a {
  color: #003a63;
}

#navigation a:hover {
  color: #ce3817;
}

#navigation ul {
  list-style: none;
    margin-top: 25px;
}

#navigation ul li {
  float: left;
  margin-right: 15px;
  margin-top: 1em;
  font-weight: bold
}

/* ---------- */
/* First Band */
/* ---------- */
#banner {
  background-image: url('../img/scqm.png');
  height: 280px;
}

#banner h2, #banner h3, #banner h4 {
  color: #fff;
  margin-top: 40px;
}

#banner p {
  color: #fff;
  opacity: 0.77
}

/* -------------------- */
/* Breadcrumbs & Search */
/* -------------------- */
.breadcrumbs {
  background: #fff;
  border: none;
  padding-left: 0;
  border-bottom: 1px solid #EAEEF1;
  margin-top: 9px;
}

#search {
  margin-top: 0.875em;
}

button.postfix {
  background: #f2f2f2;
  border-color: #cccccc;
  border-left: none;
  color: #333333;
}

/* ------- */
/* Content */
/* ------- */
#content {
  clear: both;
}

/* -------- */
/* Portlets */
/* -------- */
.vcard {
  width: 100%;
  background: #EAEEF1;
  border-color: #EAEEF1;
  padding-top: 1em;
}
.vcard .phone {
  margin-top: 1em;
  font-weight: bold
}

.portletItemDetails {
  display: block;
  color: #6f6f6f;
  font-size: 0.6875em;
}

.portletFooter {
  text-align: right
}

.blogArchivePortlet .archiveMonths {
  margin-left: 1em;
}

.blogArchivePortlet .archiveCount {
  font-weight: bold;
}

/* -------- */
/* Edit bar */
/* -------- */
#edit-bar {
  height: 30px;
}

#contentActionMenus {
  height: 27px;
  top: -1.2em;
}

#edit-bar ul, #edit-bar ol {
  list-style: none;
}

ul.contentViews li, ul#contentActionMenus li {
  display: inline;
}

/* ------ */
/* Footer */
/* ------ */
footer p {
    font-family: 'Open Sans', sans-serif;
    color: #6f6f6f;
}


/* ------- */
/* Twitter */
/* ------- */
.portletTwitterPortlet .tweetUsername,
.portletTwitterPortlet .tweetSeparator {
    display: none;
}

/* ---------- */
/* Responsive */
/* ---------- */
@media only screen and (max-width: 767px) {
  #logo {
    text-align: left;
    border-bottom: 1px solid #EAEEF1; 
  }

  #navigation ul {
    list-style: none;
    margin-top: 5px;
  }

  #banner {
    background-position: 400px 0
  }
  #banner div {
    max-width: 400px;
  }

  #content img.tileImage {
    max-height: 75px;
    max-width: 75px;
  }

  #content div.newsImageContainer {
    float: none;
  }
  #content div.newsImageContainer img {
    display: block;
  }

}

#search-filter-toggle {
  display: none !important;
}

#searchResultsSort {
  margin-top: 15px;
}

.documentDescription {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: 300;
  margin-top: 0.2em;
  margin-bottom: 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
}

#content ul, #content ol {
    font-family: 'Droid Serif', serif;
    margin-left: 1.5em;
}

#content ul {
  list-style: square;
}

#content ul.clearing-thumbs {
  list-style: none;
}

#content ul.clearing-thumbs img {
  height: 110px;
  width: 110px;
}


.portletNews, .portletTwitterPortlet {
  border-bottom: 1px solid #eaeef1;
}

.portletNavigationTree ul {
  list-style: none
}

.portletNavigationTree ul.navTreeLevel0 > li {
  border-bottom: 1px solid #eaeef1;
  padding: 5px 0;
}

.portletNavigationTree a, .blogArchivePortlet a {
  color: #6f6f6f;
}

.navTreeCurrentNode {
  color: #3c4f60;
}

.tileItem {
  border-bottom: 1px solid #eaeef1;
  margin-bottom: 20px;
}

.tileHeadline {
  font-size: 1.125em;
}

.tileHeadline a {
  color: #222;
}

.tileFooter {
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
}

.portletHeader a {
  color: #222;
}

.blogListingEntry {
  border-bottom: 1px solid #eaeef1;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.blogListingEntry h2 a {
  color: #222;
}

.blogListingEntry .tileFooter {
  display: block;
  color: #6f6f6f;
  font-size: 0.6875em;
}

div.listingBar {
    font-size: 1em;
}

div.listingBar a {
  display: inline-block;
  padding: 0.25em 0.5em;
  border: none;
}

div.listingBar a:hover {
  background:  #ce3817;
}

#banner h4 {
  font-size: 1.4375em;
}

fieldset ul {
  font-family: 'Open Sans', sans-serif !important;
}

fieldset {
  border-color: #eaeef1;
}

#search-results-number {
  font-size: 220%;
}

#search-results {
  padding-left: 0;
}

#search-results dd {
  border-bottom: 1px solid #eaeef1;
}

#search-results dd cite {
  color: #6f6f6f;
  font-size: 0.6875em;
}

.newsImageContainer p.discreet {
  margin-top: 10px;
  border-top: 1px solid #eaeef1;
  padding-top: 6px;
  font-family: 'Open Sans', sans-serif;
}

#content a {
  word-wrap: break-word;
}

#content h1 {
  text-overflow: ellipsis;
  overflow: hidden;
}

#disqus-count {
  display: none;
}