.freckle-budgets-month-info {
    font-size: 9pt;
}

.freckle-budgets-table {
    width: 100%;
}

.freckle-budgets-table th {
    color: #62635E;
    font-weight: normal;
    text-align: center;
    background-color: #F5F5F5;
}

.freckle-budgets-table td {

}

.freckle-budgets-table-cell {
    width: 100%;
}

.freckle-budgets-table-cell td {
    font-size: 10px;
}

.freckle-budgets-date {
    font-size: 9px;
    width: 15px;
    vertical-align: top;
}

.freckle-budgets-project {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.outline {
    background-color: inherit !important;
}

.text-muted-lighter {
    color: #CFCFCF;
}

.project-cs {
    background-color: #EAC9C4;
    border: 1px solid #EAC9C4;
}

.project-cn {
    background-color: #B6625A;
    border: 1px solid #B6625A;
}

.project-pu {
    background-color: #468CC8;
    border: 1px solid #468CC8;
}

.project-etp {
    background-color: #EA168B;
    border: 1px solid #EA168B;
}

.project-jnj {
    background-color: #80A73D;
    border: 1px solid #80A73D;
}

.project-wgm {
    background-color: #00F8E1;
    border: 1px solid #00F8E1;
}

.project-er {
    background-color: #F89E00;
    border: 1px solid #F89E00;
}

.project-other {
    background-color: #AFAFAF;
    border: 1px solid #AFAFAF;
}
