h3 { line-height: 1em;}

textarea
{
    width:100%;
}

.console {
        overflow: scroll;
        height: 200px;
        margin-bottom:2em;
}


.sliderbox { margin: 10px;}

.logtable {font-size: 10pt; line-spacing:10pt;}

.table th {
     border-top: none;
 }

.btn-xlarge {
    padding: 24px 32px;
    font-size: 32px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
