/* $Id: publiquiz_schema.css 3c79b9dcadf1 2015/02/06 17:43:22 Patrick $ */


/* ===== SECTION LEVEL ====== */


.e4xElt-instructions {
    font-family: serif;
    color: #004080;
}

.e4xElt-subquiz .e4xElt-instructions {
    border: 1px dashed #bbbbbb;
    border-radius: 3px;
    margin-bottom: .5em;
    padding: .2em;
    outline: none;
    min-height: 1.3em;
}

/* ~~~~~~~~~ Choices ~~~~~~~~ */

.e4xElt-choices-radio,
.e4xElt-choices-check {
    margin: 0;
    font-family: serif;
}

.e4xElt-choices-radio .e4xChoice,
.e4xElt-choices-check .e4xChoice {
    list-style-type: none;
    padding: 3px;
    margin-bottom: .2em;
    clear: both;
}

.e4xElt-choices-radio .e4xChoice:hover,
.e4xElt-choices-check .e4xChoice:hover {
    background-color: #f0f8ff;
}

.e4xElt-choices-radio .e4xTools,
.e4xElt-choices-check .e4xTools {
    float: left;
    margin-right: .5em;
}

.e4xElt-choices-radio .e4xElt-right,
.e4xElt-choices-radio .e4xElt-wrong,
.e4xElt-choices-check .e4xElt-right,
.e4xElt-choices-check .e4xElt-wrong {
    display: block;
    margin-left: 60px;
}

.e4xAdd-choices-radio,
.e4xAdd-choices-check {
    margin: 0 3px 0 22px;
}

/* ~~~~~~~~~~ Blanks ~~~~~~~~ */

.e4xElt-intruders {
    background-color: #fafafa;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #bbbbbb;
    padding: .5em;
    margin-bottom: .8em;
}

.e4xElt-intruders .e4xElt-blank {
    margin: 0 .5em .2em 0;
    padding: 0 .5em 0 .5em;
    border: 1px solid #7f7f7f;
}

.e4xElt-blank {
    border: 1px solid #7f7f7f;
    padding: 0 .5em 0 .5em;
}

.e4xElt-s {
    border-left: 1px dotted #7f7f7f;
    border-right: 1px dotted #7f7f7f;
    padding: 0 5px 0 5px;
    margin: 0 3px 0 3px;
}

.e4xElt-blank .e4xElt-help {
    display: inline;
    border-left: 1px dotted #004080;
    border-right: 1px dotted #004080;
    padding: 0 5px 0 5px;
    margin: 0 3px 0 3px;
}

.e4xElt-blank .e4xElt-answer {
    display: inline;
    border-left: 1px dotted #339933;
    border-right: 1px dotted #339933;
    padding: 0 5px 0 5px;
    margin: 0 3px 0 3px;
}

.e4xElt-blank .e4xElt-p {
    display: inline;
}

/* ~~~~~~~~ Pointing ~~~~~~~~ */

.e4xElt-pointing-categories .e4xElt-categories {
    background-color: #fafafa;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #bbbbbb;
    padding: .5em .8em .5em .8em;
    margin-bottom: .8em;
}

.e4xElt-pointing-categories .e4xElt-categories .e4xElt-category {
    float: none;
    display: inline-block;
    margin: 0 .2em .2em 0;
    padding: .3em .5em .3em .5em;
    border: 1px solid #7f7f7f;
    border-radius: 5px;
    box-shadow: none;
}

.e4xElt-pointing-categories .e4xElt-category[data-id="1"] {
    background-color: #00bdff;
}
.e4xElt-pointing-categories .e4xElt-category[data-id="1"]:before {
    content: "[1] ";
}
.e4xElt-pointing-categories .e4xElt-category[data-id="2"] {
    background-color: #fff693;
}
.e4xElt-pointing-categories .e4xElt-category[data-id="2"]:before {
    content: "[2] ";
}
.e4xElt-pointing-categories .e4xElt-category[data-id="3"] {
    background-color: #c0ffc0;
}
.e4xElt-pointing-categories .e4xElt-category[data-id="3"]:before {
    content: "[3] ";
}
.e4xElt-pointing-categories .e4xElt-category[data-id="4"] {
    background-color: #e2aaff;
}
.e4xElt-pointing-categories .e4xElt-category[data-id="4"]:before {
    content: "[4] ";
}
.e4xElt-pointing-categories .e4xElt-category[data-id="5"] {
    background-color: #ddddcc;
}
.e4xElt-pointing-categories .e4xElt-category[data-id="5"]:before {
    content: "[5] ";
}

.e4xElt-point {
    background-color: #c7e0f8;
    border-radius: 3px;
}

.e4xElt-point[data-ref="right"] { background-color: #00bdff; }
.e4xElt-point[data-ref="cat1"] { background-color: #00bdff; }
.e4xElt-point[data-ref="cat2"] { background-color: #fff693; }
.e4xElt-point[data-ref="cat3"] { background-color: #c0ffc0; }
.e4xElt-point[data-ref="cat4"] { background-color: #e2aaff; }
.e4xElt-point[data-ref="cat5"] { background-color: #ddddcc; }

/* ~~~~~~~~ Matching ~~~~~~~~ */

.e4xElt-matching table {
    width: 100%;
    margin-bottom: 5px;
}

.e4xElt-matching tr,
.e4xElt-matching td {
    border: none;
    text-align: center;
}

.e4xElt-matching tr:hover {
    background-color: #f0f8ff;
}

.e4xElt-matching .e4xTools {
    width: 20px;
}

.e4xElt-matching .e4xElt-item {
    padding: .3em .5em .3em .5em;
    border: 1px solid #999999;
    text-align: left;
}

.e4xAdd-matching {
    margin: 0 0 0 4px;
}

/* ~~~~~~~~~~ Sort ~~~~~~~~~~ */

.e4xElt-sort ul {
    margin: 0;
    font-family: serif;
}

.e4xComparison {
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: .8em;
    font-family: sans-serif;
}
.e4xComparison .e4xIgnore {
    float: left;
    margin-right: 1em;
    font-weight: bold;
}

.e4xElt-sort .e4xItem {
    list-style-type: none;
    padding: 3px;
    margin-bottom: .2em;
    clear: both;
}

.e4xElt-sort .e4xItem:hover {
    background-color: #f0f8ff;
}

.e4xElt-sort .e4xTools {
    float: left;
    margin-right: .5em;
    vertical-align: bottom;
}

.e4xElt-sort .e4xElt-item {
    display: block;
    margin-left: 38px;
}

.e4xAdd-sort {
    margin: 0 3px 0 22px;
}

/* ~~~~~~~ Categories ~~~~~~~ */

.e4xElt-intruders .e4xElt-item {
    border: 1px solid #7f7f7f;
    border-radius: 3px;
    margin: 0 .5em .2em 0;
    padding: .2em .5em .2em .5em;
    background-color: #f0f8ff;
}

.e4xElt-categories .e4xElt-category {
    float: left;
    margin: .5em 1em 1em 0;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #004080;
    box-shadow: 2px 2px 3px #bbbbbb;
}

.e4xElt-categories .e4xElt-category .e4xElt-title {
    margin: 0;
    padding: .5em 1.5em .5em 1em;
    background-color: #5f7ab1;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 85%;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    white-space: nowrap;
}

.e4xElt-categories .e4xTools {
    float: left;
    padding-top: 5px;
}

.e4xElt-categories .e4xElt-category .e4xElt-item {
    display: block;
    border: 1px solid #7f7f7f;
    border-radius: 3px;
    margin: .3em .5em .3em 16px;
    padding: .2em .5em .2em .5em;
    text-align: center;
    background-color: #f0f8ff;
}

.e4xAdd-categories {
    margin: .3em 0 .2em 0;
}

.e4xAppend-categories {
    float: left;
    margin-top: .5em;
}

/* ~~~~~~~~~~ PIP ~~~~~~~~~~~ */

.e4xElt-pip .e4xElt-image img {
    max-height: 320px;
}

/* ~~~~~~~ Composite ~~~~~~~~ */

.e4xSubquiz .e4xTools {
    float: left;
}

.e4xElt-subquiz {
    margin: 0 0 1em 50px;
}

.e4xCast-composite .e4xIgnore select {
    margin-right: .5em;
}

/* ~~~~~~~ Help/answer ~~~~~~ */

.e4xElt-help {
    font-family: serif;
}

.e4xElt-subquiz .e4xElt-help {
    border: 1px dashed #004080;
    border-radius: 3px;
    margin: .5em 0 .5em 0;
    padding: .2em;
    outline: none;
    min-height: 1.3em;
}

.e4xElt-right .e4xElt-help,
.e4xElt-wrong .e4xElt-help {
    font-family: sans-serif;
    background-color:  #e8f0f7;
}

.e4xElt-answer {
    font-family: serif;
}

.e4xElt-subquiz .e4xElt-answer {
    border: 1px dashed #339933;
    border-radius: 3px;
    margin-bottom: .5em;
    padding: .2em;
    outline: none;
    min-height: 1.3em;
}

.e4xElt-right .e4xElt-answer,
.e4xElt-wrong .e4xElt-answer {
    font-family: sans-serif;
    background-color:  #eaffe9;
}
