/* $Id: publiquiz_opener.css a580f30b6990 2015/02/17 17:17:11 Patrick $ */


/* ======== TOP LEVEL ======= */


/* ~~~~~~ pdocVariable ~~~~~~ */

.pdocVariable {
    display: block;
}


/* ===== COMPONENT LEVEL ==== */


/* ~~~~~~~~ pquizQuiz ~~~~~~~ */

.pquizQuiz {
    margin: 0 3px 0 3px;
}


/* ====== BLOCK LEVEL ======= */


/* ~~~~~~~ pdocImage ~~~~~~~~ */

#content .pquizChoice img,
#content .pquizItem img {
    max-height: 80px;
}
