
.eea-relations {
  width: 100%
}

.eea-relations .wrapper {
  float: left;
  width: 100%
}

.eea-relations .graph {
  width: 100%;
  overflow: auto;
  text-align: center;
  border: 1px solid #8CACBB;
  padding: 2em 0;
}

.eea-relations .left {
  float: left;
  width: 48%;
}

.eea-relations .right {
  float: right;
  width: 48%
}
