body{
	background-color:white;
	text-align: center;
}

#banner #logo{
	height: 100px;
	width: 200px;
}

body #content{
	background-color: white;
	padding-left: 5%;
	padding-right: 5%;
}

#breadcrumbs{
  text-align: left;
}

body section h2{
	margin: 0;
}

body footer{
	background-color: white;
  border-top: 1px;
  border-top-color: gray;
}

.tarjeta{
  margin-bottom: 10px;
  width: 20em;
  float: left;
  margin-right: 1em;
}


.tarjeta header{
  background-color: #859ED6;
  -webkit-border-radius: 7px 7px  0 0;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  padding-left: 7px;
  color: white;
  font-weight: bold;
  border-style:dashed;
  border-width: 2px;
  border-bottom:none;
  border-color: #BEBEBE;
}

.tarjeta a:hover{ 
    text-decoration: none;
}

.tarjeta section{
  background-color: white;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius:0 0 7px 7px;
  border-radius:0 0 7px 7px;
  padding-left: 7px;
  padding-bottom: 5px;
  color: gray;
  border-style:dashed;
  border-width: 2px;
  border-top:none;
  border-color: #BEBEBE;
}

.tarjeta label{
  font-weight: bold;
}