#MenuNav{
  margin:0 auto 0 auto; 
  width:90%;
  background-color: #4B5CB6;
}

nav {
    font-size: 1em;
    display: block; 
    margin: 0 auto 0px;
    border: .5px solid #241189;
    position: relative; 
    background-color: #EEE;

}

nav ul {
     padding: 0; 
     margin: 0 ; 
}


nav ul:after { 
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
}

nav li { 
    position: relative; 
    float: left; 
    list-style-type: none; 
    background-color: #4B5CB6;
}

nav li a { 
    display: block; 
    padding: 10px 20px; 
    border-left: .5px solid gray;
    border-right: 1px solid white;
    color: white;
    text-decoration:none; 
}

nav li a:focus { 
    outline: none; 
    text-decoration: underline; 
}

nav li:first-child a { 
    border-left: none; 
} 

nav li.ultimo a { 
    border-right: none; 
}

nav li:hover ul { 
    display:block; 
}

nav a span { 
    display: block; 
    float: right; 
    margin-left: 5px; 
}

nav ul a span { 
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    transform: rotate(-180deg);
}
/*SUB MENU*/
nav ul ul { 
    display: none; 
    width: 100%; 
    position: absolute; 
    left: 0; 
    background: #FDEDB2; 
}

nav ul ul li { 
    float: none; 
    background-color: rgba(255,238,188,.3);
}

nav ul ul a{
  color: gray;
}


nav ul ul a {
    padding: 5px 10px;
    border-left: none;
    border-right: none;
    font-size: 14px;
}

nav ul a{
    color: white;
}

nav ul a:hover {
    color: #ffffff;
    text-decoration: none;
}

nav ul ul a:hover { 
    background-color: #e2d8b9;
    color: gray;
}

nav { 
    /*border-radius:4px;*/
    box-shadow:2px 2px 2px rgba(0,0,0,.75);

    background-image:-moz-linear-gradient(0% 22px 90deg, #FBE080, #999); 
    /*background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#999), to(#7592be));  */
    
    /*-moz-border-radius:4px;*/
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,.75);

/*    -webkit-border-radius:4px;*/
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.75); 
}

nav li:hover { 
    background-image:-moz-linear-gradient(0% 100px 90deg, #999, #FBE080); 
    /*background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#FBE080), to(#999)); */
    background-color: red;
}

.LinkMenuActivo{
  background-color: red;
}

.LinkMenuInActivo{
   background-color: gray;
}

nav ul ul li:hover{
    background-color:rgba(253,237,178,.6);
}
nav ul ul { 
    border-bottom-left-radius:4px; 
    border-bottom-right-radius:4px;
    box-shadow:2px 2px 2px rgba(0,0,0,.8); 
    background-color:rgba(255,255,255,.98); 

    /*-moz-box-shadow:2px 2px 2px rgba(0,0,0,.8); 
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8); 
    
    -moz-border-radius-bottomleft:4px; 
    -moz-border-radius-bottomright:4px; 
    -webkit-border-bottom-left-radius:4px; 
    -webkit-border-bottom-right-radius:4px;  */
}

nav ul ul li { 
    border-left:1px solid rgba(0,0,0,0.1); 
    border-right:1px solid rgba(0,0,0,0.1); 
}

nav ul ul li.ultimo, nav ul ul li.ultimo:hover { 
    border-left:1px solid rgba(0,0,0,0.1); 
    border-bottom:1px solid rgba(0,0,0,0.1);
    border-bottom-left-radius:4px; 
    border-bottom-right-radius:4px;  
    
    /*-moz-border-radius-bottomleft:4px; 
    -moz-border-radius-bottomright:4px; 
    -webkit-border-bottom-left-radius:4px; 
    -webkit-border-bottom-right-radius:4px;*/ 
}

nav ul ul a:hover {
    background-color:rgba(240,232,203,.9);
}

#MenuNav ul li a.uno, #MenuNav ul li a.dos {background-color: red;}

.flechabot {
    border-color: transparent transparent white transparent;
    border-style:solid;
    border-width:5px;
    width:0;
    height:0;
    margin-top: .5em;
}
