[buildout]
develop = .
parts = test checker coverage-test coverage-report py
versions = versions


[versions]
setuptools = 7.0
distribute = 0.7.3
zc.buildout = 1.7.0


[test]
recipe = zc.recipe.testrunner
eggs = p01.recipe.cdn [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/p01/recipe/cdn


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.recipe.cdn [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')


[py]
recipe = zc.recipe.egg
eggs = p01.recipe.cdn
interpreter = python

