[buildout]
develop = .
parts = test nginx elasticsearch-dist
package = gocept.amqparchive
allow-picked-versions = false
versions = versions

[versions]
# taken from native-queue-buildout/versions/versions.cfg
ZConfig = 2.8.0
amqplib = 0.6.1
gocept.amqprun = 0.10
gocept.download = 0.9.5
gocept.selenium = 0.10.1
gocept.testing = 1.3
lovely.recipe = 1.0.0
lxml = 2.3
mock = 0.7.2
pika = 0.5.2
plone.testing = 4.0.2
pyes = 0.16.0
selenium = 2.0.1
setuptools = 11.3.1
tcpwatch = 1.3.1
transaction = 1.1.0
unittest2 = 0.5.1
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.0
zc.recipe.testrunner = 2.0.0
zope.component = 3.9.5
zope.component = 3.9.5
zope.configuration = 3.7.2
zope.event = 3.5.0-1
zope.exceptions = 3.6.1
zope.i18nmessageid = 3.5.2
zope.interface = 3.6.1
zope.schema = 3.6.4
zope.testing = 3.10.0
zope.testrunner = 4.0.1
zope.xmlpickle = 3.4.0

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:package} [test]
environment = testenv

[testenv]
NGINX_CONFIG = ${nginx:path}
NGINX_HOSTNAME = localhost:8085
ELASTIC_HOME = ${elasticsearch-dist:location}
ELASTIC_HOSTNAME = localhost:9212

[elasticsearch-dist]
recipe = gocept.download
url = https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-0.18.7.tar.gz
md5sum = c4de29abf930693b0a4290df3250e128

[nginx]
recipe = lovely.recipe:mkfile
path = ${buildout:directory}/parts/test/nginx.conf
content =
    pid ${buildout:directory}/parts/test/test-nginx.pid;
    lock_file ${buildout:directory}/parts/test/test-nginx.lock;
    error_log ${buildout:directory}/parts/test/test-nginx-error.log;
    worker_processes 1;
    events {
        worker_connections 1024;
    }
    http {
        access_log ${buildout:directory}/parts/test/test-nginx-access.log;

        upstream elasticsearch {
            server ${testenv:ELASTIC_HOSTNAME};
        }

        server {
            listen ${testenv:NGINX_HOSTNAME};

            location /search/ {
                alias ${buildout:directory}/src/gocept/amqparchive/browser/;
                index index.html;
            }

            # trial&error says *both* trailing slashes are needed
            location /elasticsearch/ {
                proxy_pass http://elasticsearch/;
            }
        }
    }
