#ctxmenu {
    border: 1px solid #555555;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #888;
    min-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 666666;
}

#ctxmenu ul {
    list-style: none;
    padding-left: 0px;
}

#ctxmenu header {
    font-weight: bold;
    font-size: 110%;
    border-bottom: 1px solid #555555;
}