
.popover-content ul {
    margin: 0;
    padding-left: 10px;
    text-align: left;
}

th span.glyphicon {
    font-size: 10px;
    visibility: hidden;
}

th span.show_sort {
    visibility: visible;
}

