#quickupload-viewlet {
    margin-top: 20px;
}

#folderlisting-paste-button{
	margin: 8px 0px;
}

/* EDIT POPUP */
#edit-popup h1 {
    background: none repeat scroll 0 0 #75AD0A;
    color: #FFFFFF;
    font-size: 1.9em;
    line-height: 1em;
    padding: 0.4em;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
}

#edit-popup-buttons a{
	display: inline-block;
	font-size:100%;
    font-weight:bold;
	color:#fff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px; border-radius:6px;
	padding:5px 10px 6px;
	text-shadow:0 -1px 0px rgba(0,0,0,0.25);
	moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-o-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	cursor:pointer;
	background-color:#bfd255;
	background:-moz-linear-gradient(top,#bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bfd255),color-stop(50%,#8eb92a),color-stop(51%,#72aa00),color-stop(100%,#9ecb2d));
	background:-webkit-linear-gradient(top,#bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	background:-o-linear-gradient(top,#bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	background:-ms-linear-gradient(top,#bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	background:linear-gradient(top,#bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
}
#edit-popup-buttons a:hover{
	text-decoration: none;
}
#edit-popup-external-edit-button,
#edit-popup-online-edit-button {
	padding-top:0.6em;
}

#edit-popup-warning-externaleditor {
	clear:both;
}

#edit-popup #edit-popup-online-edit-button,
#edit-popup #edit-popup-external-edit-button,
#edit-popup .transition {
	float:left;
	display:block;
	margin-right:1em
}

#edit-popup-transitions form{
	padding:0.5em 1em;
}

#edit-popup #edit-popup-transitions{
	padding-top: 16px;
}

pb-ajax #edit-popup-buttons,
#edit-popup .edit-popup-help,
#edit-popup #edit-popup-buttons,
#edit-popup #edit-popup-warning-externaleditor,
#edit-popup #edit-popup-download-externaleditor{
	padding:0.8em 1em
}

#edit-popup h2 {
    font-size:1.4em;
    padding-left: 0.8em;
}

#edit-popup .documentActions{
	display:none
}

#edit-popup #validate-button input{
	margin-top: -6px;
}

/* TABLE */

#foldercontents-modified-column{
	width: 10em;
}
.foldercontents-modified-cell{
	white-space: nowrap;
}