
[group upsprod]
packages = upsinit

[package upsinit]
version = {ups_version}
features = upsinit
install_dir = 

[group gnuprog]
packages = hello, bc
features = tarball, autoconf, makemake, upsprod

# defaults for the group, exploit GNU's nice symmetries
srcpkg_ext = tar.gz
source_unpacked = {package}-{version}
source_package = {source_unpacked}.{srcpkg_ext}
source_url = http://ftp.gnu.org/gnu/{package}/{source_package}
unpacked_target = configure
prepare_target = config.status
userenv_PATH = prepend:{install_dir}/bin



[package hello]
version = 2.8
depends = prepare:bc_install
build_target = src/hello
install_target = bin/hello
ups_qualifiers = x0:opt
buildenv_CFLAGS=-O2


[package bc]
version = 1.06 
gnu_name = bc
build_target = bc/bc
install_target = bin/bc

[keytype]
groups = group
packages = package

