
# This worch config file produces a UPS products repository which is
# coincident with the worch package installation directory.

[start]
groups = upsprod, gnuprog

includes = defaults.cfg

ups_version = 5.1.2
ups_products_dir = {PREFIX}

# finally, here we make the coincidence between worch worlds and UPS worlds
install_dir = {ups_products_dir}/{ups_product_subdir}

# We are gonna need this in all packages
tools = worch.upstools
