
# This worch config file produces a UPS products repository which is
# coincident with the worch package installation directory.

[start]
groups = gnuprog

includes = defaults.cfg

ups_products_dir = upsproducts

# keep installation location distinct from UPS products area
install_dir = {PREFIX}/generic/{package}/{version}

# We are gonna need this in all packages
tools = worch.upstools
