
/******************************
 * Main Layout
 ******************************/

html, body, #body-wrapper {
    height: 100%;
}

body > #body-wrapper {
    height: auto;
    min-height: 100%;
}

#body-wrapper {
    margin: 0px auto;
    width: 1000px;
}

#header {
    height: 50px;
    line-height: 50px;
}

#body {
    padding-top: 10px;
    padding-bottom: 5em;
}

#footer {
    clear: both;
    margin-top: -4em;
    text-align: center;
}


/******************************
 * Header
 ******************************/

#header h1 {
    float: left;
    font-size: 25px;
    margin: 0px;
}

#header h1.title {
    font-size: 20px;
    margin-left: 10px;
}

#header div.login {
    float: right;
}


/******************************
 * Logo
 ******************************/

#logo {
    display: block;
    margin: 40px auto;
}
