[buildout]
find-links = http://pypi.python.org/simple/lovely.buildouthttp
             http://pypi.python.org/simple/zc.buildout
             http://pypi.python.org/simple/setuptools
             http://pypi.python.org/simple/distribute
develop = .
parts = test checker coverage coveragereport py
versions = versions


[versions]
setuptools = 7.0
distribute = 0.7.3
#zc.buildout = 2.2.3
zc.buildout = 1.7.0


[test]
recipe = zc.recipe.testrunner
eggs = j01.jsonrpc [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/j01/jsonrpc


[coverage]
recipe = zc.recipe.testrunner
eggs = j01.jsonrpc [test]
defaults = ['--all', '--coverage', '../../coverage']


[coveragereport]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/coverage', 'parts/coverage/report')


[py]
recipe = zc.recipe.egg
eggs = j01.jsonrpc
interpreter = python
