/* =Helpers */
.pointer {
  cursor: pointer;
}

.formHelp {
  font-size: 90%;
  color: #808285;
  margin: 0 0 0.2em 0;
  display: block;
}

.pull-left {
  float: left;
}

.eea-geotags-popup {
  box-shadow: 0 0 100px #000;
  border-radius: 0;
}

.eea-geotags-popup .ui-dialog-titlebar {
  background: #fff;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
}

/* Dialog */
.geo-dialog {
  width: 100%;
  height: 100%;
}

.eea-geotags-popup .ui-dialog-titlebar-close {
  visibility: hidden;
}

.geo-splitter {
  border: 1px solid #8CACBB;
  width: 100%;
  height: 100%;
}

.geo-splitter .vsplitbar {
  width: 5px;
  background-color: #ffffff;
}

.geo-splitter .vsplitbar a {
  text-decoration: none;
  color: #8CACBB;
  font-size: 18px;
  border: 1px solid #8CACBB;
  background-color: #ffffff;

  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.geo-splitter .vsplitbar a:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
}

.geo-splitter .vsplitbar a {
  float: right;
  margin-left: 0;
  margin-right: 4px;
  padding: 5px 5px 10px 5px;
  border-style: none none solid solid;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;
}

.geo-leftside .vsplitbar a {
  float: left;
  margin-left: 4px;
  border-style: none solid solid none;
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px;
}

.geo-left {
  z-index: 1020 !important;
}

/* Left panel */
.geo-sidebar {
  height: 99%;
  overflow: hidden;
}

.geo-sidebar-area {
  height: 100%;
  border: none;
  min-width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.geo-sidebar-area li {
  display: list-item;
}
.geo-sidebar-area .panes {
  border: 1px solid #DDDDDD;
  border-top-width: 0;
}

.geo-results-search label {
  display: block;
  line-height: 2em;
  margin: 1em 0;
  text-align: left;
}

.geo-results-search > label > span {
  width: 100%;
  display: inline-block;
}
.geo-sidebar-button {
  height: 100%;
  font-size: 18px;
  color: #8CACBB;
  cursor: pointer;
  border: 1px solid #8CACBB;
  border-right-style: none;
}

.geo-sidebar-button div {
  height: 30px;
}

.geo-sidebar-button:hover {
  background-color: #e9efcd;
}

.geo-hints {
  background: #FBF9EE;
  border: 1px dotted #95b229;

}
.geo-hints ol,
.geo-hints ul {
    list-style-type: square;
}

.geo-hints legend {
  margin-left: 1em;
}

.geo-suggestions {
  background: #FBF9EE;
  border: 1px dotted #95b229;
  padding: 1em;
  margin-top: 0.5em;
}

/* Sidebar area search results
------------------------------ */
.geo-results {
  padding: 0;
}

.geo-results form {
  width: 100%;
}

.geo-results select {
  width: 100%;
}

.geo-results input[type=text] {
  width: 75%;
}

.geo-results input[type=submit] {
  width: 20%;
}

.geo-results-area {
  height: 85%;
  overflow: auto;
}

.geo-results-area h3, .geo-results-area h4 {
  margin: 0;
}

.geo-results-area .geo-point-view {
  cursor: pointer;
}

.geo-point-view {
  padding: 1em;
}

.geo-point-view .title {
  color: #578308;
  cursor: pointer;
  font-size: 115%;
  font-weight: normal;
}

.geo-point-view .subtitle {
  color: #495B6B;
  font-size: 95%;
  font-weight: normal;
}

.geo-point-view .tags {
  color: #95B229;
  font-size: 85%;
  font-weight: normal;
}

.geo-point-view:hover {
  background: #FBF9EE;
  border: 1px dotted #95b229;
}

.geo-mapcanvas {
  height: 100%;
  border: 1px solid #8CACBB;
}

.geo-preview-mapcanvas {
  height: 400px;
  border: 1px solid #8CACBB;
}

.geo-marker {
  padding-bottom: 1em;
  border: 1px dotted #ffffff;
  cursor: pointer;
}

.geo-marker .ui-icon {
  float: right;
  visibility: hidden;
  cursor: pointer;
}

.geo-marker:hover .ui-icon {
  visibility: visible;
}

.geo-marker:hover {
  background: #FBF9EE;
  border-color: #95b229;
}

.geo-marker .title {
  color: #578308;
  cursor: pointer;
  font-size: 115%;
  font-weight: normal;
}

.geo-marker .subtitle {
  color: #495B6B;
  font-size: 95%;
  font-weight: normal;
}

.geo-marker .tags {
  color: #95B229;
  font-size: 85%;
  font-weight: normal;
}

.geo-marker h3, .geo-marker h4 {
  margin: 0;
}

.geo-preview-marker {
  padding-bottom: 1em;
  border: 1px dotted #ffffff;
  cursor: pointer;
}

.geo-preview-marker .title {
  color: #578308;
  cursor: pointer;
  font-size: 115%;
  font-weight: normal;
}

.geo-preview-marker .subtitle {
  color: #495B6B;
  font-size: 95%;
  font-weight: normal;
}

.geo-preview-marker .tags {
  color: #95B229;
  font-size: 85%;
  font-weight: normal;
}

.geo-preview-marker h3, .geo-preview-marker h4 {
  margin: 0;
}

.geo-loading {
  background: url(../../++resource++geo-images/ajax-loader-small.gif) no-repeat center top;
  height: 11px;
}

/* */

/* Advanced tab */
.geo-advanced select {
  width: 100%;
}

/* Right panel */
.geo-right {
  border-right: 1px solid #8CACBB;
  height: 100%;
}

.geo-basket {
  height: 100%;
  overflow: hidden;
}
.geo-basket .geo-hints {
  margin: 0.5em 0.5em 1.5em 0.5em;
}
.geo-basket .ui-icon,
.geo-point-view .ui-icon {
  float: right;
  cursor: pointer;
}

.geo-basket-area h2,
.eea-accordion-panel > h2,
.geo-basket-area h2.ui-state-default {
  padding: 0.5em;
  font-weight: normal;
  margin: 0;
  font-size: 16px;
  background-color: #777c1f;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b1c748), to(#777c1f));
  background-image: -webkit-linear-gradient(center top , #b1c748, #777c1f);
  background-image:    -moz-linear-gradient(center top , #b1c748, #777c1f);
  background-image:     -ms-linear-gradient(center top , #b1c748, #777c1f);
  background-image:      -o-linear-gradient(center top , #b1c748, #777c1f);
  color: #FFF;
}

.geo-sidebar-area .eea-accordion-panel > h2 {
  font-size: 150%;
}
.eea-accordion-title .ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.8em;
}

.geo-basket-area {
  height: 100%;
}

.geo-basket-area h3, .geo-basket-area h4 {
  margin: 0;
}

.geo-basket-items {
  padding: 1em 1em 1em 0.5em;
  height: 92%;
  overflow: auto;
}

.geo-basket-items .ui-pulsate-item {
  background-color: #e9efcd;
}

/* View macro */
#eeaEsriMap {
  padding: 0;
  height: 400px;
  width: 100%;
  border: 2px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px #ADADAD;
  -moz-box-shadow: 2px 2px 4px #ADADAD;
  box-shadow: 2px 2px 4px #ADADAD;
  margin: 1em 0;
}

.ui-dialog #eeaEsriMap{
  border: 0;
  margin: 0;
  overflow: hidden;
}

#eeaEsriMap table{
  display: table;
}

.eea-location-listing {
  text-align: left;
  color: #666;
  line-height: 2em;
}
.eea-location-listing.events {
  text-align: left;
}

.eea-location-listing a {
  color: black;
  display: inline-block;
  background: #ECECEC;
  padding: 0 5px;
  margin: 2px 0;
  font-size: 10px;
  word-break: keep-all;
}

.eea-location-listing a:hover {
  background: orange;
  color: white !important;
  border-color: #205c90;
}

#eeaEsriMapLoadingImg {
  position: relative;
  margin-left: 48%;
  margin-top: 30%;
  z-index:100;
}

div .esriScalebar {
  position: relative;
  margin-top: -15px;
}

.visualHidden {
  display: none;
}

.esriInfoImg {
  float: left;
  margin: 5px;
}

.esriPopup .contentPane {
  max-height: 200px !important;
}


.filters-ctl {
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
}

.filters-area {
  font-weight: bold;
}
.filters-area label {
  display: inline-block;
  width: 92%;
  padding-left: 0.4em;
  cursor: pointer;
}

.filters-area .eea-icon {
  display: inline-block;
  vertical-align: bottom;
  float: right;
  margin-top: -3em;
}

.input-block {
  display: block;
  width: 100%;
}

