code {
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  color: #333333;
  display: block;
  margin: 0 0 10px;
  padding: 9.5px;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  box-shadow: 30px 0 0 #fff inset, 31px 0 0 #ddd inset;
}

ol.codeline li {
  padding: 0.2em 0.5em;
}

.code-result { border: 1px solid #E3E3E3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}

/* Exemple classes */
.bsd-exemple div.dropdown ul.dropdown-menu {
 display: block }

.bts-red-borders {
  border:1px solid red }

.fa-toggle-boxes:before {
  content: "";
}
